﻿<div ncy-breadcrumb></div>

<div class="row">
    <div class="columns">
        <h1>Wheel Brands</h1>
    </div>
</div>


<div class="row align-center">
    <div class="small-12 column">
        <div id="brands-list" class="row small-up-1 medium-up-3 large-up-5 brands">
            <div class="column" ng-repeat="brand in brands">
                <a href="#brand/{{brand.Id}}">{{brand.BrandName}} ({{brand.Count}})</a>
            </div>
        </div>
    </div>
</div>
