﻿
<div class="row filters hide">
  <div class="columns">
    <div class="box-normal">
      <div class="row">
        <div class="columns">
          <ul class="dropdown menu filterList hide" data-dropdown-menu>
            <li>
              <a href="#">Image Type <i class="fa fa-angle-down"></i></a>
              <ul class="menu">
                <li><a href="#">All</a></li>
                <li><a href="#">Studio Image</a></li>
                <li><a href="#">Customer Photo</a></li>
              </ul>
            </li>
            <li class="hide">
              <a href="#">Submodel <i class="fa fa-angle-down"></i></a>
              <ul class="menu">
                <li><a href="#">All</a></li>
                <li><a href="#">EcoBoost</a></li>
                <li><a href="#">EcoBoost Premium</a></li>
                <li><a href="#">GT</a></li>
                <li><a href="#">GT Performance</a></li>
                <li><a href="#">GT Premium</a></li>
                <li><a href="#">Shelby GT350</a></li>
                <li><a href="#">Shelby GT350R</a></li>
                <li><a href="#">V6</a></li>
                <li><a href="#">V6 Performance Pkg</a></li>
              </ul>
            </li>
            <li class="hide">
              <div class="input-group">
                <span class="input-group-label">Tags</span>
                <input class="input-group-field noBorder" type="text">
                <div class="input-group-button">
                  <input type="submit" class="button" value="Go">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="height:0.5em;"></div>
<div class="row small-up-2 medium-up-2 studioVehicleList">
</div>
