﻿
<ul id="availableSizes" class="tabs" data-tabs>
  <li class="tabs-title"><a href="#size1">18"</a></li>
  <li class="tabs-title is-active"><a href="#size2" aria-selected="true">20"</a></li>
</ul>
<div class="tabs-content" data-tabs-content="availableSizes">
  <div id="size1" class="tabs-panel">
    <!-- Wheel Options for Size --->
    <fieldset>
      <legend>Please Select an Option</legend>
      <input type="radio" class="wheelSizeOption text-center" name="wheelOptions" value="255/40-19" id="frt1">
      <label for="frt1">

        <h5>18" x 8" </h5>

        <table class="specsTable">
          <tr>
            <td width="50%">Front</td>
            <td width="50%">Rear</td>
          </tr>
          <tr>
            <td>Offset: 35</td>
            <td>---</td>
          </tr>
          <tr>
            <td>Weight: n/a</td>
            <td>---</td>
          </tr>
          <tr>
            <td>
              <div class="productPricing">
                <span class="price">$326.25</span> <small>ea.</small>
                <div class="meta">
                  <small>Price as of 8/31/2016</small>
                </div>
                <div class="availability">
                  1033 available
                </div>
                <div class="qtyBox">
                  Qty.
                  <input type="number" value="4" style="width:60px;">
                </div>
              </div>
            </td>
            <td>---</td>
          </tr>
        </table>

        <span class="actions">
          <span class="productTotal">
            <small>TOTAL</small><br />
            <span class="totalPrice">$1,245.00</span><br />
          </span>
          <a href="" class="button addWheels">Add To List</a>
        </span>

      </label>

      <input type="radio" class="wheelSizeOption text-center" name="wheelOptions" value="265/35-19" id="frt2">
      <label for="frt2">

        <h5>18" x 8" / 18" x 10"</h5>

        <table class="specsTable">
          <tr>
            <td width="50%">Front</td>
            <td width="50%">Rear</td>
          </tr>
          <tr>
            <td>Offset: 35</td>
            <td>Offset: 42</td>
          </tr>
          <tr>
            <td>Weight: n/a</td>
            <td>Weight: n/a</td>
          </tr>
          <tr>
            <td>
              <div class="productPricing">
                <span class="price">$326.25</span> <small>ea.</small>
                <div class="meta">
                  <small>Price as of 8/31/2016</small>
                </div>
                <div class="availability">
                  1033 available
                </div>
                <div class="qtyBox">
                  Qty.
                  <input type="number" value="2" style="width:60px;">
                </div>
              </div>
            </td>
            <td>
              <div class="productPricing">
                <span class="price">$346.00</span> <small>ea.</small>
                <div class="meta">
                  <small>Price as of 8/31/2016</small>
                </div>
                <div class="availability">
                  1033 available
                </div>
                <div class="qtyBox">
                  Qty.
                  <input type="number" value="2" style="width:60px;">
                </div>
              </div>
            </td>
          </tr>
        </table>

        <span class="actions">
          <span class="productTotal">
            <small>TOTAL</small><br />
            <span class="totalPrice">$1,336.00</span><br />
          </span>
          <a href="" class="button addWheels">Add To List</a>
        </span>
      </label>
    </fieldset>
  </div>
  <div id="size2" class="tabs-panel is-active">
    <!-- Wheel Options for Size --->
    <fieldset>
      <legend>Please Select an Option</legend>
      <input type="radio" class="wheelSizeOption text-center" name="wheelOptions" value="255/40-19" id="frt3">
      <label for="frt3">
        <h5>20" x 8.5" </h5>
        <table class="specsTable">
          <tr>
            <td width="50%">Front</td>
            <td width="50%">Rear</td>
          </tr>
          <tr>
            <td>Offset: 35</td>
            <td>---</td>
          </tr>
          <tr>
            <td>Weight: n/a</td>
            <td>---</td>
          </tr>
          <tr>
            <td>
              <div class="productPricing">
                <span class="price">$326.25</span> <small>ea.</small>
                <div class="meta">
                  <small>Price as of 8/31/2016</small>
                </div>
                <div class="availability">
                  1033 available
                </div>
                <div class="qtyBox">
                  Qty.
                  <input type="number" value="4" style="width:60px;">
                </div>
              </div>
            </td>
            <td>---</td>
          </tr>
        </table>

        <span class="actions">
          <span class="productTotal">
            <small>TOTAL</small><br />
            <span class="totalPrice">$1,845.00</span><br />
          </span>
          <a href="" class="button addWheels">Add To List</a>
        </span>

      </label>

      <input type="radio" class="wheelSizeOption text-center" name="wheelOptions" value="265/35-19" id="frt4">
      <label for="frt4">
        <h5>20" x 8.5" / 20" x 10"</h5>
        <table class="specsTable">
          <tr>
            <td width="50%">Front</td>
            <td width="50%">Rear</td>
          </tr>
          <tr>
            <td>Offset: 35</td>
            <td>Offset: 42</td>
          </tr>
          <tr>
            <td>Weight: n/a</td>
            <td>Weight: n/a</td>
          </tr>
          <tr>
            <td>
              <div class="productPricing">
                <span class="price">$326.25</span> <small>ea.</small>
                <div class="meta">
                  <small>Price as of 8/31/2016</small>
                </div>
                <div class="availability">
                  1033 available
                </div>
                <div class="qtyBox">
                  Qty.
                  <input type="number" value="2" style="width:60px;">
                </div>
              </div>
            </td>
            <td>
              <div class="productPricing">
                <span class="price">$346.00</span> <small>ea.</small>
                <div class="meta">
                  <small>Price as of 8/31/2016</small>
                </div>
                <div class="availability">
                  1033 available
                </div>
                <div class="qtyBox">
                  Qty.
                  <input type="number" value="2" style="width:60px;">
                </div>
              </div>
            </td>
          </tr>
        </table>

        <span class="actions">
          <span class="productTotal">
            <small>TOTAL</small><br />
            <span class="totalPrice">$1,965.00</span><br />
          </span>
          <a href="" class="button addWheels">Add To List</a>
        </span>

      </label>
    </fieldset>
  </div>
</div>

