﻿@{
  ViewBag.Title = "Wheel Studio";
  Layout = "~/Views/Shared/_Layout_Minimal.cshtml";
}

<div id="content" class="page">
  <div class="row show-for-small-only">
    <div class="columns">
      <a class="toggleLink clearButton w100" data-toggletarget='#sidebar'>Vehicle Info </a>
    </div>
  </div>

  <div class="row">
    <div id="sidebar" class="columns" data-sticky-container>
      <div class="sidebar sticky" data-sticky data-margin-top="7" data-anchor="sidebar">
        <div class="sidebar-section">
          @Html.Partial("_VehicleSelection")
        </div>
        @* Hidden until developed
            <div class="sidebar-section">
              <h5>Wheels</h5>
              @Html.Partial("_UserWheels")

              <h5 style="margin-top:1.5em">Tires</h5>
              @Html.Partial("_UserTires")
            </div>

          <div class="sidebar-section actions">
            <a href="/shoppingList.php">Debug: Positions</a>
          </div>        *@
      </div>
    </div>

    <div class="columns pageBody">

      <h1 class="pageTitle">Wheels</h1>

      <div class="yesSubmodel">
        <div id="vtws">
          <!-- Main Vehicle Image -->
          <div id="vtws-mainImage" data-toggler=".hide">

            <!-- Action Buttons -->
            <div id="vtws-mainActions">
              <div class="row">
                <div class="columns">
                  <a id="vtws-changeVehicle" data-open="vtws-imageSelect" class="button button-small">Change Image</a>
                </div>
                <div class="columns text-right">
                  <a id="vtws-brightness" class="button button-small"><i class="fa fa-sun-o"></i></a>
                  <a id="vtws-flipx" class="button button-small"><i class="fa fa-exchange"></i> <span>Flip Wheels</span></a>
                  <a class="button button-small lauchTour"><i class="fa fa-question-circle"></i></a>
                </div>
                <div id="vtws-brightnessSlider" style="display:none;">
                  <div class="vtws-editControls">
                    <span class="vtws-controlLabel">
                      <i class="fa fa-sun-o"></i>
                    </span>
                    <input id="vtws-brightnessSliderInput" type="range" class="vtws-rangeSlider" min="-255" max="255" value="0" />
                  </div>
                  <div class="vtws-editControls">
                    <span class="vtws-controlLabel">
                      <i class="fa fa-circle"></i>
                    </span>
                    <input id="vtws-contrastSliderInput" type="range" class="vtws-rangeSlider" min="-255" max="255" value="0" />
                  </div>
                </div>
              </div>
            </div>

            <!-- Main Vehicle -->
            <div id="vtws-mainVehicle">
              <div class="vtws-vehicleWrapper">
                <canvas id="v" crossOrigin="anonymous"></canvas>
              </div>
              <div id="vtws-swatches"></div>
            </div><!--mainVehicle-->
          </div>

          <!--- Select Image --->
          <div id="vtws-imageSelect" class="large reveal" data-reveal>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
            @Html.Partial("_VTWSImageSelect")
          </div>
        </div>
        
        <!-- Product Listing -->
        @*Html.Partial("_FilterWheels")*@

        <div id="vtws-product-grid" class="productGrid" data-equalizer="wheels"></div>
      </div>
    </div>
  </div>
</div>

<!-- Joyride Outline -->
<ol id="vtws-tour" class="show">
  <li data-id="vtws-changeVehicle" data-button="Next" data-options="tipLocation:bottom;">
    <h2>Change Vehicle Image</h2>
    <p>Choose from our vehicle image library of images, or upload your own.</p>
  </li>
  <li class="vtwsTour-mainWindow" data-id="v" data-button="Next" data-options="tipLocation:bottom;">
    <h2>Touch And Reposition</h2>
    <p>You can press on the wheels and resize, reposition and rotate each wheel to put them exactly where you want them.</p>
  </li>
  <li class="vtwsTour-left" data-id="vtws-brightness" data-options="tipLocation:left;">
    <h2>Edit Brightness and Contrast of the Wheel Image</h2>
    <p>This button will open controls that will let you adjust the brightness and contrast of the wheels to more closely match that of the vehicle image.</p>
  </li>
  <li class="vtwsTour-left" data-id="vtws-flipx" data-button="Close" data-options="tipLocation:left;">
    <h2>Flip Wheels</h2>
    <p>If the wheels are facing the wrong direction, flip the horizontally with this button.</p>
  </li>
</ol>

<!-- Change Vehicle Modal -->
<div class="reveal" id="addOptions" data-reveal data-animation-in="hinge-in-from-top" data-animation-out="hinge-out-from-top">
  <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true">&times;</span></button>
  <h2 class="headerPadded">Please Select Your Product Options</h2>
  @Html.Partial("_WheelSizeOptions")
</div>

<!-- Customize Wheel Modal -->
<div class="reveal" id="paintWheel" data-reveal data-animation-in="hinge-in-from-top" data-animation-out="hinge-out-from-top">
  <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true">&times;</span></button>
  @Html.Partial("_PaintWheel")
</div>
