﻿@{
  ViewBag.Title = "Wheel Studio";  
}

<div id="content" class="page">
  <div class="row show-for-small-only">
    <div class="columns">
      <a class="toggleLink clearButton w100" data-toggletarget='#sidebar'>Vehicle Info </a>
    </div>
  </div>

  <div class="row">
    <div id="sidebar" class="columns" data-sticky-container>
      <div class="sidebar sticky" data-sticky data-margin-top="7" data-anchor="sidebar">
        <div class="sidebar-section">
          @* @Html.Partial("_VehicleSelection") *@
          
          <!--- Vehicle Selector --->
          <div id="vtws-vehicle-selector"></div>

        </div>
        @* Hidden until developed
            <div class="sidebar-section">
              <h5>Wheels</h5>
              @Html.Partial("_UserWheels")

              <h5 style="margin-top:1.5em">Tires</h5>
              @Html.Partial("_UserTires")
            </div>

          <div class="sidebar-section actions">
            <a href="/shoppingList.php">Debug: Positions</a>
          </div>        
        *@
      </div>
    </div>

    <div class="columns pageBody">

      <h1 class="pageTitle">Wheels</h1>

     <!--- Wheel Studio Stage --->
      <div id="vtws-wheel-studio"></div>

        <br />
        <div class="callout primary">Please note, this site, and the wheels listed below are <strong>for demonstration purposes only</strong>. They are just a few examples to demonstrate functionality and do not take into account fitment. </div>

        <!-- Product Listing -->
        @Html.Partial("_FilterWheels")

        <div id="productGrid" class="productGrid" data-equalizer="wheels">
          @for(var x = 0; x <= 3; x++) {
            <div class="wheelTile">
              <div class="tileContent">
                <div class="productImage">
                  <a class="vtws-wheel-selector" data-vtws-wheel-part-number="km694" href="#"><img crossOrigin="anonymous" src="~/Content/images/wheels/km694/km694_black.png" width="500" height="500" alt="KMC KM694" /></a>
                </div>
                <div class="productBrand">KMC</div>
                <div class="productName">KM694 Wishbone</div>
                <div class="productFinish">Satin Black</div>
                <div class="productOptions">
                  <ul class="wheelSizeOptions">
                    <li>19"</li>
                    <li>20"</li>
                  </ul>
                </div>
                <div class="productInfo">
                  <small>Starting At:</small>
                  <span class="price">$176</span> <small>ea.</small>
                </div>
                <div class="actions">
                  <a class="button button-small button-gray vtws-wheel-selector" data-vtws-wheel-part-number="km694" href="#">Preview</a>
                  <a class="button button-small" data-open="addOptions">Add to Build</a>
                </div>

              </div>
            </div>
            <div class="wheelTile">
              <div class="tileContent">
                <div class="productImage colorable">
                  <a class="vtws-wheel-selector" data-vtws-wheel-part-number="VPS306" href="#"><img crossOrigin="anonymous" src="~/Content/images/wheels/VPS-306/VPS-306.png" width="476" height="480" alt="KMC KM694" /></a>
                </div>
                <div class="productBrand">Vossen</div>
                <div class="productName">VPS-306</div>
                <div class="productFinish">Customizable Finish</div>
                <div class="productOptions">
                  <ul class="wheelSizeOptions">
                    <li>19"</li>
                    <li>20"</li>
                    <li>21"</li>
                    <li>22"</li>
                  </ul>
                </div>
                <div class="productInfo">
                  <small>Starting At:</small>
                  <span class="price">$1,350</span> <small>ea.</small>
                </div>
                <div class="actions">
                  <a class="button button-small button-gray vtws-wheel-selector" data-vtws-wheel-part-number="VPS306" href="#">Preview</a>
                  <a class="button button-small" data-open="addOptions">Add to List</a>
                </div>

              </div>
            </div>
            <div class="wheelTile">
              <div class="tileContent">
                <div class="productImage">
                  <a class="vtws-wheel-selector" data-vtws-wheel-part-number="ANZA" href="#"><img crossOrigin="anonymous" src="~/Content/images/wheels/Anza/Anza_bronze.png" width="500" height="500" alt="KMC KM694" /></a>
                </div>
                <div class="productBrand">Fuel Off Road</div>
                <div class="productName">ANZA</div>
                <div class="productFinish">Matte Bronze w/ Black Ring</div>
                <div class="productOptions">
                  <ul class="wheelSizeOptions">
                    <li>17"</li>
                    <li>18"</li>
                  </ul>
                </div>
                <div class="productInfo">
                  <small>Starting At:</small>
                  <span class="price">$232</span> <small>ea.</small>
                </div>
                <div class="actions">
                  <a class="button button-small button-gray vtws-wheel-selector" data-vtws-wheel-part-number="ANZA" href="#">Preview</a>
                  <a class="button button-small" data-open="addOptions">Add to List</a>
                </div>

              </div>
            </div>
            <div class="wheelTile">
              <div class="tileContent">
                <div class="productImage">
                  <a class="vtws-wheel-selector" data-vtws-wheel-part-number="MR305" href="#"><img crossOrigin="anonymous" src="~/Content/images/wheels/MR_305/machined.png" width="500" height="500" alt="Method MR 305" /></a>
                </div>
                <div class="productBrand">Method Race Wheels</div>
                <div class="productName">MR305</div>
                <div class="productFinish">Matte Black Machined Face</div>
                <div class="productOptions">
                  <ul class="wheelSizeOptions">
                    <li>16"</li>
                    <li>17"</li>
                    <li>18"</li>
                    <li>20"</li>
                  </ul>
                </div>
                <div class="productInfo">
                  <small>Starting At:</small>
                  <span class="price">$183.50</span> <small>ea.</small>
                </div>
                <div class="actions">
                  <a class="button button-small button-gray vtws-wheel-selector" data-vtws-wheel-part-number="MR305" href="#">Preview</a>
                  <a class="button button-small" data-open="addOptions">Add to List</a>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>


<!--- Wheel Studio Script --->
<script type="text/javascript" src="//apps.velocity-tech.com/vtws-wheel-studio.js?t=22a0dd63-4ac3-486f-9aee-05831e36908c"></script>
<script type="text/javascript">
   $(document).ready(function(){
	  // Initialize Wheel Studio
	   vtwsInit();
   });
</script>



