/* FRAMEWORK FOR VELOCITY TECH RETAILERS */
@import 'https://fonts.googleapis.com/css?family=Oxygen:300,400,700';

body {
	font-family: 'Oxygen';	
}

/* FONTS */
h1,h2,h3,h4,h5,h6 {
	font-family: 'Oxygen';
}
h1 { font-size: 250%; font-weight:300; }
h2 { font-size: 180%; font-weight:300; }
h3 { font-size: 140%; font-weight:300; }
h4 { font-size: 120%; font-weight:700; text-transform:uppercase; }
h5 { font-size: 100%; font-weight:700; text-transform:uppercase; }