﻿<div class="bodyWrapper">

    <div class="breadcrumb">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="#home">Home</a> </li>
                <li><a href="#tokens">Accounts</a></li>
                <li>Account Details</li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="column">

            <h1>Wheel Studio Account</h1>

            <p>Please review our <a href="#documentation" target="_blank">documentation</a> for help with using the Photo Studio Widget.</p>

            <hr>

            <div class="row collapse">
                <div class="medium-3 columns">
                    <ul class="tabs vertical" id="widget-tabs">
                        <li class="tabs-title"><a href="" ng-click="details()" aria-selected="{{detailsActive}}">Details</a></li>
                        <li class="tabs-title"><a href="" ng-click="wheelBrands()" aria-selected="{{wheelsActive}}">Wheel Brands</a></li>
                        <!--<li class="tabs-title"><a href="">Tire Brands</a></li>-->
                    </ul>
                </div>
                <div class="medium-9 columns">
                    <div class="tabs-content vertical" data-tabs-content="widget-tabs">

                        <!---- DETAILS ---->
                        <div ng-if="detailsActive">

                            <div class="row">
                                <div class="column">
                                    <h4>Widget Details</h4>
                                </div>
                            </div>
                            <div style="height: 1.5em;"></div>

                            <div class="row">
                                <div class="small-12 medium-3 large-2 column">
                                    <label for="middle-label" class="text-right middle"><strong>Name</strong></label>
                                </div>
                                <div class="small-12 medium-6 large-5 column end">
                                    <input type="text" ng-model="account.AccountName">
                                </div>
                            </div>

                            <div style="height: 1.5rem;"></div>

                            <div class="row" ng-show="featuresAvailable">

                                <div class="small-12 medium-3 large-2 column">
                                    <label for="middle-label" class="text-right middle"><strong>Features</strong></label>
                                </div>
                                <div class="small-12 medium-9 large-10 column">

                                    <div class="switch tiny">
                                        <input class="switch-input" id="vehicleList" type="checkbox" ng-model="account.VehicleSelection">
                                        <label class="switch-paddle" for="vehicleList">
                                            <span class="show-for-sr">Vehicle Selection</span>
                                        </label>
                                    </div>
                                    <span class="switch-text">Vehicle Selection</span>
                                    <br>

                                    <div class="switch tiny">
                                        <input class="switch-input" id="vehicleImages" type="checkbox" ng-model="account.VehicleImages">
                                        <label class="switch-paddle" for="vehicleImages">
                                            <span class="show-for-sr">Vehicle Images</span>
                                        </label>
                                    </div>
                                    <span class="switch-text">Vehicle Images</span>
                                    <br>

                                    <div class="switch tiny">
                                        <input class="switch-input" id="wheelProduct" type="checkbox" ng-model="account.WheelProducts">
                                        <label class="switch-paddle" for="wheelProduct">
                                            <span class="show-for-sr">Wheel Products</span>
                                        </label>
                                    </div>
                                    <span class="switch-text">Wheel Products</span>
                                    <br>

                                    <div class="switch tiny">
                                        <input class="switch-input" id="tireProduct" type="checkbox" ng-model="account.TireProducts">
                                        <label class="switch-paddle" for="tireProduct">
                                            <span class="show-for-sr">Tire Products</span>
                                        </label>
                                    </div>
                                    <span class="switch-text">Tire Products</span>
                                    <br>

                                </div>
                                <div style="height: 1.5em;"></div>
                            </div>

                            

                            <div class="row">
                                <div class="small-12 medium-3 large-2 column">
                                    <label for="middle-label" class="text-right middle"><strong>Token</strong></label>
                                </div>
                                <div class="small-12 medium-6 large-5 column end">
                                    <input type="text" ng-model="account.Token">
                                </div>
                            </div>

                            <div style="height: 1.5em;"></div>

                            <div class="row">
                                <div class="small-12 medium-3 large-2 column">
                                    <label for="middle-label" class="text-right middle"><strong>Allowed Domains</strong></label>
                                </div>
                                <div class="small-12 medium-6 large-5 column end">
                                    <div ng-repeat="sub in account.SubAccounts">
                                        <input type="text" ng-model="sub.AccountUrl">    
                                    </div>
                                    
                                    <a href="" ng-click="addDomain()"><i class="fa fa-plus"></i> Add Domain</a>
                                </div>
                            </div>
                            
                            <div style="height: 1.5rem;"></div>
                            
                            <div class="row">

                                <div class="small-12 medium-3 large-2 column">
                                    <label for="middle-label" class="text-right middle"><strong>Cart</strong></label>
                                </div>
                                <div class="small-12 medium-9 large-10 column">

                                    <div class="switch tiny">
                                        <input class="switch-input" id="tireWeb" type="checkbox" checked ng-model="account.TireWeb">
                                        <label class="switch-paddle" for="tireWeb">
                                            <span class="show-for-sr">TireWeb</span>
                                        </label>
                                    </div>
                                    <span class="switch-text">POST Data to URL</span> 
                                    
                                    <div style="height: 1.5rem;" ng-if="account.TireWeb"></div>
                                    
                                    <span class="switch-text" ng-if="account.TireWeb">Base URL:</span>     
                                                                                                                                       
                                </div>                                                                                                
                            </div>
                            
                            <div class="row" ng-if="account.TireWeb">
                                <div class="small-12 medium-3 large-2 column">
                                </div>
                                <div class="small-12 medium-6 large-5 column end">
                                    <input type="text" ng-model="account.TireWebBaseUrl">
                                </div>
                            </div>
                            
                            <div style="height: 1.5rem;"></div>

                        </div>


                        <!---- WHEEL BRANDS ---->
                        <div ng-if="wheelsActive">
                            <div class="row">
                                <div class="column">
                                    <h4>Wheel Brands</h4>
                                </div>
                            </div>

                            <div style="height: 1.5rem;"></div>

                            <div class="row small-up-1 medium-up-3 large-up-4 brandList">
                                <div class="column" ng-repeat="ab in account.AccountBrands">
                                    <div class="card">
                                        <a href="#brand/{{ab.Brand.Id}}">{{ab.Brand.BrandName}}</a>
                                        <a href="" ng-click="removeBrand(ab.Brand.Id)" class="remove-brand"><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>                                
                            </div>

                            <hr>
                            <div ng-if="!hasAdminAccess">
                                <a href="" class="button secondary"><i class="fa fa-plus"></i> Add Brand Request</a>
                                <i class="fa fa-info fa-2x" tooltip-placement="right" uib-tooltip="Manufacturers have up to 7 days to approve or decline you. If no action is taken in those days, then you will be granted access by default." type="button" class="btn btn-default"></i>    
                            </div>
                            <div ng-if="hasAdminAccess" class="row small-up-1 medium-up-3 large-up-4">
                                <div class="column">
                                    <select ng-model="account.selectedBrand" ng-options="b.BrandName for b in brands track by b.Id" single></select>
                                </div>    
                                <div class="column">
                                    <a href="" ng-click="addBrand()" class="button secondary"><i class="fa fa-plus"></i>Add Brand</a>
                                </div>
                                <div class="column">
                                    <a href="" ng-click="addAllBrands()" class="button secondary"><i class="fa fa-plus"></i>Add All Brands</a>
                                </div>
                            </div>
                        </div>

                        <!---- TIRE BRANDS ---->
                        <div ng-if="tiresActive">
                            <div class="row">
                                <div class="column">
                                    <h4>Tire Brands</h4>
                                </div>
                            </div>

                            <div style="height: 1.5rem;"></div>

                            <div class="row small-up-1 medium-up-3 large-up-4 brandList">
                                <div class="column">
                                    <div class="card">
                                        <a href="brand.php">Tire Brand Name</a>
                                        <a href="" class="remove-brand"><span class="typcn typcn-trash typcn-sizeUp"></span></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="card">
                                        <a href="brand.php">Tire Brand Name</a>
                                        <a href="" class="remove-brand"><span class="typcn typcn-trash typcn-sizeUp"></span></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="card">
                                        <a href="brand.php">Tire Brand Name</a>
                                        <a href="" class="remove-brand"><span class="typcn typcn-trash typcn-sizeUp"></span></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="card">
                                        <a href="brand.php">Tire Brand Name</a>
                                        <a href="" class="remove-brand"><span class="typcn typcn-trash typcn-sizeUp"></span></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="card">
                                        <a href="brand.php">Tire Brand Name</a>
                                        <a href="" class="remove-brand"><span class="typcn typcn-trash typcn-sizeUp"></span></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="card">
                                        <a href="brand.php">Tire Brand Name</a>
                                        <a href="" class="remove-brand"><span class="typcn typcn-trash typcn-sizeUp"></span></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="card">
                                        <a href="brand.php">Tire Brand Name</a>
                                        <a href="" class="remove-brand"><span class="typcn typcn-trash typcn-sizeUp"></span></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="card">
                                        <a href="brand.php">Tire Brand Name</a>
                                        <a href="" class="remove-brand"><span class="typcn typcn-trash typcn-sizeUp"></span></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="card">
                                        <a href="brand.php">Tire Brand Name</a>
                                        <a href="" class="remove-brand"><span class="typcn typcn-trash typcn-sizeUp"></span></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="card">
                                        <a href="brand.php">Tire Brand Name</a>
                                        <a href="" class="remove-brand"><span class="typcn typcn-trash typcn-sizeUp"></span></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="card">
                                        <a href="brand.php">Tire Brand Name</a>
                                        <a href="" class="remove-brand"><span class="typcn typcn-trash typcn-sizeUp"></span></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="card">
                                        <a href="brand.php">Tire Brand Name</a>
                                        <a href="" class="remove-brand"><span class="typcn typcn-trash typcn-sizeUp"></span></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="card">
                                        <a href="brand.php">Tire Brand Name</a>
                                        <a href="" class="remove-brand"><span class="typcn typcn-trash typcn-sizeUp"></span></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="card">
                                        <a href="brand.php">Tire Brand Name</a>
                                        <a href="" class="remove-brand"><span class="typcn typcn-trash typcn-sizeUp"></span></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="card">
                                        <a href="brand.php">Tire Brand Name</a>
                                        <a href="" class="remove-brand"><span class="typcn typcn-trash typcn-sizeUp"></span></a>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="card">
                                        <a href="brand.php">Tire Brand Name</a>
                                        <a href="" class="remove-brand"><span class="typcn typcn-trash typcn-sizeUp"></span></a>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <a href="" class="button secondary"><span class="typcn typcn-plus"></span> Add Brand Request</a>
                            <span class="has-tip right" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="1" title="Manufacturers have up to 7 days to approve or decline you. If no action is taken in those days, then you will be granted access by default."><span class="typcn typcn-info typcn-btn"></span></span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div id="bottomToolbar">
        <a href="" ng-click="save()" class="button"><i class="fa fa-save"></i> Save</a>
        <a href="#header" class="toTop"><span class="typcn typcn-arrow-up typcn-2x"></span></a>
    </div>

</div>