﻿
<div class="bodyWrapper">
    <div class="breadcrumb">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>Admin</li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h1>Admin</h1>
            <hr>
        </div>
    </div>

    <div class="small-12 column">
        <div class="row">
            <div>
                <h5><label>Upload Brand:</label></h5>
                <p>{{uploadMessage}}</p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="preserveExisting" />
                        <span uib-tooltip="If a wheel spec already exists, don't overwrite; preserve existing wheel spec data."
                              class="alert-success"
                              tooltip-placement="bottom"
                              tooltip-trigger="mouseenter">
                            Only create new wheel specs.
                        </span>
                    </label>
                </div>
            </div>

            <div class="column">
                <label>Select Brand/Style/Finish File</label>
                <input name="bsfFile" type="file" nv-file-select options="{id: 'bsfFile'}" uploader="uploader" accept=".csv" single />
            </div>

            <div class="column">
                <label>Select Uniques File</label>
                <input name="uniquesFile" type="file" nv-file-select uploader="uploader" options="{id: 'uniquesFile'}" accept=".csv" single />
            </div>

            <div class="column" style="margin-top: 8px">
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    <i class="fa fa-upload"></i> Upload Selected Files
                </button>
            </div>
        </div>       
        
        <!--<div class="row">
            <div>
                <h5><label>Append Fitment Guide:</label></h5>
                <p>{{fgMergeUploadMessage}}</p>
            </div>

            <div class="column">
                <label>Select Fitment Guide File</label>
                <input name="bsf2File" type="file" nv-file-select options="{id: 'fgFile'}" uploader="fgMergeUploader" accept=".csv" single />
            </div>

            <div class="column" style="margin-top: 8px">
                <button type="button" class="btn btn-success btn-s" ng-click="appendToFg()" ng-disabled="!fgMergeUploader.getNotUploadedItems().length">
                    <i class="fa fa-upload"></i> Upload and Merge Selected File
                </button>
            </div>
        </div>-->              
        
        <div class="row">
            <div>
                <h5><label>Build mappings:</label></h5>
                <p>{{mappingsMessage}}</p>
            </div>

            <div class="column" style="margin-top: 8px">
                <button type="button" class="btn btn-success btn-s" ng-click="buildMappings()">
                    <i class="fa fa-upload"></i> Start Build
                </button>
            </div>
        </div>
        
        <div class="row">
            <div>
                <h5><label>Pull WheelPros:</label></h5>
                <p>{{wheelProsMessage}}</p>
            </div>

            <div class="column" style="margin-top: 8px">
                <button type="button" class="btn btn-success btn-s" ng-click="pullWheelPros()">
                    <i class="fa fa-upload"></i> Start Pull
                </button>
            </div>
        </div>
    </div>

</div>
