﻿﻿
<div class="bodyWrapper">

    <div class="row bigGutters">
        <div class="col-sm-12">

            <h1>Fitment Guides</h1>

            <hr>

            <h4>Please select a fitment Guide to Edit</h4>

            <div style="height: 10px"></div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    Velocity Default Fitments<br>
                    <small>Type: Guide</small> <!-- Guide Type can upload/edit fitment parameters -->
                    <p class="bold">{{fitmentGuideMessage}}</p>
                    <div ng-if="downloadingFitmentGuide">
                        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                    </div>
                </div>               
                
                <div class="col-sm-12 col-md-6 text-right">
                    <a href="" class="button" ng-click="downloadFitmentGuide()">Get XLS</a>
                    <a href="" class="button" ng-click="toggleUpload()">Upload XLS</a>
                    <a href="" class="button hide">Edit Guide</a>
                    <a href="" class="button hide">Map to ACES</a>
                </div>
                <!-- Field to upload new fitment sheet -->
                <div class="col-sm-12" ng-if="uploadGuide">
                    <p>{{fgUploadMessage}}</p>
                    <input name="bsfFile" type="file" nv-file-select options="{id: 'fgFile'}" uploader="fgUploader" accept=".csv" single/>
                    <button type="button" class="button" ng-click="importFg()" ng-disabled="!fgUploader.getNotUploadedItems().length">
                        <i class="fa fa-upload"></i> Upload
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    DAI Fitment API<br>
                    <small>Type: API</small><!-- API Type can only map to ACES. Fitments are generated at set intervals -->
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a href="" class="button">Map to ACES</a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    Wheel Pros Fitment API<br>
                    <small>Type: API</small>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a href="" class="button">Map to ACES</a>
                </div>
            </div>


            <div style="height:3rem;"></div>

            <h1>Process Fitments for a Wheel Brand</h1>

            <hr>

            <h4>Please select a brand:</h4>

            <p style="font-style: italic;">Please note, it may take several minutes for the fitments to process. During that time, live fitments may be erased and/or incorrect until the process has completed.</p>

            <div style="height: 10px"></div>
            
            <p>
                {{fgMessage}}
                <div ng-if="buildingFitments">
                    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                </div>
            </p>

            <div class="row">
                <div class="col-sm-6">
                    <select ng-model="options.selectedBrand" ng-options="b.BrandName for b in brands track by b.Id" single></select>
                </div>
                <div class="col-sm-6 text-right">
                    <a href="" class="button" ng-click="buildFG()">Process Fitments</a>
                </div>
            </div>

        </div>

    </div>


</div>
