﻿<div class="bodyWrapper">


    <div class="breadcrumb">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="#home">Home</a> </li>                
                <li>Accounts</li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="column">

            <h1>Wheel Studio Account Tokens</h1>

            <hr>

            <table width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Domains</th>
                        <th>Token</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="acct in accounts">
                        <td><a href="#accountdetails/{{acct.Id}}">{{acct.AccountName}}</a></td>
                        <td>{{acct.SubAccounts[0].AccountUrl}}</td>
                        <td>{{acct.Token}}</td>
                        <td>{{acct.Active}}</td>
                    </tr>
                </tbody>
            </table>
            <a href="" ng-click="addAccount()"><i class="fa fa-plus"></i> Add New Account</a>
        </div>
    </div>

    <!--<div id="bottomToolbar">
        <a href="#" class="button"><i class="fa fa-save"></i> Save</a>
        <a href="#header" class="toTop"><span class="typcn typcn-arrow-up typcn-2x"></span></a>
    </div>-->

</div>