﻿@model VelocityWheels.Services.Models.WheelModel

@{
    ViewBag.Title = "WheelDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bodyWrapper">
    @Html.Partial("BreadCrumbPartial", new BreadCrumb()
    {
        CurrentCrumb = Model.Style + ", " + Model.Finish,
        CrumbUrlList = new List<Tuple<string, string>>()
            {
                new Tuple<string, string>("/Brand/Index/" + Model.Brand, Model.Brand)
            }
    })

    <div style="height: 1.5rem;"></div>

    <div style="height: 1rem;"></div>

    <div class="row">
        <div class="shrink column">
            <label>Finish: </label>
            <input type="text" value="@Model.Finish"/>
        </div>
        <div class="shrink column">
            <label>Finish (Abbr.): </label>
            <select class="shrink" name="" id="">
                <option>Silver</option>
                <option>Gunmetal</option>
                <option selected>@Model.ShortFinish</option>
                <option>Machined</option>
                <option>Chrome / PVD</option>
                <option>Polished</option>
                <option>Brushed</option>
                <option>Gold / Bronze</option>
                <option>Carbon</option>
            </select>
        </div>
        <div class="shrink column">
            <label>Status: </label>
            <select class="shrink">
                <option value="">Active</option>
                <option value="">Discontinued</option>
            </select>
        </div>
    </div>

    <div class="wheel-list" style="margin-top: 2em;">

        <div class="row">
            <div class="small-6 medium-3 columns">
                <img src="@Model.Image" width="500" height="500" alt=""/>
                <div class="text-center">
                    <a href="wheelMedia.php" class="wheel-action">
                        <span class="typcn typcn-camera typcn-sizeUp"></span>
                        <span class="text">Media</span>
                    </a>
                    <a href="wheelImageMatrix.php" class="wheel-action">
                        <!--- Note, brush icon used as a builder as already be created --->
                        <span class="typcn typcn-brush typcn-sizeUp"></span>
                        <span class="text">Builder</span>
                    </a>
                </div>
            </div>
            <div class="small-12 medium-9 columns">
                <table>
                    <thead>
                    <tr>
                        <th>Part Number</th>
                        <th class="text-center">Size</th>
                        <th class="text-center">Bolt Pattern</th>
                        <th class="text-center">Offset</th>
                        <th class="text-center">Fitments</th>
                        <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        foreach (var modelPart in Model.Products)
                        {
                            <tr>
                                <td>
                                    <a href="/Products/Details/@modelPart.WheelSpecId">@modelPart.PartNumber</a>
                                </td>
                                <td class="text-center">@modelPart.Size</td>
                                <td class="text-center">@modelPart.BoltPattern</td>
                                <td class="text-center">@modelPart.Offset</td>
                                <td class="text-center">
                                    <a href="/Products/Details/@modelPart.WheelSpecId#fitmentLink">@modelPart.TotalFitments</a>
                                </td>
                                <td class="text-right">
                                    <a href="/Products/Details/@modelPart.WheelSpecId" class="action">
                                        <span class="typcn typcn-spanner typcn-sizeUp"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
