﻿
<div class="bodyWrapper">
    <div class="breadcrumb">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>Reports</li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h1>Reports</h1>
            <hr>
        </div>
    </div>

    <div class="small-12 column">
        <div class="row">
            <div>
                <h5><label>Vehicle Reports:</label></h5>
                <p>{{reportMessage}}</p>                
                <div ng-if="generatingMissingPositionsReport">                    
                    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                </div>                
            </div>

            <div class="column" style="margin-top: 8px">
                <button type="button" class="btn btn-success btn-s" ng-click="generateMissingPositionsReport()">
                    <i class="fa fa-download"></i>Vehicle Wheel Positioning Report
                </button>
            </div>
        </div>

        <div class="row">
            <div>
                <h5><label>Fitment Reports:</label></h5>
                <p>{{fitmentMessage}}</p>
                <div ng-if="generatingFitmentReport">
                    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                </div>
            </div>

            <div class="column" style="margin-top: 8px">
                <button type="button" class="btn btn-success btn-s" ng-click="generateFitmentReport()">
                    <i class="fa fa-download"></i>Unmatched Fitment Report
                </button>
            </div>
        </div>
        
        <div class="row">
            <div>
                <h5><label>Mapping Reports:</label></h5>
                <p>{{mappingMessage}}</p>
                <div ng-if="generatingMappingReport">
                    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                </div>
            </div>

            <div class="column" style="margin-top: 8px">
                <button type="button" class="btn btn-success btn-s" ng-click="generateMappingReport()">
                    <i class="fa fa-download"></i>Mapping Report
                </button>
            </div>
        </div>               
    </div>

</div>
