﻿<!DOCTYPE html>
<html class="" lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTWS Admin | @ViewBag.Title</title>

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href='~/Content/fonts/typicons/typicons.min.css' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/css/foundation.min.css">
    <link rel="stylesheet" href="~/Content/css/nv.d3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/admin.css">

    <meta class="foundation-mq">
</head>
<body data-whatinput="mouse">
<!-- HEADER -->
<div id="header" data-sticky-container="" class="sticky-container" style="height: 37.375px;">
    <div class="header sticky is-anchored is-at-top" data-sticky="ok3sue-sticky" data-options="marginTop:0;" style="width: 100%; max-width: 1680px; margin-top: 0px; bottom: auto; top: 0px;" data-resize="zj4rb6-sticky" data-events="resize">
        <div class="show-for-small-only">
            <div class="row">
                <div class="columns">
                    <span data-responsive-toggle="responsive-menu" data-hide-for="medium" style="display: none;">
              <button class="menu-toggle" type="button" data-toggle="">Menu <span class="typcn typcn-arrow-sorted-down"></span></button>
            </span>
                </div>
                <div class="columns site-title-small text-right">
                    <a href="#" class="site-owner">XYZ Wheels</a>
                </div>
            </div>
        </div>
        <div id="responsive-menu" class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu="omsmjo-dropdown-menu" role="menubar">
                    <li id="account-name" class="menu-text site-owner" role="menuitem">Account Name</li>
                    <li role="menuitem">
                        <a href="@Url.Action("Index", "Home")">
                            <span class="typcn typcn-home"></span></a>
                    </li>
                    <!---li>
                    <a href="vehicles.php">Vehicle Fitment Specs</a>
                    </li--->
                    <li role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-label="My Brands ">
                        <a href="#">My Brands <span class="typcn typcn-arrow-sorted-down"></span></a>
                        <ul id="brands-menu" class="menu vertical submenu is-dropdown-submenu first-sub" data-submenu="" role="menu">
                            <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item">
                                <a href="@Url.Action("GetAll", "Brand")">Wheel Brands</a>
                            </li>
                        </ul>
                    </li>
                    <li role="menuitem" class="vtws-hide">
                        <a href="@Url.Action("Index", "Retailers")">My Retailers</a>
                    </li>
                    <li role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-label="Vehicles ">
                        <a href="#">Vehicles <span class="typcn typcn-arrow-sorted-down"></span></a>
                        <ul class="menu vertical submenu is-dropdown-submenu first-sub" data-submenu="" role="menu">
                            <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item">
                                <a href="@Url.Action("PositionWheels", "Vehicle")">Position Wheels</a>
                            </li>
                        </ul>
                    </li>
                    <li role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-label="Admin ">
                        <a href="#">Admin <span class="typcn typcn-arrow-sorted-down"></span></a>
                        <ul class="menu vertical submenu is-dropdown-submenu first-sub" data-submenu="" role="menu">
                            <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item">
                                <a href="@Url.Action("Index", "Admin")">Admin</a>
                            </li>
                        </ul>
                    </li>
                    <li role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-label="My Account ">
                        <a href="#">My Account <span class="typcn typcn-arrow-sorted-down"></span></a>
                        <ul class="menu vertical submenu is-dropdown-submenu first-sub" data-submenu="" role="menu">
                            <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item vtws-hide">
                                <a href="#">My Info</a>
                            </li>
                            <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item vtws-hide">
                                <a href="#">Users</a>
                            </li>
                            <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item">
                                <a href="/Home/LogOff">Logout</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="top-bar-right text-right hide-for-small-only">
                <div class="site-title">
                    <img src="~/Content/images/Velocity_logo_horiz_white_sm.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /HEADER -->

<div class="bodyWrapper">
    @RenderBody()
</div>

<script src="~/Content/js/vendor/jquery.min.js"></script>
<script src="~/Content/js/vendor/what-input.min.js"></script>
<script src="~/Content/js/foundation.min.js"></script>
<script src="~/Content/js/app.js"></script>
<script src="~/Content/js/vendor/jsrender.js"></script>

<script id="brandMenuTmpl" type="text/x-jsrender">    
    <li role="menuitem" class="is-submenu-item is-dropdown-submenu-item">
        <a href="/Brand/Index/{{:BrandName}}">{{:BrandName}}</a>
    </li> 
</script>

<script id="accountMenuTmpl" type="text/x-jsrender">
    {{:AccountName}}
</script>

@RenderSection("Scripts", false)

<script type="text/javascript">

    $(document)
        .ready(function() {
            $(function() {
                /*var menu = $("#brands-menu").html("");
                $.get("/Brand/GetBrands",
                        function(data) {
                            //console.log(data);                        
                            var myTemplate = $.templates("#brandMenuTmpl");
                            if (data.Error == null) {
                                var html = myTemplate.render(data);
                                menu.html(html);
                            } else {
                                console.log(data.Error);
                            }

                        })
                    .fail(function() {
                        console.log("failed to get brand results");
                    });*/

                var accountMenu = $("#account-name").html("");
                $.get("/Account/GetAccount",
                        function(data) {
                            var acTemplate = $.templates("#accountMenuTmpl");
                            if (data.Error == null) {
                                var h = acTemplate.render(data);
                                accountMenu.html(h);
                            } else {
                                console.log(data.Error);
                            }

                        })
                    .fail(function() {
                        console.log("failed to get account");
                    });
            });
        });
</script>
</body>
</html>