﻿<!DOCTYPE html>
<html class="" lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTWS Admin | @ViewBag.Title</title>

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href='~/Content/fonts/typicons/typicons.min.css' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/css/foundation.min.css">
    <link rel="stylesheet" href="~/Content/css/nv.d3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/admin.css">

    <meta class="foundation-mq">
</head>
<body data-whatinput="mouse">


    <div class="bodyWrapper">
        @RenderBody()
    </div>

    <script src="~/Content/js/vendor/jquery.min.js"></script>
    <script src="~/Content/js/vendor/what-input.min.js"></script>
    <script src="~/Content/js/foundation.min.js"></script>
    <script src="~/Content/js/app.js"></script>
    <script src="~/Content/js/vendor/jsrender.js"></script>


    @RenderSection("Scripts", false)


</body>
</html>