﻿@model VelocityWheels.Models.BreadCrumb

<div class="breadcrumb">
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            @{
                foreach (var crumb in @Model.CrumbUrlList)
                {
                    <li>
                        <a href="@crumb.Item1">@crumb.Item2</a>
                    </li>
                }
            }
            
            <li>@Model.CurrentCrumb</li>
        </ul>
    </nav>
</div>