html { box-sizing: border-box; padding-bottom: 90px; }
*, *:before, *:after { box-sizing: inherit; }

/* COLORS */
.button { background-color: #2977ae; }
a { color: #2977ae; }
  a:hover { color: #2977fe; }


/* FONTS */
.typcn { margin-left: 4px; margin-right: 4px; }
.typcn-sizeUp { font-size: 125%; }
.typcn-2x { font-size: 200%; }i
.success { color: #1dd1b1; }
.warning { color: #f59881; }
.alert { color: #d00; }
.uppercase { text-transform: uppercase; }

body { font-family: 'Roboto'; font-weight: normal; }
body,
select, [type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea { font-size: 14px; line-height: 1em; }

h1, h2, h3, h4, h5, h6 { font-family: 'Roboto Slab'; line-height: 1.1; text-transform: uppercase; }
.h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Roboto Slab'; line-height: 1.1; }

h1, .h1 { font-size: 2.2em; margin: 1em 0 0.5em 0; font-weight: 300; }
h2, .h2 { font-size: 1.6em; margin: 0.75em 0 0.4em 0; font-weight: 300; }
h3, .h3 { font-size: 1.4em; margin: 0.5em 0 0.25em; }
h4, .h4 { font-size: 1.2em; margin: 0.5em 0 0.25em; font-weight: bold; }
h5, .h5 { font-size: 1em; margin: 0.5em 0 0.25em; font-weight: bold; }

  h2.padded, h3.padded, h4.padded, h5.padded, h6.padded { margin: 1.5em 0 1em 0; }

.pageTitle { margin-bottom: 1.5rem; }

div.spacer-h1 { padding-top: 2.5em; }
.boxed,
.boxed-clear { background: #eee; padding: 5px 10px; }
.boxed-clear { background: none; }
.h-underline,
.h-rule { padding-bottom: 0.5em; border-bottom: solid 1px #ccc; margin-bottom: 1.25em; }
.subhead { font-weight: bold; margin: 1.5em 0 5px 0; text-transform: uppercase; }
.noPad { margin: 0; padding: 0; }
.bold { font-weight: bold; }
p.small { font-size: 0.75em; }
.note { font-size: 0.75rem; opacity: 0.65; }
.allCaps { text-transform: uppercase; }
.note.allCaps { font-size: 0.65rem; }

/* MISC */
.has-tip { border: none; }
.transition, a { transition: all 0.5s ease-in-out; }
i.fa { margin-left: 5px; margin-right: 5px; }
.statusBox { display: inline-block; vertical-align: middle; border-radius: 50%; border: solid 1px #ccc; width: 15px; height: 15px; background: #ccc; font-size: 0; }
.status-active { background: #69bc5f; }
.status-inactive { background: #ec3737; }
.status-comingSoon { background: #ec9737; }

/* LINKS */
.button { text-decoration: none; padding: 8px 16px; }
.action { text-transform: uppercase; font-size: 85%; padding: 2px 5px; }
a.toTop { float: right; }

/* HEADER */
@media screen and (min-width: 40em) {
  #header { position: absolute; top: 0; left: 0; right: 0; }
  body { margin-top: 50px; }
}

#header,
.top-bar, .top-bar ul { background: #444; color: #fff; }
.top-bar { padding: 0; }
#header { margin-bottom: 5px; }
.site-title { font-weight: bold; padding: 5px 10px; display: inline-block; }
  .site-title img { height: 25px; }
.site-title-small { padding: 0.5rem; }
.row.pageHeader { margin-top: 1em; margin-bottom: 0.5em; }
.site-owner { text-transform: uppercase; font-size: 110%; }
/* Nav elements */
.is-dropdown-submenu { border: none; }
.dropdown.menu > li.is-dropdown-submenu-parent > a { padding-right: 1rem; }
  .dropdown.menu > li.is-dropdown-submenu-parent > a:after { border: none; }
#header a, .top-bar a { color: #fff; }
  .top-bar a:hover { background: #f58220; color: #fff; }
/* Phone Menu */
.menu-toggle { padding: 12px 5px; }

@media only screen and (max-width: 40em) {
  ul.menu { display: block; }
  .menu > li > a,
  .menu.vertical > li { display: block; }
  .is-dropdown-submenu { position: relative; padding-left: 5%; }
}

/* GRID */
.row.bigGutters > .column, .row.bigGutters > .columns { padding-left: 2rem; padding-right: 2rem; }
.row.smallGutters > .column, .row.smallGutters > .columns { padding-left: 0.5rem; padding-right: 0.5rem; }
.row.leading > .column, .row.leading > .columns { margin-bottom: 0.5rem; }

/* BREADCRUMB */
.breadcrumb { font-size: 85%; color: #999; text-transform: uppercase; margin: 0;}
  .breadcrumb .divider { display: inline-block; margin: 0 4px; }
.breadcrumbs { margin: 3px 0; }


/* SECTIONS */
.headerSection { background: #e0e0e0; margin-top: 1em; margin-bottom: 0.5em; }
  .headerSection h3 { padding-top: 5px; }
  .headerSection select { margin: 5px 10px; }
  .headerSection .pad-headerSection { padding: 12px 20px; }


/* LAYOUT */
.bodyWrapper { padding-bottom: 8em; }
.row.wide { max-width: 100rem; }
.row.full { max-width: 100%; }
.row.tight { margin-left: -5px; margin-right: -5px; }
  .row.tight > .column, .row.tight > .columns { padding-left: 5px; padding-right: 5px; min-width: 0; }
hr { max-width: 100%; }
hr.small-hr { margin: 3px 0; }

/* TABLES */
table td { vertical-align: top; }
table thead { background: #f0f0f0; color: #999; text-transform: uppercase; font-size: 80%; }
table tbody tr { border-bottom: dotted 1px #eee; }
  table tbody tr:nth-child(even) { background-color: #fff; }

.table-data td { border-bottom: dotted 1px #ccc; }

/* FORMS */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999; font-size: 11px; padding-top: 5px; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #999; font-size: 11px; padding-top: 5px; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #999; font-size: 11px; padding-top: 5px; }

select.shrink { width: auto; }
input::placeholder,
textarea::placeholder { color: #aaa; }

[type=checkbox], [type=file], [type=radio] { margin: 0 5px 0 0; }

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea, select { border-radius: 0; border: none; background-color: #e9e9e9; outline: none; margin: 0 0 4px 0; height: auto; padding: 6px 12px; transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }
select { padding-right: 30px; background-position: right -20px center; }
[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus { border: 1px solid #666; background-color: #fff; outline: none; box-shadow: 0 0 5px #cacaca; }
.input-group { margin-bottom: 4px; }
select.clear { background-color: transparent; }
.button { text-transform: uppercase; }
.input-group-label { text-align: center; padding: 0 10px; color: #0a0a0a; border: none; background: #eee; line-height: 33px; height: 33px; }
.input-group-field { width: 100%; }
.switch { margin-bottom: 4px; }
span.middle-label { position: relative; top: 5px; line-height: 0.8em; }
input:checked ~ .switch-paddle { background-color: #84aa99; }
label.middle { padding: 5px 0; }

.inputPadding { padding: 5px 5px 5px 0; }
  .inputPadding.tiny { padding: 3px 5px 3px 0; }

.vehicleImage-actions i { font-size: 1.2em; }

/* TABS */
.tabs { background: none; border: none; border-bottom: solid 5px #ddd; }
.tabs.vertical { background: none; border: none; border-bottom: none; border-left: solid 8px #ddd;  }
.tabs-title > a { padding: 15px 20px; font-size: 1.05rem; color: #555; border-color: transparent; margin-bottom: -5px; }
  .tabs-title > a:hover { border-color: #2977ae; }
  .tabs-title > a:focus, .tabs-title > a[aria-selected=true] { font-weight: bold; background: none; color: #2977ae; border-color: #2977ae; }

.tabs-content { background: none; border: none; padding: 1em 0 2em 0; }
.tabs-panel { padding: 0; }

/* ACCORDIANS */
.accordion-title:focus, .accordion-title:hover { background-color: #dbe5e8; }

/* MODAL */
.reveal { padding: 1.5em 2em; }


/* BOTTOM TOOLBAR */
#bottomToolbar { position: fixed; bottom: 0; left: 0; right: 0; background: #E7E7E7; background: rgba(200,200,200,0.9); padding: 1em 20px 0.25em; text-align: center; }

#bottomToolbar2 { position: fixed; bottom: 0; left: 0; right: 0; background: #E7E7E7; background: rgba(200,200,200,0.9); padding: 1em 20px 0.25em; text-align: center; }

/* DASHBOARD */
.statBox { background: #f0f0f0; padding: 15px 25px; text-align: right; margin: 5px 0 10px 0; }
  .statBox .figure { display: block; font-size: 260%; font-weight: 300; line-height: 1; }

@media screen and (max-width: 40em) {
  .statBox { padding: 5px 10px; text-align: right; }
    .statBox .figure { font-size: 170%; }
}

/* CHARTS */
.chart-wrapper svg { width: 100%; }
.nvd3 g.nv-groups path.nv-line { stroke-width: 4px; }
.nvtooltip { padding: 0; box-sizing: border-box; }
  .nvtooltip h3 { font-size: 12 px; font-weight: 700; }


/* VEHICLE SELECTOR */
#vtws-vehicle-selector select { display: inline-block; width: auto; margin-right: 5px; }

/* PRODUCT LIST */
.tile-padBtm { margin-bottom: 4em; }
a.wheel-action { display: inline-block; padding: 1px 6px; color: #777; font-size: 0.85rem; margin-right: -3px; }
a.wheel-action:hover { background: #eee; text-decoration: none; color: #000; }

/* VEHICLE SPECS */
.vehicleSpecs-year { margin-bottom: 2em; }
  .vehicleSpecs-year > .columns { padding-bottom: 4em; }

/* WHEEL SPECS */
.wheelSpecs > .row { margin-bottom: 10px; }


/* WHEEL MEDIA */
.tile-add { background: #e0e0e0; padding: 20px; text-align: center; }
.tile-addVideo { padding: 0; text-align: center; }
.tile-add i.fa-plus { display: block; text-align: center; padding: 20px 0; font-size: 45px; color: #777; }


/* WHEEL FITMENTS */
#fitmentList .accordion-title { text-transform: uppercase; font-size: 100%; color: #000; }

/* ADD FITMENT */
#vehicleOptions { }
.yearCols { margin-bottom: 2em; }
  .yearCols .decade { background: #e9e9e9; font-weight: bold; padding: 6px; }
  .yearCols .yearOption { padding: 3px 6px; }

  /* BRANDS */
.brands > .column { margin-bottom: 0.75rem; }

#brands-list { margin: 0; }
#brands-list .list-group-item:hover { background: #f0f0f0; }

.brandList .card { border: solid 1px #ddd; padding: 5px;  position: relative; }
.brandList .card > .remove-brand { position: absolute; top: 1px; right: 10px; }

/* ACCORDION */
.accordion-item {
    position: relative;
}

.accordion-item .fitment-delete {
    position: absolute;
    right: 2.5rem;
    top: 1rem;
}


/* IMAGE MATRIX */
.imageMatrix-layer .columns { text-align: center; }
.imageMatrix-layer img.builderThumb { max-width: 200px; }
.imageMatrix-layer img.builderFrontThumb { max-width: 138px; }
.imageMatrix-layer img.builderRearThumb { max-width: 101px; }

/* SMALL SCREENS */
@media screen and (max-width: 40em) {
  body,
  select, [type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea { font-size: 13px; }
  h1 { font-size: 160%; }
  h2 { font-size: 140%; }
  h3 { font-size: 120%; }
  h4 { font-size: 100%; }
  h5 { font-size: 90%; }
  #responsive-menu { display: none; }
}

/* LOGIN ------------------------- */
.login-box {
    background: #f0f0f0;
    border: solid 1px #ccc;
    box-shadow: 2px 2px 10px #999;
    max-width: 500px;
    padding: 15px 40px 30px;
}

.vtws-hide { display: none; }