/* RESET */
img { max-width: 100%; height: auto; }
.vtws-hide { display: none; }

/* WRAPPER & GENERAL STYLES */
#vtws-wheel-studio { position: relative; box-sizing: border-box; }
  #vtws-wheel-studio .vtws-hide { display: none; }

/* VEHICLE SELECTOR */
.vtws-select-wrapper { display: inline-block; margin-right: -3px; }

/* Medium and up */
@media screen and (max-width: 40em) {
  #vtws-vehicle-selector { width: 100%; display: block; }
  .vtws-select-wrapper { display: block; }
    .vtws-select-wrapper select { width: 100%; }
}

/* MAIN ACTIONS */
#vtws-mainActions { position: relative; padding: 0; clear: both; }
  #vtws-mainActions .button { margin: 20px 0 10px; }

/* VEHICLE IMAGES */
#vtws-mainImage { max-width: 68rem; margin: 0 auto; }

/* MODAL */
#lean_overlay { position: fixed; z-index: 100; top: 0px; left: 0px; height: 100%; width: 100%; background: #000; opacity: 0.5; display: none; }
.vtws-modal { background-color: #fff; padding: 25px; box-shadow: 2px 2px 15px #333; max-width: 95%; left: 50%; transform: translateX(-50%); margin-left: auto !important; top: 5% !important; display: none; position: fixed; max-height: 85%; overflow: auto; opacity: 1; z-index: 11000; box-sizing: border-box; }
.vtws-close-button { position: absolute; top: 0; right: 0; padding: 2px 10px; background: transparent; font-size: 40px; line-height: 1; border: none; }

/* STUDIO IMAGE SELECT */
#vehicle-select-first-image { height: 100%; min-height: 400px; padding: 10%; }
  #vehicle-select-first-image h3 { line-height: 1.5; font-family: 'Oxygen'; font-weight: 300; font-size: 2rem; }

#vtws-vehicleSelect { width: 90%; }
.userUpload { text-align: center; }
  .userUpload .mainText { text-align: center; font-weight: bold; font-size: 1.2rem; margin-bottom: 1em; }
input#imgLoader { border: solid 1px #aaa; background: #eee; padding: 4px; }

@media screen and (min-width: 640px) {
  #vtws-use-own-image { width: 38%; float: left; }
  #vtws-vehicle-select-pick-an-image,
  #vtws-vehicle-select-first-image { width: 58%; float: right; }
}

.studioVehicleList { max-height: 60%; overflow: auto; }
  .studioVehicleList > .vehicleThumb { padding: 0 2px 10px 2px; width: 50%; display: inline-block; vertical-align: top; text-align: center; box-sizing: border-box; }
    .studioVehicleList > .vehicleThumb a { cursor: pointer; }
    .studioVehicleList > .vehicleThumb img { width: 100%; }

@media screen and (min-width: 640px) {
  .studioVehicleList > .vehicleThumb { width: 33%; }
}

@media screen and (min-width: 1400px) {
  .studioVehicleList > .vehicleThumb { width: 25%; }
}

#vtws-use-own-image > h3, #vtws-vehicle-select-pick-an-image > h3 { border-bottom: solid 1px #ccc; }
.vtws-tips-header { font-weight: bold; }


/* WHEEL PAINTER ---------- */

#vtws-paintWheel { max-width: 90%; box-sizing: border-box; }
#vtws-mainWheel { width: 280px; height: 280px; box-sizing: border-box; }

@media screen and (min-width:640px) {
  #vtws-paintWheel { width: 630px; }
  #vtws-mainWheel { width: 400px; display: inline-block; vertical-align: middle; }
  .builder_buttons { width: 160px; display: inline-block; vertical-align: middle; }
}

.wbLayer { margin-bottom: 5px; }
.wheel-name { margin: 0; }

/* Main Vehicle Studio */
#vtws-wrapper { margin: 0 15px; max-width: none; }
.canvas-container { margin: 0 auto; }
#mainVehicle { position: relative; }
.vehicle-actions { margin-top: 20px; }
.userUpload { margin-top: 30px; }
#vehicleImg { position: absolute; top: 0; left: 0; }
canvas#v { width: 100%; }
canvas#w { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: none; }

#vtws-mainVehicle { position: relative; width: 100%; }

/* Medium and up */
@media screen and (min-width: 40em) {
  #vtws-mainVehicle { box-sizing: border-box; }
    #vtws-mainVehicle .vtws-vehicleWrapper { }
}

.vtws-vehicleWrapper { background: url('../images/bg-studio.jpg') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

/* COLOR SWATCHES -------------*/
#vtws-swatches { padding: 5px; margin-bottom: 10px; text-align: center; }
  #vtws-swatches .vtws-colorSwatch { width: 50px; height: 35px; }

/* COLOR PICKER */
.sp-clear-display { background: url(../images/swatch_polished.jpg); background-size: 100% 100%; background-repeat: no-repeat; }
.sp-dd { float: right; line-height: 22px; margin-right: 4px; }
.sp-replacer { position: relative; padding: 0; height: 25px; }
  .sp-replacer.pickerBox { width: 100%; }
.sp-preview { position: absolute; top: 0; right: 16px; bottom: 0; left: 0; width: auto; height: 25px; border: none; }

/* BRIGHTNESS */
#vtws-brightnessSlider { display: block; position: absolute; z-index: 100; left: 3px; right: 3px; background: rgba(255,255,255,0.5); border: solid 1px #ccc; padding: 5px 25px; margin-left: .9375rem; margin-right: .9375rem; }
.vtws-controlLabel { display: inline-block; vertical-align: middle; width: 10%; text-align: center; }
#vtws-brightnessSliderInput,
#vtws-contrastSliderInput { display: inline-block; vertical-align: middle; width: 80%; margin: 5px 0; }

/* Range Sliders */
.vtws-rangeSlider { -webkit-appearance: none; /* Hides the slider so that custom slider can be made */ width: 100%; /* Specific width is required for Firefox. */ background: transparent; /* Otherwise white in Chrome */ }
  .vtws-rangeSlider::-webkit-slider-thumb { -webkit-appearance: none; }
  .vtws-rangeSlider:focus { outline: none; }
  .vtws-rangeSlider::-ms-track { width: 100%; cursor: pointer; /* Hides the slider so custom styles can be added */ background: transparent; border-color: transparent; color: transparent; }

  /* RANGE SLIDER THUMB */
  /* Special styling for WebKit/Blink */
  .vtws-rangeSlider::-webkit-slider-thumb { height: 20px; width: 16px; position: relative; top: -10px; border-radius: 3px; background: #0785ff; cursor: pointer; }

  /* All the same stuff for Firefox */
  .vtws-rangeSlider::-moz-range-thumb { height: 20px; width: 16px; position: relative; top: -10px; border-radius: 3px; background: #0785ff; cursor: pointer; }

  /* All the same stuff for IE */
  .vtws-rangeSlider::-ms-thumb { height: 20px; width: 16px; position: relative; top: -10px; border-radius: 3px; background: #0785ff; cursor: pointer; }

  /* RANGE SLIDER TRACK */
  .vtws-rangeSlider::-webkit-slider-runnable-track { width: 100%; height: 3px; background: rgba(0,0,0,0.2); border-radius: 3px; }
  .vtws-rangeSlider::-moz-range-track { width: 100%; height: 3px; background: rgba(0,0,0,0.2); border-radius: 3px; }
  .vtws-rangeSlider::-ms-track { width: 100%; height: 3px; background: rgba(0,0,0,0.2); border-radius: 3px; }
