﻿
<link rel="stylesheet" href="~/Content/css/studio.css" />

<div class="row">
    <div class="large-12 columns">
        <div class="breadcrumb">
            <a href="#">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            Vehicle Images
        </div>

        <h1>Position Wheels (Fuel API Vehicle Image)</h1>

        <div id="vtws-vehicle-selector"><small>Select Vehicle: 

            <select id="vtws-vehicle-year" ng-model="year" ng-change="changeYear()" ng-options="o for o in years" single></select>
            <select id="vtws-vehicle-make" ng-model="make" ng-change="changeMake()" ng-options="o for o in makes" single></select>
            <select id="vtws-vehicle-model" ng-model="model" ng-change="changeModel()" ng-options="o for o in models" single></select>
            <select id="vtws-vehicle-sub-model" ng-model="subModel" ng-change="changeSubModels()" ng-options="o for o in subModels" single></select></small></div>

        <p class="hide"><small>Uploaded: 12/13/2016</small></p>

        <div class="row hide">
            <div class="shrink column">
                <div class="inputPadding tiny">Public?</div>
            </div>

            <div class="column">
                <div class="switch small">
                    <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch" checked="">
                    <label class="switch-paddle" for="yes-no">
                        <span class="show-for-sr">Public?</span>
                        <span class="switch-active" aria-hidden="true">Yes</span>
                        <span class="switch-inactive" aria-hidden="true">No</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="vtws-mainImage" >
    <!-- Action Buttons -->
    <div id="vtws-mainActions" class="row">
        <div class="columns text-left">
            <button id="vtws-orientation" class="button" data-orientation="Front"><i class="fa fa-car"></i><span>Save and Change View</span></button>
        </div>
        <div class="columns text-right">
            <button id="vtws-flipx" class="button"><i class="fa fa-exchange"></i><span>Flip Wheels</span></button>
        </div>
    </div>

    <!-- Main Vehicle -->
    <div id="vtws-mainVehicle">
        <div class="vtws-vehicleWrapper">
            <canvas id="v" crossOrigin="anonymous"></canvas>
        </div>
        <div id="vtws-swatches"></div>
    </div><!--mainVehicle-->
</div>

<div id="bottomToolbar">
    <div class="row">
        <div class="column text-center">
            <a id="btn-save-close" href="#" class="button"><i class="fa fa-check-square"></i> Save &amp; Close <i class="fa fa-times"></i></a>
            <a id="btn-save-next" href="#" class="button"><i class="fa fa-check-square"></i> Save &amp; Next <i class="fa fa-arrow-right"></i></a>
            <a id="btn-next" href="#" class="button">Next <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</div>


<!--<script src="~/Content/js/fabric1.6.6.js"></script>
<script src="~/Content/js/studio_v2d.js"></script>-->

<script type="text/javascript">
    
    function flipOrientation() {
      saveWheelPosition(flipOrientation_sub);
    }
    function flipOrientation_sub() {
      var o = $("#vtws-orientation").data("orientation");
      $("#vtws-orientation").data("orientation", (o == "Front" ? "Rear" : "Front"));
      getVehicleImages();
    }
    function getVehicleImages() {
      var y = $("#vtws-vehicle-year").val();
      var m = $("#vtws-vehicle-make").val();
      var mdl = $("#vtws-vehicle-model").val();
      var sm = $("#vtws-vehicle-sub-model").val();
      var o = $("#vtws-orientation").data("orientation");

      setVehicleBackground(c_mainVehicle, '');
      //console.log("@Url.Action("GetVehicleImages", "Vehicle")/?y=" + y + "&m=" + m + "&mdl=" + mdl + "&sm=" + sm + "&o=" + o);
      $.get("/Vehicle/GetVehicleImages/?y=" + y + "&m=" + m + "&mdl=" + mdl + "&sm=" + sm + "&o=" + o, function (data) {
        var vr = JSON.parse(data);
        if (vr.products[0].productFormats[0].assets.length > 0) {
          var v = vr.products[0].productFormats[0].assets[0];
          chooseVehicle(vr.id, v, vr.products[0].productFormats[0].id);

          $("#btn-save-close").prop("disabled", false);
          $("#btn-save-next").prop("disabled", false);
          $("#btn-next").prop("disabled", false);
        }
        else {
          $("#btn-save-close").prop("disabled", true);
          $("#btn-save-next").prop("disabled", true);
          $("#btn-next").prop("disabled", true);
        }
      });
    }
    function chooseVehicle(vid, v, fid) {
        //console.log("@Url.Action("GetCroppedImage", "Vehicle")?url=" + v.url + "&vid=" + vid + "&code=" + v.shotCode.code + "&fid=" + fid);
        setVehicleBackground(c_mainVehicle, "/Vehicle/GetCroppedImage?url=" + v.url + "&vid=" + vid + "&code=" + v.shotCode.code + "&fid=" + fid);
      loadWheelPosition(vid);
      return;
    }
    function loadWheelPosition(vid) {
      var y = $("#vtws-vehicle-year").val();
      var m = $("#vtws-vehicle-make").val();
      var mdl = $("#vtws-vehicle-model").val();
      var sm = $("#vtws-vehicle-sub-model").val();
      var o = $("#vtws-orientation").data("orientation");

      $.get("/Vehicle/GetWheelPosition/?vid=" + vid + "&y=" + y + "&m=" + m + "&mdl=" + mdl + "&sm=" + sm + "&o=" + o, function (data) {
        console.log(data);
        var w = data;
        var wheel = o_wheel1;
        console.log("VehicleID: " + w.VehicleID);
        if (w.VehicleID == null) { //No data was found
          if (o == "Front") {
            wheel.wvF_left = 1001;
            wheel.wvF_top = 694;
            wheel.wvF_width = 184;
            wheel.wvF_height = 268;
            wheel.wvF_angle = 0;

            wheel.wvR_left = 1831;
            wheel.wvR_top = 652;
            wheel.wvR_width = 120;
            wheel.wvR_height = 217;
            wheel.wvR_angle = 0;
          }
          else {
            wheel.wvF_left = 1847;
            wheel.wvF_top = 664;
            wheel.wvF_width = 125;
            wheel.wvF_height = 221;
            wheel.wvF_angle = 2.431;

            wheel.wvR_left = 1008;
            wheel.wvR_top = 690;
            wheel.wvR_width = 188;
            wheel.wvR_height = 279;
            wheel.wvR_angle = 1.838;
          }
        }
        else { //Data was found or loaded from following year
          wheel.wvF_left = w.FrontLeft;
          wheel.wvF_top = w.FrontTop;
          wheel.wvF_width = w.FrontWidth;
          wheel.wvF_height = w.FrontHeight;
          wheel.wvF_angle = w.FrontAngle;

          wheel.wvR_left = w.RearLeft;
          wheel.wvR_top = w.RearTop;
          wheel.wvR_width = w.RearWidth;
          wheel.wvR_height = w.RearHeight;
          wheel.wvR_angle = w.RearAngle;
        }

        if (w.VehicleID == null || w.VehicleID == 0)
          $("#btn-next").hide();
        else
          $("#btn-next").show();

        loadWheels(wheel);
      });
    }
    function saveWheelPosition(callback) {
      var wheel = o_wheel1;
      updatePositions(wheel);

      console.log(c_mainVehicle.width);
      console.log(c_mainVehicle.height);
      console.log(vehicleStageScale);

      console.log(wheel.wvF_left / vehicleStageScale);
      console.log(wheel.wvF_top / vehicleStageScale);
      console.log(wheel.wvF_width / vehicleStageScale);
      console.log(wheel.wvF_height / vehicleStageScale);
      console.log(wheel.wvF_angle);

      console.log(wheel.wvR_left / vehicleStageScale);
      console.log(wheel.wvR_top / vehicleStageScale);
      console.log(wheel.wvR_width / vehicleStageScale);
      console.log(wheel.wvR_height / vehicleStageScale);
      console.log(wheel.wvR_angle * vehicleStageScale);

      var y = $("#vtws-vehicle-year").val();
      var m = $("#vtws-vehicle-make").val();
      var mdl = $("#vtws-vehicle-model").val();
      var sm = $("#vtws-vehicle-sub-model").val();
      var o = $("#vtws-orientation").data("orientation");

      $.get("/Vehicle/SaveWheelPosition",
        {
          y: y,
          m: m,
          mdl: mdl,
          sm: sm,
          fl: wheel.wvF_left / vehicleStageScale,
          ft: wheel.wvF_top / vehicleStageScale,
          fw: wheel.wvF_width / vehicleStageScale,
          fh: wheel.wvF_height / vehicleStageScale,
          fa: wheel.wvF_angle,
          rl: wheel.wvR_left / vehicleStageScale,
          rt: wheel.wvR_top / vehicleStageScale,
          rw: wheel.wvR_width / vehicleStageScale,
          rh: wheel.wvR_height / vehicleStageScale,
          ra: wheel.wvR_angle,
          o: o
        }, function (result) {
          if (result.indexOf("Error") >= 0) {
            alert(result);
          }
          else {
            callback();
          }
        });
    }
    function chooseNextVehicle() {
      var sm = $("#vtws-vehicle-sub-model");
      var index = 0, items = 0;
      index = sm.prop('selectedIndex');
      items = sm.children("option").length;
      if (index == items - 1) {
        var sm = $("#vtws-vehicle-model");
        index = sm.prop('selectedIndex');
        items = sm.children("option").length;
        if (index == items - 1) {
          var sm = $("#vtws-vehicle-make");
          index = sm.prop('selectedIndex');
          items = sm.children("option").length;
          if (index == items - 1) {
            //Stop
          }
          else {
            sm.prop('selectedIndex', index + 1);
            getModels();
          }
        }
        else {
          sm.prop('selectedIndex', index + 1);
          getSubModels();
        }
      }
      else {
        sm.prop('selectedIndex', index + 1);
        getVehicleImages();
      }
    }
    function close() {
        window.location = "/Vehicle/Images";
    }

    $(function () {
      $("#vtws-vehicle-year").change(getMakes);
      $("#vtws-vehicle-make").change(getModels);
      $("#vtws-vehicle-model").change(getSubModels);
      $("#vtws-vehicle-sub-model").change(getVehicleImages);

      $("#vtws-orientation").click(flipOrientation);

      $("#btn-save-close").click(function (e) {
        e.preventDefault();
        saveWheelPosition(close);
      });
      $("#btn-save-next").click(function (e) {
        e.preventDefault();
        saveWheelPosition(chooseNextVehicle);
      });
      $("#btn-next").click(function (e) {
        e.preventDefault();
        chooseNextVehicle();
      });

      getYears();

    });
</script>