﻿
<iframe ng-src="{{detailFrame}}" align="middle" width="100%" height="100%" frameborder="0" allowfullscreen scrolling="no" style="min-height: 900px;">
    <p>Your browser does not support iframes.</p>
</iframe>