﻿<div class="bodyWrapper">
    <div class="breadcrumb">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#vehicleimages">Uploaded Vehicle Images</a>
                </li>
                <li>Map Vehicle To Aces</li>
            </ul>
        </nav>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <div>
                <h2>Map Vehicle Image To Aces</h2>
            </div>
            
            <div class="pull-right" style="margin-top: -28px;">
                <a href="#vehicleimages">&lt; Back</a>
            </div>
        </div>
        
    </div>
    
    <div>
        <div class="row">
            <div class="col-sm-4">
                <label>IMAGE DESCRIPTION</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5"> 
                <input type="text" class="input-lg" ng-model="Vehicle.Description"/>
            </div>
            <div class="col-sm-3">
                <button class="button" ng-click="updateDescription()">Save Description</button>
            </div>
            <div class="col-sm-4">
                <img src="{{Vehicle.Image}}" alt=""/>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-10">
                <h4>Existing ACES Fitment</h4>
                <hr/>
            </div>

        </div>
        
        <div class="row">
            <div class="col-sm-10">
                <table>
                    <thead>
                        <tr>
                            <td>Year</td>
                            <td>Make</td>
                            <td>Model</td>
                            <td>Body/Trim</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="m in Vehicle.AssignedVehicles">
                            <td>{{m.Year}}</td>
                            <td>{{m.Make}}</td>
                            <td>{{m.Model}}</td>
                            <td>{{m.BodyType}} ({{m.Id}} / {{m.AcesVehicleId}})</td>
                            <td>
                                <a ng-click="removeImage(m.Id)"><i class="fa fa-minus"></i> Remove As Image</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-10">
                <h4>Add New ACES Fitment</h4>
                <hr />
            </div>

        </div>

        <div class="row " style="margin-top: 4px;" ng-show="Vehicle.Id !== -2">
            <div class="col-sm-2">
                <select id="vtws-vehicle-year" ng-model="year" ng-change="changeYear()" ng-options="o for o in years" single></select>
            </div>
            <div class="col-sm-2">
                <select id="vtws-vehicle-make" ng-model="make" ng-change="changeMake()" ng-options="o for o in makes" single></select>
            </div>
            <div class="col-sm-3">
                <select id="vtws-vehicle-model" ng-model="model" ng-change="changeModel()" ng-options="o for o in models" single></select>
            </div>
            <div class="col-sm-3">
                <select id="vtws-vehicle-bodyType" ng-model="bodyType" ng-change="changeBodyType()" ng-options="o for o in bodyTypes" single></select>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-10">
                <table ng-show="Vehicle.Id !== -2">
                    <thead>
                        <tr>
                            <td>Year</td>
                            <td>Make</td>
                            <td>Model</td>
                            <td>Body/Trim</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="m in Vehicles">
                            <td>{{m.Year}}</td>
                            <td>{{m.Make}}</td>
                            <td>{{m.Model}}</td>
                            <td>{{m.BodyType}} ({{m.Id}} / {{m.AcesVehicleId}})</td>
                            <td>
                                <div ng-if="!m.HasImage && Vehicle.Id !== -1">
                                    <a ng-click="setImage(m.Id)"><i class="fa fa-plus"></i> Set As Image</a>
                                </div>
                                <div ng-if="m.HasImage">
                                    <a ng-click="removeImage(m.Id)"><i class="fa fa-minus"></i> Remove As Image</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    
    
</div>