﻿<div class="row">
    <div class="large-12 columns">
        <div class="breadcrumb">
            <a href="#">Home</a>
            <span class="divider"><i class="fa fa-angle-right"></i></span>
            Uploaded Vehicle Images
        </div>

        <div class="row">
            <div class="col-sm-5">
                <h2>Uploaded Vehicle Images</h2>
            </div>            
            <!--<div class="column">
                <div class="row" style="padding-top: 14px;">
                    <div class="shrink columns">
                        <div class="inputPadding">Load a Library</div>
                    </div>
                    <div class="columns">
                        <select name="" id="">
                            <option value="0">Customer Uploaded Vehicles</option>
                            <option value="1">FuelAPI</option>
                            <option value="2">Icon Media</option>
                        </select>
                        <input id="checkbox1" type="checkbox"><label for="checkbox1">Load only vehicles with no wheel positioning</label>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3" >
        <img src="{{Vehicle.Image}}" alt="" />
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-5 col-sm-2">
        <label for="imageFile" ng-show="!uploader.getNotUploadedItems().length" class="button small">
            <i class="fa fa-plus"></i>
            Add Image
        </label>
        <input id="imageFile" type="file" class="show-for-sr" nv-file-select options="{name: 'vehicleimage'}" uploader="uploader" accept=".png,.jpg" single/>
    </div>

</div>

<div class="row" ng-show="uploader.getNotUploadedItems().length">
    <div class="col-sm-offset-4 col-sm-2">
        <button type="button" class="button" ng-click="saveChanges()">
            <i class="fa fa-check-square"></i> Upload
        </button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="button" ng-click="cancelChanges()">
            <i class="fa fa-check-square"></i> Cancel
        </button>
    </div>
</div>

<label>{{uploadMessage}}</label>

<div class="vehicleImage-list">
    <div class="row ">
        <div style="margin: 4px 0 4px 0;" class="col-sm-2" ng-repeat="i in images">
            <div class="row">
                <div class="col-sm-offset-10 col-sm-2">
                    <a href="" ng-click="removeImage(i.VehicleImageID)">
                        <i class="fa fa-times-circle"></i>
                    </a>    
                </div>
                                
            </div>
            <img style="margin-top: -8px;" src="{{i.Thumbnail}}" alt="">
            
            <div class="vehicle-meta">

                <div ng-if="i.DisplayDate !== null" class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <small>Uploaded On: {{i.DisplayDate}}</small>
                    </div>
                </div>

                <!--<div class="row">
                    <div class="column">
                        <div class="inputPadding tiny">Public?</div>
                    </div>
                    <div class="column text-right">
                        <div class="switch small">
                            <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch" checked="">
                            <label class="switch-paddle" for="yes-no">
                                <span class="show-for-sr">Public?</span>
                                <span class="switch-active" aria-hidden="true">Yes</span>
                                <span class="switch-inactive" aria-hidden="true">No</span>
                            </label>
                        </div>
                    </div>
                </div>-->
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-3">
                        <a href="#uploadvehicleimage/{{i.VehicleImageID}}">ACES</a>                        
                    </div>
                    <div class="col-sm-offset-1 col-sm-3">
                        <a href="" ng-click="positionWheels(i.VehicleImageID)">Wheels</a>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>