﻿<div class="bodyWrapper"  >

    <div class="breadcrumb">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="#home">Home</a> </li>                
                <li>Vehicle Mappings</li>
            </ul>
        </nav>
    </div>

    <div class="row" >
        <div class="column">

            <h1>Map ACES to Vehicle Images</h1>

            <hr>
				
            <h4>Search for a Vehicle</h4> 
            <div ng-if="savingLoading">
                <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
            </div>
            <!--- ACES vehicle dropdowns - like widget, pre-populated with first found ACES ID that has not default vehicle imageID --->
            <div class="vehicleSelect">
                <div class="col-md-2"><select id="vtws-vehicle-year" ng-model="year" ng-change="changeYear()" ng-options="o for o in years" single></select></div>
                <div class="col-md-2"><select id="vtws-vehicle-make" ng-model="make" ng-change="changeMake()" ng-options="o for o in makes" single></select></div>
                <div class="col-md-3"><select id="vtws-vehicle-model" ng-model="model" ng-change="changeModel()" ng-options="o for o in models" single></select></div>
                <div class="col-md-2"><select id="vtws-vehicle-bodyType" ng-model="bodyType" ng-change="changeBodyType()" ng-options="o for o in bodyTypes" single></select></div>
                <div class="col-md-3"><select id="vtws-vehicle-sub-model" ng-model="currentSubModel" ng-change="changeSubModel()" ng-options="o.SubModel for o in subModels track by o.Id" single></select></div>
            </div>
           
           <!--- Found Vehicle will show relevantIDs--->
           <div class="vehicleID">
           <table>
           	<thead>
           		<tr>
           			<td>ACES ID</td>
           			<td>VT ID</td>
           			<td>Region ID</td>
           			<td>VT Chassis</td>
           		</tr>
           	</thead>
           	<tbody>
           		<tr>
           			<td>{{subModel.AcesVehicleId}}</td>
           			<td>{{subModel.Id}}</td>
           			<td>{{subModel.RegionId}}</td>
           			<td>{{subModel.ChassisId}}</td>
           		</tr>
           	</tbody>
           </table>
           </div>
           
           
           <!-- Found Vehicle will Show Options based on Fuel Year/Make, listed A-Z via Model name --->
           
           <table>
           	<thead>
           		<tr>
           			<td></td>
           			<td>Default</td>
           			<td>Year</td>
           			<td>Make</td>
           			<td>Model</td>
           			<td>Body/Trim (ID)</td>
           			<td></td>
           		</tr>
           	</thead>
           	<tbody>
           		<!--- If ID is already set, it will highlight that row (CSS to come later) --->
           		<tr ng-repeat="m in matches">
           			<!--- Shows small image thumbnail --->
           			<td><img src="{{m.Image}}" width="155" height="75"></td>
           			<td><div ng-if="m.IsMappedItem"><i class="fa fa-check"></i> </div> </td>
           			<td>{{m.Year}}</td>
           			<td>{{m.Make}}</td>
           			<td>{{m.Model}}</td>
           			<td>{{m.BodyType}}/{{m.SubModel}} ({{m.AcesVehicleId}})</td>
		               <td>
		                   <!--- Button saves vehicle ID as default match for ACES/VT ID--->
		                   <div ng-if="!m.IsMappedItem">
		                       <a ng-click="updateDefault(m.AcesVehicleId)"><i class="fa fa-check"></i> Set Default Image</a>
		                   </div>
           				
		               </td>		               
           		</tr>
           	</tbody>
           </table>
            

        </div>
    </div>

    <div id="bottomToolbar">
        <!--- Next button goes to next ACES ID without a set Vehicle Image --->        
        <a id="btn-next" class="button" ng-click="next()"><span style="text-decoration:underline;">N</span>ext Vehicle<i class="fa fa-arrow-right"></i></a>
        <a id="btn-next-unmapped" class="button" ng-click="nextUnmapped()">Next Undefined Vehicle<i class="fa fa-arrow-right"></i></a>
        <a href="#header" class="toTop"><span class="typcn typcn-arrow-up typcn-2x"></span></a>
    </div>

</div>