﻿
<div class="bodyWrapper">

    <div class="row bigGutters">
        <div class="col-sm-12">

            <h2>Snapshot</h2>

            <div class="row smallGutters">
                <div class="col-sm-6 col-md-auto">
                    <div class="statBox">
                        <span class="figure">{{stats.Wheels}}</span>
                        Wheels
                    </div>
                </div>
                <div class="col-sm-6 col-md-auto">
                    <div class="statBox">
                        <span class="figure">{{stats.Vehicles}}</span>
                        Vehicles
                    </div>
                </div>
                <!---
                <div class="col-sm-6 col-md-auto">
                    <div class="statBox">
                        <span class="figure">{{stats.Fitments}}</span>
                        Fitments
                    </div>
                </div>
                <div class="col-sm-6 col-md-auto">
                    <div class="statBox">
                        <span class="figure">{{stats.CustomerCars}}</span>
                        Customer Cars
                    </div>
                </div>
                --->
            </div>

            <div style="height: 2em"></div>

            <h2>My Brands</h2>
            <div style="height: 10px"></div>

            <ul id="brands-list-old" class="brand-list no-bullet"></ul>

            <div class="row">
                <div class="col">
                    <ul id="brands-list" class="brands list-group row">
                        <li class="list-group-item col-sm-6 col-md-3 col-lg-2" ng-repeat="brand in brands">
                            <a href="#brand/{{brand.Id}}">{{brand.BrandName}} ({{brand.Count}})</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>


</div>
