﻿@using VelocityWheels.Services.Models
@model VelocityWheels.Services.Models.ProductModel

@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var breadCrumb = new BreadCrumb()
    {
        CurrentCrumb = Model.PartNumber,
        CrumbUrlList = new List<Tuple<string, string>>()
        {
            new Tuple<string, string>(@Url.Action("Index", "Brand", new {brandId = Model.Brand}), Model.Brand),
            new Tuple<string, string>("/Wheels/Edit?brand=" + Model.Brand + "&style=" + Model.Style + "&finish=" + Model.Finish, Model.Style + ", " + Model.Finish)
        }
    };
}

<div class="bodyWrapper">
@Html.Partial("BreadCrumbPartial", breadCrumb)

<div class="row">
<div class="column">

<div style="height: 1.5rem;"></div>

<div class="row">
    <div class="column">
        <div class="manufacturer">@Model.Brand </div>
        <h1 class="noPad">@Model.Style, @Model.Finish</h1>
    </div>
</div>

<div style="height: 1rem;"></div>

<div class="row">

    <div class="small-12 columns">
        <h2 class="h-underline">Product Details</h2>
    </div>

    <div class="small-6 medium-2 columns">
        <img src="@Model.Thumbnail" width="500" height="500" alt=""/>
    </div>

    <div class="small-12 medium-5 columns wheelSpecs">
        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Part Number</span></div>
            <div class="columns">@Model.PartNumber</div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Style</span></div>
            <div class="columns">@Model.Style</div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Finish (Abbr.)</span></div>
            <div class="columns">
                <select name="" id="">
                    <option>Silver</option>
                    <option>Gunmetal</option>
                    <option selected>@Model.ShortFinish</option>
                    <option>Machined</option>
                    <option>Chrome / PVD</option>
                    <option>Polished</option>
                    <option>Brushed</option>
                    <option>Gold / Bronze</option>
                    <option>Carbon</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Finish (Full)</span></div>
            <div class="columns">
                <span class="middle-label">@Model.Finish</span>
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Description</span></div>
            <div class="columns">
                <textarea name="" rows="3">@Model.Description</textarea>
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Diameter</span></div>
            <div class="columns">
                <span class="middle-label">@Model.Diameter</span>
            </div>
        </div>
        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Width</span></div>
            <div class="columns">
                <span class="middle-label">@Model.Width</span>
            </div>
        </div>
        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Bolt Pattern</span></div>
            <div class="columns">
                <span class="middle-label">@Model.BoltPattern</span>
                <!----
                <div>
                    <a href="#" class="action"><i class="fa fa-plus"></i> Add Bolt Pattern</a>
                </div>
                ---->
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Offset</span></div>
            <div class="columns">
                <span class="middle-label">@Model.Offset</span>
            </div>
        </div>


        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">B/S</span></div>
            <div class="columns">
                <span class="middle-label">@Model.Bsm</span>
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Bore</span></div>
            <div class="columns">
                <span class="middle-label">@Model.Bore</span>
            </div>
        </div>

    </div>
    <div class="small-12 medium-5 columns wheelSpecs">

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Load Rating</span></div>
            <div class="columns">
                <span class="middle-label">@Model.LoadRating</span>
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Weight</span></div>
            <div class="columns">
                <span class="middle-label">@Model.Weight#</span>
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Construction</span></div>
            <div class="columns">
                <select name="" id="">
                    <option value="ca" selected>Cast</option>
                    <option value="ff">Rotary Forged</option>
                    <option value="1p">1-piece Monoblock</option>
                    <option value="2p">2-piece Forged</option>
                    <option value="3p">3-piece Forged</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Cost</span></div>
            <div class="columns">
                $@Model.Cost
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">MAP Pricing</span></div>
            <div class="columns">
                $@Model.MapPricing
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">MSRP</span></div>
            <div class="columns">
                $@Model.Msrp
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Big Brakes?</span></div>
            <div class="columns">
                <div class="switch">
                    <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch">
                    <label class="switch-paddle" for="yes-no">
                        <span class="show-for-sr">Clears Big Brakes</span>
                        <span class="switch-active" aria-hidden="true">Yes</span>
                        <span class="switch-inactive" aria-hidden="true">No</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Off-Road?</span></div>
            <div class="columns">
                <div class="switch">
                    <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch">
                    <label class="switch-paddle" for="yes-no">
                        <span class="show-for-sr">Off-Road</span>
                        <span class="switch-active" aria-hidden="true">Yes</span>
                        <span class="switch-inactive" aria-hidden="true">No</span>
                    </label>
                </div>
            </div>
        </div>

    </div>

</div>

<div id="fitmentLink" style="height: 1em;"></div>
<div style="height: 2em;"></div>

<div class="row">
    <div class="columns">

        <div class="row">
            <div class="small-12 medium-expand column">
                <h2>Vehicle Fitments</h2>
            </div>
            <div class="small-12 shrink column">
                Regions
                <select name="filter-region" id="filter-region" class="input-group-field shrink">
                    <option value="">ALL</option>
                    <option value="">US</option>
                    <option value="">CAN</option>
                    <option value="">AUS</option>
                </select>
            </div>
        </div>
        <hr/>

        <ul class="accordion" data-accordion data-allow-all-closed="true">

            @{
                foreach (var modelFitment in Model.Fitments)
                {
                    List<ProductFitmentModel> models = modelFitment.Value;
                    ProductFitmentModel first = models.FirstOrDefault();

                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Chassis: @first.Year @first.Make @first.Model (@models.Count Total Fitments)</a>
                        <a class="fitment-delete" onclick="restrictFitment(this,@modelFitment.Key,'@Model.PartNumber')">
                            <i class="fa fa-trash"></i>
                        </a>

                        <div class="accordion-content" data-tab-content>
                            @{
                                foreach (var productFitmentModel in models)
                                {
                                    <ul>
                                        @productFitmentModel.Year @productFitmentModel.Make @productFitmentModel.Model @productFitmentModel.BodyType @productFitmentModel.SubModel (@productFitmentModel.Region)
                                    </ul>
                                }
                            }

                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>

<div style="height: 3em;"></div>

<div class="row">
    <div class="columns">

        <div class="row">
            <div class="small-12 medium-expand column">
                <h2>Restricted Fitments</h2>
            </div>
            <div class="small-12 shrink column">
                Regions
                <select name="filter-region" id="filter-region" class="input-group-field shrink">
                    <option value="">ALL</option>
                    <option value="">US</option>
                    <option value="">CAN</option>
                    <option value="">AUS</option>
                </select>
            </div>
        </div>
        <hr/>

        <ul class="accordion" data-accordion data-allow-all-closed="true">
            @{
                foreach (var modelFitment in Model.RestrictedFitments)
                {
                    List<ProductFitmentModel> models = modelFitment.Value;
                    ProductFitmentModel first = models.FirstOrDefault();

                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Chassis: @first.Year @first.Make @first.Model (@models.Count Total Fitments)</a>
                        <a class="fitment-delete" onclick="enableFitment(this,@modelFitment.Key,'@Model.PartNumber')">
                            <i class="fa fa-plus"></i>
                        </a>

                        <div class="accordion-content" data-tab-content>
                            @{
                                foreach (var productFitmentModel in models)
                                {
                                    <ul>
                                        @productFitmentModel.Year @productFitmentModel.Make @productFitmentModel.Model @productFitmentModel.BodyType @productFitmentModel.SubModel (@productFitmentModel.Region)
                                    </ul>
                                }
                            }

                        </div>
                    </li>
                }
            }
        </ul>

    </div>

</div>


<div id="bottomToolbar">
    <a href="wheel.php" type="submit" class="button"><i class="fa fa-check"></i> Save Changes</a>
    <a href="fitment-add.php" class="button"><i class="fa fa-car"></i> Add Vehicle Fitment (108)</a>
    <a href="#header" class="toTop">
        <span class="typcn typcn-arrow-up typcn-2x"></span></a>
</div>

</div>
</div>


</div>

@section Scripts {
    <script type="text/javascript">
        
        function cancelEvent(ev) {
            
            if (ev.stopPropagation){
                ev.stopPropagation();
            }
            else if(window.event){
                window.event.cancelBubble=true;
            }
        };

        function restrictFitment(ev, chassisId, partNumber) {
            cancelEvent(ev);

            $.post("/Products/RemoveFitment", {chassisId: chassisId, partNumber : partNumber})
                .done(function(data) {
                    if (data.Error == null) {
                        location.reload();
                    } else {
                        console.log(data.Error);
                    }
                })
                .fail(function() {
                    console.log("failed to remove fitments");
                });
        };

        function enableFitment(ev, chassisId, partNumber) {
            console.log(chassisId + " " + partNumber);
            cancelEvent(ev);

            $.post("/Products/EnableFitment", { chassisId: chassisId, partNumber: partNumber })
                .done(function(data) {
                    if (data.Error == null) {
                        location.reload();
                    } else {
                        console.log(data.Error);
                    }
                })
                .fail(function() {
                    console.log("failed to enable fitments");
                });
        };

        $(document)
            .ready(function() {
                $(function() {

                });
            });
    </script>
}