
/* WRAPPER */
#vtws {
	position:  relative;
	box-sizing: border-box;
}

/* MAIN ACTIONS */
#vtws-mainActions {
	position: relative;
	padding: 6px;
}

/* STUDIO IMAGE SELECT */
#vtws-imageSelect {

}
.userUpload {
	text-align: center;
}
.userUpload .mainText {
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 1em;
}
input#imgLoader {
	border: solid 1px #aaa;	
	background: #eee;
	padding: 4px;
}
.studioVehicleList {
	max-height: 60vh;
	overflow:auto;
}
.studioVehicleList > .column {
	margin: 0 0 10px 0;
}

/* STUDIO WHEEL LIST */
.studioWheelGrid .tileContent {
    background: transparent;
    border: none;
    padding: 10px;
    margin: 0 0 0.5em 0;
}
.studioWheelGrid .actions {
	text-align: center;
}
.studioWheelGrid > .column {
	padding: 1px;
	background: #fff;
}

/* TIPS */
#uploadTips p {
	line-height: 1.1;
}
.tips-header {
	margin-bottom: 1.5em;
	border-bottom: solid 1px #aaa;
	padding-bottom: 0.5em;
	text-align: center;
	text-transform:  uppercase;
	font-weight: bold;
	font-size: 0.9em;
}
.tip-good { color: #31B517; }
.tip-bad { color: #a00; }


/* WHEEL PAINT ---------- */
#vtws-mainWheel {
	width: 250px;
	height: 250px;
}
@media screen and (min-width:400px) {
	#vtws-mainWheel {
		width: 370px;
		height: 370px;
	}
}

/* Main Vehicle Studio */
#vtws-wrapper {
	margin: 0 15px;
	max-width: none;
}

.canvas-container {
	margin: 0 auto;
}
#mainVehicle {
	position: relative;	
}
.vehicle-actions {
	margin-top: 20px;	
}
.userUpload {
	margin-top: 30px;
}
#vehicleImg {
	position: absolute;	
	top: 0;
	left: 0;
}
canvas#v {
	width: 100%;
}

canvas#w {
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  outline: none;
 } 
 
#vtws-mainVehicle { 
	position: relative;
	width: 100%;
}
 /* Medium and up */
@media screen and (min-width: 40em) {
	#vtws-mainVehicle {
		box-sizing: border-box;
	}
	#vtws-mainVehicle .vtws-vehicleWrapper {
	}
}
.vtws-vehicleWrapper {
	background: url('../images/bg-studio.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* COLOR SWATCHES -------------*/
#vtws-swatches {
	padding: 5px;
	margin-bottom: 10px;
	text-align:  center;
}
#vtws-swatches .vtws-colorSwatch {
	width: 50px; 
	height: 35px;
}

/* ALTERNATIVE VIEW --------------- */
#vtws-vehicleWrapper.vtws-withViews {
	margin-right: 125px;
}
#vtws-vehicleViews {
	position:  absolute;
	width: 125px;
	right: 0;
	top: 40px;
	padding: 10px;
}
.vtws-uploadAlternateView {
	display:  block;
	font-size: 11px;
	text-align: center;
	text-transform:  uppercase;
	padding: 10px;
	background: #fff;
	border: dashed 3px #ccc;
	color:  #444;
	-webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.vtws-uploadAlternateView:hover {
	border-color: #258faf;
}
.vtws-plus {
	font-weight: 900;
	font-size: 4em;
	line-height: 0.8;
}

 
/* UI BUTTONS */

.ui-button,
.buttonGroup {
	background: #eee;
	border: solid 1px #ccc;
	border-radius: 3px;
	font-size: 9px; 
	text-transform: uppercase;
	vertical-align: middle;
}
.ui-button {
	padding: 8px;
}
.ui-button i {
	font-size: 18px;
	margin-right: 4px;
	vertical-align: middle;
}
.input-group {
	border: solid 1px #ccc;
}
.input-group-label:first-child {
	border-radius:none;
}
.input-group-label {
	border: none;
}
.input-group input[type='file'] {
	 padding: 10px;
    margin: 0;
}
.buttonGroup {
	display: inline-block;
}
.buttonGroup label {
	font-weight: normal;
	padding: 8px 0 8px 8px;
	display: inline-block;
	font-size: 9px; 
}
.buttonGroup .ui-button {
	border: none;
	outline: none;
}
.ui-button.disabled {
	opacity: 0.5;
}


 /* COLOR PICKER */
 .sp-clear-display {
	background: url(../images/swatch_polished.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
 }
 .sp-dd {
	 float: right;
	 line-height: 22px;
	 margin-right: 4px;
 }
.sp-replacer {
	position: relative;
	padding: 0;
	height: 25px;
}
.sp-replacer.pickerBox {
	width:100%;
}
.sp-preview {
	position: absolute;
	top: 0;
	right: 16px;
	bottom: 0;
	left: 0;
	width: auto;
	height: 25px;
	border: none;
}

/* TOUR */
.vtwsTour-mainWindow {
	margin-top: -8%;
}
/* Left Tour Stops */
@media screen and (max-width: 40em) {
	.joyride-tip-guide {
		margin-top: 18px;
	}
	.vtwsTour-left span.joyride-nub.top {
		right: 20px;
    	left: auto;
	}
}
@media screen and (min-width: 40em) {
	.vtwsTour-left {
		margin-top: -15px;
		margin-left: -12px;
	}
}

/* BRIGHTNESS */
#vtws-brightnessSlider {
	display: block;
	position: absolute;
	z-index: 100;
	left: 3px;
	right: 3px;
	top: 103%;
	background: rgba(255,255,255,0.5);
	border: solid 1px #ccc;
	padding: 5px 25px;
	margin-left: .9375rem;
   margin-right: .9375rem;
}
.vtws-controlLabel {
	display:  inline-block;
	vertical-align:  middle;
	width: 10%;
	text-align: center;
}
#vtws-brightnessSliderInput,
#vtws-contrastSliderInput{
	display:  inline-block;
	vertical-align:  middle;
	width: 80%;
	margin: 5px 0;
}

/* Range Sliders */
.vtws-rangeSlider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

.vtws-rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.vtws-rangeSlider:focus {
  outline: none; 
}

.vtws-rangeSlider::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* RANGE SLIDER THUMB */
/* Special styling for WebKit/Blink */
.vtws-rangeSlider::-webkit-slider-thumb {
	height: 20px;
	width: 16px;
	position: relative;
	top: -10px;
	border-radius: 3px;
	background: #0785ff;
	cursor: pointer;
}

/* All the same stuff for Firefox */
.vtws-rangeSlider::-moz-range-thumb {
	height: 20px;
	width: 16px;
	position: relative;
	top: -10px;
	border-radius: 3px;
	background: #0785ff;
	cursor: pointer;
}

/* All the same stuff for IE */
.vtws-rangeSlider::-ms-thumb {
	height: 20px;
	width: 16px;
	position: relative;
	top: -10px;
	border-radius: 3px;
	background: #0785ff;
	cursor: pointer;
}

/* RANGE SLIDER TRACK */
.vtws-rangeSlider::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	background: rgba(0,0,0,0.2);
	border-radius: 3px;
}

.vtws-rangeSlider::-moz-range-track {
	width: 100%;
	height: 3px;
	background: rgba(0,0,0,0.2);
	border-radius: 3px;
}

.vtws-rangeSlider::-ms-track {
	width: 100%;
	height: 3px;
	background: rgba(0,0,0,0.2);
	border-radius: 3px;}


