@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Oxygen:300,400,700';

body {
	font-family: 'Oxygen';
}
#page,
.columnTop,
.reveal {
	background: #f4f4f4;
	color: #000;	
}

/* FONTS */
h1,h2,h3,h4,h5,h6 {
	font-family: 'Oxygen';
}

body { font-size: 15px; }	
@media screen and (max-width:39.9375em) { body { font-size: 13px; }	 }


/* HEADER */
header {
	position: fixed;
	width: 100%;
	top:0;
	background: none;
}
header.fixed {
	background: #fff;
	box-shadow: 0 0 14px #555;
}

/* MAIN NAVIGATION */
#mainNav.menu > li > a {
	text-transform: uppercase;
	font-size: 115%;
}

/* HOME SLIDER */
.homeSlider {
	margin: 0 auto;
}
.homeSlide {
	max-height: 70vh;
	overflow: hidden;
}
.slideHeadContent h1 { font-size: 300%; }
@media screen and (max-width: 39.9375em) { .slideHeadContent h1 { font-size: 200%; } }


/* HOME */	
.home-vehicleSelection {
	background: #C90407;
	color: #fff
}

/* PAGE */
#content {
	margin-top: 10px;
}

/* SIDEBAR */
.toggleLink {
	margin-bottom: 15px;
}


/* FOOTER */
body, footer {
	background: #666;
}
footer {
	text-align: center;
}
footer, footer a {
	color: #fff;
}