
/* Main Vehicle Studio */
#mainVehicle {
	position: relative;	
}
.vehicle-actions {
	margin-top: 20px;	
}
.userUpload {
	margin-top: 30px;
}
#vehicleImg {
	position: absolute;	
	position: absolute;
	top: 0;
	left: 0;
}
canvas#v {
	width: 100%;
}

canvas#w {
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  outline: none;
 }  
 
/* UI BUTTONS */

.ui-button,
.buttonGroup {
	background: #eee;
	border: solid 1px #ccc;
	border-radius: 3px;
	font-size: 9px; 
	text-transform: uppercase;
	vertical-align: middle;
}
.ui-button {
	padding: 8px;
}
.ui-button i {
	font-size: 18px;
	margin-right: 4px;
	vertical-align: middle;
}
.input-group {
	border: solid 1px #ccc;
}
.input-group-label:first-child {
	border-radius:none;
}
.input-group-label {
	border: none;
}
.input-group input[type='file'] {
	 padding: 10px;
    margin: 0;
}
.buttonGroup {
	display: inline-block;
}
.buttonGroup label {
	font-weight: normal;
	padding: 8px 0 8px 8px;
	display: inline-block;
	font-size: 9px; 
}
.buttonGroup .ui-button {
	border: none;
	outline: none;
}
.ui-button.disabled {
	opacity: 0.5;
}


 /* COLOR PICKER */
 .sp-clear-display {
	background: url(../images/swatch_polished.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
 }
 .sp-dd {
	 float: right;
	 line-height: 22px;
	 margin-right: 4px;
 }
.sp-replacer {
	position: relative;
	padding: 0;
	height: 25px;
}
.sp-replacer.pickerBox {
	width:100%;
}
.sp-preview {
	position: absolute;
	top: 0;
	right: 16px;
	bottom: 0;
	left: 0;
	width: auto;
	height: 25px;
	border: none;
}