/* FRAMEWORK FOR VELOCITY TECH RETAILERS */
html,body {
	min-height: 100%;
}
*, *:before, *:after { box-sizing: border-box; }

/* GRID */
.row {
    max-width: 75rem;
}
.row.innerRow,
.row.noGutter, .row.noGutter {
	margin-left: 0;
	margin-right: 0;
}
.row.noGutter > .column, .row.noGutter > .columns {
	padding-left: 0;
	padding-right: 0;
}
.row.productGrid, .row.noGuproductGridtter {
	margin-left: -8px;
	margin-right: -8px;
}
.row.productGrid > .column, .row.noGuproductGridtter > .columns {
	padding-left: 8px;
	padding-right: 8px;
}
.row.gutter2x > .column, .row.padding2x > .columns {
	padding-left: 2rem;
	padding-right: 2rem;
}


/* TABS */
.tabs {
	margin: 0;
	list-style-type: none;
	background: none;
	border: none;
	border-bottom: solid 1px #ccc;
	font-size: 1rem;
}
.tabs-title > a {
	padding: 10px 15px;
	box-sizing: border-box;
	color: #000;
	border: solid 1px rgba(255,255,255,0.00);
	border-top: solid 3px rgba(255,255,255,0.00);
	border-bottom: none;
    position: relative;
	top: 1px;
}
.tabs-title > a:hover  {
	font-weight: bold;
	background: rgba(255,255,255,0.00);
}
.tabs-title > a:focus, .tabs-title > a[aria-selected=true] {
    background: #fff;
	border-color: #ccc;
	border-top: solid 3px #0785ff;
}

.tabs-content {
    background: none;
    border: none;
}
.tabs-panel {
	padding: 10px 0; 
}

/* ACCORDIANS */
.accordion,
.accordion-content, .dropdown-pane {
	background: none;
}
.accordion {
	border: 1px solid #aaa;
}
.accordion-title {
	background-color: #fff;
	color: #000;
	font-size: 1.1em;
}
.accordion-title:hover {
	color: #0785ff;
}
.accordion-item.is-active .accordion-title {
	font-weight: bold;
	color: #000;
	background: #fff;
} 

/* MISC */
.w100 { width: 100%; }
.boxShadow {
    -webkit-box-shadow: 2px 2px 12px #666;
    -moz-box-shadow: 	2px 2px 12px #666;
    box-shadow: 		2px 2px 12px #666;
}
hr {
	max-width: 75rem;
}
hr.padded {
	margin: 1.5em auto;
}


/* FONTS */
h1,h2,h3,h4,h5,h6 {
	line-height: 1.05;
	margin-top: 0.5rem;
    margin-bottom: 1rem;
}
h1 { font-size: 2.4rem; font-weight:300; }
h2 { font-size: 1.6rem; font-weight:300; }
h3 { font-size: 1.4rem; font-weight:300; }
h4 { font-size: 1.2rem; font-weight:700; }
h5 { font-size: 1rem; font-weight:700; }
@media screen and (max-width:39.9375em) {
	h1 { font-size: 1.6rem; }
	h2 { font-size: 1.4rem; }
	h3 { font-size: 1.2rem; }
	h4 { font-size: 1.1rem; }
	h5 { font-size: 1rem; }
}
.font-normal { font-weight: normal; }
.headerPadded,
.productDetails h2 {
	margin: 1.25em 0 15px;
}
.allCaps {  text-transform:uppercase; }
.strong { font-weight: bold; }
.small { font-size: 10px; }

.text-white { color:#fff; }
.text-black { color: #000; }
@media screen and (min-width: 40em) { 
	.mediumUp-text-white { color:#fff; }
	.mediumUp-text-black { color: #000; }
}

.smallSubhead {
	font-size: 85%;
	text-transform: uppercase;
	font-weight: bold;
	color: #999;
	margin-top: 8px;
}


/* ICONS */
.fa { margin: 0 4px; }

/* BOXES */
[class^="box-"] {
	padding: 8px 15px;
	margin: 15px 0;
	background: #fff;
	color: #000;
	border: solid 1px #ccc;
}
.box-padded {
	padding: 30px 40px;
}
.box-dark {
	background: #aaa;
	color: #fff;
}
.box-dark a 		{ color: #ccc; }
.box-dark a:hover 	{ color: #fff; }
.box-dark select, .box-dark input {
	background-color: #aaa;
	color: #fff;
}
.box-dark select {
	background-color: #777;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%28255, 255, 255%29"></polygon></svg>');
}


/* FORMS */
select, input[type=text], button {
	padding: 5px 8px;
    margin: 0 2px 0 0;
    font-size: 1rem;
	border-radius: 0;
	height: auto;
}
select, input[type=text] {
    color: #0a0a0a;
}
input[type=number] { width:auto; text-align:right; display:inline-block; }
select {
    height: auto;
    padding-right: 22px;
    background-position: right -15px center;
}
select[disabled] {
	background-color: transparent;
	opacity: 0.5;
}
[type=checkbox], [type=file], [type=radio] { margin: 0; }
legend {
	opacity: 0.8;
	text-transform: uppercase;
	font-size: 0.8em;
}
input[type="radio"].radioAsBtn,
input[type="radio"].wheelSizeOption {
	display: none;	
}
input[type="radio"].radioAsBtn + label {
	display: block;
	border: solid 1px #ddd;	
	margin: 3px 0;
	padding: 6px 10px;
}
input[type="radio"].radioAsBtn:checked + label {
	background: #FFFEC5;
	border-color: #aaa;
	font-weight: bold;
}
input[type="radio"].wheelSizeOption + label {
	display: block;
	padding: 6px 10px;
	margin: 1em 0;
	border: solid 1px #ccc;	
	background: #ebebff;
	color: #000;
	font-weight: bold;
}
input[type="radio"].wheelSizeOption:checked + label {
	background: #fff;
	border-color: #0785ff;	
}
input[type="radio"].wheelSizeOption + label .specsTable,
input[type="radio"].wheelSizeOption + label .actions { display: none; padding: 0; margin: 0 0 0.5em 0; }
input[type="radio"].wheelSizeOption:checked + label .specsTable { display: table; }
input[type="radio"].wheelSizeOption:checked + label .actions { display: block; text-align:left; }

label.block {
	text-transform: uppercase;
	font-size: 0.8em;
	opacity: 0.5;
	font-weight:bold;
	padding-top: 5px;
	display: block;
}
/* Input Groups */
.input-group {
	margin: 0;
	line-height: 1.5;
}
.input-group-button > .button {
	white-space: nowrap;
	line-height: 1.5;
	text-transform:  uppercase;
	font-weight: bold;
}

input.noBorder {
	border: none;
}
input.qty {
	width: 55px;
	text-align:  right;
}

/* BUTTONS & LINKS */

a.small {
	text-transform: uppercase;
	font-size:0.8em;
}
.button {
	margin-bottom: 1px;
	padding: 8px 10px;
}
.button-large,
#content.home .sectionButton {
	font-size: 120%;
	padding: 14px 22px;
	color: #fff;
}
.button-small {
	font-size: 0.85rem;
	text-transform: uppercase;
	padding: 6px 10px;
	border: solid 1px #ccc;
}
.button-tiny {
	font-size: 0.75rem;
	text-transform: uppercase;
	padding: 5px 6px;
	border: solid 1px #ccc;
}
.button-white {
	background-color: #fff;
	color: #000;
}
.button-gray {
	background-color: #ddd;
	color: #000;
}
.button:focus, 
.button:hover {
    background-color: #00a99f;
	color: #fff;
}
.clearButton {
	display: inline-block;
	padding: 5px 8px;
	text-align: center;
	border: solid 1px #ccc;
}

/* LISTS */
.logoGrid > .brandTile {
	position: relative;
	text-align: center;
}
.logoGrid > .brandTile a {
	display: block;
	width: 100%;
	height: 140px;
}
.logoGrid .brandTile .brand{
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}
.logoGrid .brandTile a {
	color: #666;
	font-size: 0.8em;
	text-transform: uppercase;
}

/* TABLES */
.tdPadding,
table tbody td, table tbody th {
	padding: .5rem .625rem .625rem;
	vertical-align:  top;
}
/* MODALS */
.reveal-overlay {
	z-index: 1001;
	background: rgba(100,100,100,0.75);
}
.reveal {
	box-shadow: 4px 4px 25px #444;
}

/* HEADER */
.top-bar, .top-bar ul { background: none; }
.top-bar { padding-left: 0; }
@media screen and (min-width: 40em) { .top-bar { padding: 0; } }

header {
	z-index:500;
} 
header.fixed {
	background: #fff;
	width:100%;
	position: fixed;
	z-index:500;
}
img#mainLogo {
	max-height: 44px;
	margin: 2px 10px 2px 0;
}
@media screen and (max-width:39.9375em) {
	img#mainLogo { max-height:30px; }
	.top-bar-title { width: 100%; }
	#responsive-menu { width: 100%; background: #fff; }
}
.top-bar-right {
	text-align: right;
}

/* MINOR NAV BAR */
#minorNav {
	font-size: 80%;
	text-transform: uppercase;
	text-align: left;
	color: #666;
	margin-bottom: 10px;
}
#minorNav.menu > li > a,
#minorNav .fauxButton {
	display: inline-block;
	padding: 4px 10px;
}
#minorNav .fauxButton.strong {
	color: #000;
}
	
li.divider {
	border-right: solid 1px #ccc;
	height: 14px;
	margin: 0 8px;
}
#minorNav.menu li a {
	color: #666;
}
#minorNav.menu li a:hover {
	color: #0f6bc4;
}


/* MAIN NAV BAR */
.dropdown.menu>li.is-dropdown-submenu-parent>a {
	padding-right: 0.5rem;
}
.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
	border: none;
	display: none;
}
#mainNav {
	text-align: left;
}
.top-bar .is-dropdown-submenu {
	min-width: 230px;
	background: #fff;
}
@media screen and (min-width: 40em) {
	#mainNav {
		text-align: right;	
		display: inline-block;
		width: auto;
	}
	#mainNav > li {
		display: inline-block;
		text-align: left;
	}
}
#mainNav.menu li a {
	color: #000;
}
#mainNav.menu li a:hover {
	background: #0f6bc4;
	color: #fff;
}


/* HEADER NAVIGATION */
.menuToggle-button { 
	height: 30px; line-height:30px;
	text-transform: uppercase; 
}
#menuToggle {
	display: inline-block;
	float: right;
}

/* PAGE */
#page {
	min-height: 80%;
	position: relative;
	padding-bottom: 5em;
}
#page.dim:after {
	pointer-events: none;
	content: '';
	display: block;
	position: absolute;
	top:0; right:0; left:0; bottom:0;
	background: rgba(0,0,0,0.65);
}
#content.page .vsForm-content {
	margin-top: 15px;
}

/*CONTENT */
#content {
}

/* VEHICLE SELECTION */
.vsForm-content .vsForm-selectWrapper {
	width: 100%;
}
.vehicleSelection-h .vsForm-selectWrapper {
	width: auto;
}

.vsForm-image {
	margin: 2px 4px;
}
.vsForm-title .title-text {
	text-transform: uppercase;
	font-weight: bold;
	display: block;	
	line-height: 1;	
	margin-top: 5px;
}
#content.home .vsForm-title .title-text {
	font-size: 150%;
	font-weight: bold;	
	margin-top: 0;
}
.home-only {
	display: none;
}
#content.home .home-only {
	display: inherit;
}

/* HOME SLIDER */
.slick-slide {
	position: relative;
}
.homeSlide {
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}
.slideHead {
	position: absolute;
	top: 10%;
	left: 50px;
	right: 50px;
	bottom: 10%;	
	padding:0;
	margin-top: 50px;
}
@media screen and (max-width: 450px) {
	.slideImage { opacity: 0.25; }
	.slick-slide > .slideImage {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.slick-slide > .slideImage img {
		height: 100%;
		max-width: none;
		width: auto;
	}
}
@media screen and (min-width: 450px) {
	.slideHead {
		padding: 0;
		left: 8%;
		right: 8%;
	}
	.slideHead.v-middle { margin: auto; }
	.slideHead.v-top { bottom:auto }
	.slideHead.v-bottom { top:auto; }
	.slideHead.w-left { right:58%; }
	.slideHead.w-right { left:58%; }
	.slideHead.w-center { left:24%;  right:24%; }
}

/* VEHICLE SELECTOR - HORIZONTAL */
@media screen and (min-width: 40em) {
	.vehicleSelection-h .vsForm-image,
	.vehicleSelection-h .vsForm-title,
	.vehicleSelection-h .vsForm-content  {
		padding-left: .9375rem;
		padding-right: .9375rem;
		display: inline-block;
		vertical-align: middle;
	}
}

/* PAGE */

/* SIDEBAR */
@media screen and (max-width: 39.9375em) {
	#sidebar, .sidebar { min-width: 100%; width: 100%; }
	.sidebar.sticky {
		position: relative !important;
	}
}
@media screen and (min-width: 39.9375em) {
	#sidebar, .sidebar { max-width: 250px; margin-right: 30px; }
	.sidebar {
		padding-right: 20px;
		border-right: solid 1px #aaa;
		padding-bottom: 2em;
		width: 100%;
	}
}
.sidebar-section {
	margin-bottom: 1em;
}
.sidebar-section.actions {
	margin-top: 1em;
	padding-top: 1em;
}

/* PRODUCT PAGES */	
.wheelTile .tileContent,
.tireTile .tileContent,
.productTile .tileContent {
	/*
	background: #fff;
	border: solid 1px #ccc;
	*/
	padding: 20px;
	margin: 0 3px 1em 3px;
}
#productGrid {
	padding: 0 40px;
}
#productGrid.viewAll {
	display: flex;
	flex-flow: row wrap;
	-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
#productGrid.viewAll > .wheelTile {
	flex: 0 0 50%;
    max-width: 50%;
}
@media screen and (min-width: 40em) {
	#productGrid.viewAll > .wheelTile {
		flex: 0 0 25%;
		max-width: 25%;
	}	
}

.productGrid .productBrand {
	font-weight: 300;
	font-size: 0.9em;
}
.productGrid .productName {
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1;
	padding-bottom: 5px;
}
.productGrid .productFinish,
.productGrid .productOptions {
	font-size: 0.8rem;
}
.price {
	font-weight: bold;
	font-size: 1.2em;
}
.productGrid .actions {
	margin: 1em 0 0.5em 0;
	padding-top: 0.5em;
    line-height: 2.1;
	border-top: solid 1px #ccc;
	text-align: center;
}


/* COLUMN TOP */
.columnTop {
	padding: 5px; 
	z-index: 2;
}


/* PRODUCT DETAILS */	
.productImages {
	text-align: center;
}
.productImages .mainImage {
	margin-bottom: 15px;
}
.productImages .columns.imageThumb {
	max-width: 33%;
	display: inline-block;
}
.productDetails > .productItem {
	margin-bottom: 0.75em;
	padding-bottom: 0.75em;
	border-bottom: solid 1px #aaa;
}
table.specsTable tbody, table.specsTable tfoot, table.specsTable thead {
	background: none;
}
table.specsTable td,
table.specsTable th {
	padding: 4px 10px 4px 0;
	border-bottom: dotted 1px #aaa;
}
table.specsTable {
	border-collapse: separate;
}
.productPricing .meta,
.productPricing .availability {
	margin-bottom: 10px;
}
.productDetails .actions {
	text-align: right;
	margin-top: 0.75em;
	padding-top: 0.75em;
}
.productDetails .actions > div {
	margin-bottom: 10px;
}
.totalPrice {
	font-size: 180%;
}

/* WHEELS */
ul.wheelSizeOptions {
	margin: 0;
}
ul.wheelSizeOptions > li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}
.productImage {
	position: relative;
}
.colorable:after {
	content:'';
	display: block;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 25px;
	height: 25px;
	background :url(../images/colorWheel_sm.png);
	background-size: 25px 25px;
    background-repeat: no-repeat;
}

/* SHOPPING CART */
.checkoutPage {
	
}
table.shoppingList {
	width: 100%;
}
table.shoppingList tbody, table.shoppingList tfoot, table.shoppingList thead {
	background: transparent;
}
tr.total {
	border-top: solid 1px #ccc;
}
tr.grandTotal {
	border-top: double 3px #ccc;
	font-size: 1.4em;
	font-weight:  bold;
}
/* Medium and up */
@media screen and (min-width: 40em) {
	.shoppingList-left {
		width: 55%; 
		float: left;
		flex: 0 0 55%;
	}
	.shoppingList-right {
		width: 40%; 
		float: right;
		flex: 0 0 40%;
		margin-left: 2.5%;
		padding-left: 2.5%;
		border-left: solid 1px #ccc;
		min-height: 260px;
	}
}

/* FOOTER */
footer {
	padding: 1em 0 5px 0;
}
.siteName {
	font-size: 125%;
	font-weight: light;
}
footer hr {
	width: 100%;
	height: 1px;
	background: #aaa;
	border: none;
	margin: 15px 0;
}
.shoppingList .productBrand {
	font-weight: 300;
}
.shoppingList .productName {
	font-size: 1.2rem;
	font-weight: bold;
}
.shoppingList .productMeta {
	font-size: 1rem;
}
.shoppingList .productFinish {
	font-size: 0.8rem;
}
.shoppingList .productSKU {
	font-size: 0.7rem;
	color: #999;
}

/* ANIMATIONS */
.transition,
a, header, select, input
.slick-dots li, .slick-dots li button {
	-webkit-transition-duration: 0.5s; 
    transition-duration: 0.5s;
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}