﻿<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body data-whatinput="mouse">
    
    <nav class="navbar navbar-inverse navbar-fixed-top" style="height: 37.375px !important;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand navbar-left active" ng-href="#home">
                    <div class="site-owner">{{user.Account.AccountName}}</div>
                </a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">                    
                    <li uib-dropdown>
                        <a href="#" id="menu-toggle1" class="dropdown-toggle" role="button" uib-dropdown-toggle>My Brands<span class="caret"></span></a>
                        <ul uib-dropdown-menu aria-labelledby="menu-toggle1">
                            <li><a ng-href="#brands">Wheel Brands</a></li>
                            <li><a href="#admin" ng-if="hasAdminAccess">Admin</a></li>
                            <li><a href="#guides" ng-if="hasAdminAccess">Fitment Guides</a></li>
                        </ul>
                    </li>
                    
                    <li uib-dropdown>
                        <a href="#" class="dropdown-toggle" role="button" uib-dropdown-toggle>Vehicles<span class="caret"></span></a>
                        <ul uib-dropdown-menu>
                            <li>
                                <a href="#positionwheelsframe">Position Wheels</a>
                                <a href="#vehiclemappings">Vehicle Mappings</a>
                                <a href="#vehicleimages">Vehicle Images</a>
                                <!--<a href="/Vehicle/PositionWheels">Position Wheels</a>-->
                            </li>         
                        </ul>
                    </li>
                    
                    <li uib-dropdown ng-if="hasAdminAccess">
                        <a href="#" class="dropdown-toggle" role="button" uib-dropdown-toggle>Clients<span class="caret"></span></a>
                        <ul uib-dropdown-menu>
                            <li>
                                <a href="#tokens">All Tokens</a>
                                <!--<a href="/Vehicle/PositionWheels">Position Wheels</a>-->
                            </li>
                        </ul>
                    </li>
                    
                    <li uib-dropdown ng-if="hasAdminAccess">
                        <a href="#reports">Reports</a>
                    </li>
                    
                </ul>
            
                <ul class="nav navbar-nav navbar-right">
						  <li uib-dropdown class="navbar-right">
								<a href="#" id="menu-toggle-3" class="dropdown-toggle" role="button" uib-dropdown-toggle>{{user.UserName}} <span class="caret"></span></a>
								<ul uib-dropdown-menu aria-labelledby="menu-toggle-3">
									 <li><a href="#logout">Logout</a></li>

									 <!--<li role="separator" ng-if="hasAdminAccess" class="divider"></li>-->

								</ul>
						  </li>
						  <li>
							  <div class="site-title" style="margin-top: .5em">
									<img src="../../Content/images/Velocity_logo_horiz_white_sm.png" alt="">
							  </div>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</body>



</html>
