﻿
/* RESET */
img { max-width:100%; height:auto; }
.vtws-hide { display: none; }

/* WRAPPER & GENERAL STYLES */
#vtws-wheel-studio { position: relative; box-sizing: border-box; }
  #vtws-wheel-studio .vtws-hide { display: none; }

/* VEHICLE SELECTOR */
.vtws-select-wrapper { display: inline-block; margin-right: -3px; }

/* Medium and up */
@media screen and (max-width: 40em) {
	#vtws-vehicle-selector { width: 100%; display:block; }
	.vtws-select-wrapper { display: block; }
	.vtws-select-wrapper select { width: 100%; }
}

/* MAIN ACTIONS */
#vtws-mainActions { position: relative; padding: 6px; clear: both; }
  #vtws-mainActions .vtws-actionsRight { float: right; }

/* MODAL */
#lean_overlay { position: fixed; z-index: 100; top: 0px; left: 0px; height: 100%; width: 100%; background: #000; opacity: 0.5; display: none; }
.vtws-modal {
	background-color: #fff; 
	padding: 25px; 
	box-shadow: 2px 2px 15px #333; 
	max-width: 95%; 
	left: 50%; 
	transform: translateX(-50%);
	margin-left: auto !important;
	top: 5% !important; 
	display: none; 
	position: fixed;
	max-height: 85%;
	overflow:  auto;
	opacity: 1; 
	z-index: 11000;
	box-sizing:  border-box;
}
.vtws-close-button {
	position:  absolute;
	top: 0;
	right: 0;
	padding: 2px 10px;
	background: transparent;
	font-size: 40px;
	line-height: 1;
	border: none;
	cursor: pointer;
}

.vtws-selectvehicle-form {
	background-color: #f9f9f9; 	
	box-shadow: 1px 1px 5px #333;
	padding: 15px;
	margin: 10px 0 30px;	
	display: none; 
	overflow:  auto;
	opacity: 1; 
	z-index: 11000;
	box-sizing:  border-box;
}

/* STUDIO IMAGE SELECT */

#vehicle-select-first-image { height: 100%; min-height: 400px; padding: 10%; }

#vtws-vehicleSelect { width: auto; }
.userUpload { text-align: center; }
  .userUpload .mainText { text-align: center; font-weight: bold; font-size: 1.2rem; margin-bottom: 1em; }
input#imgLoader { border: solid 1px #aaa; background: #eee; padding: 4px; }

@media screen and (min-width: 640px) {
	#vtws-use-own-image {
		width: 38%;
		float: right;
	}
	#vtws-vehicle-select-pick-an-image,
	#vtws-vehicle-select-first-image,
    #vtws-vehicle-tips-section{
		width: 58%;
		float: left;
	}
}
.studioVehicleList { max-height: 60%; overflow: auto; }
  .studioVehicleList > .vehicleThumb { padding: 0 2px 10px 2px; width: 50%; display: inline-block; vertical-align:top; text-align:center; box-sizing: border-box; }
    .studioVehicleList > .vehicleThumb a { cursor: pointer; }
    .studioVehicleList > .vehicleThumb img { width: 100%; }
@media screen and (min-width: 640px) {
	.studioVehicleList > .vehicleThumb { width: 33%; }	
}
@media screen and (min-width: 1400px) {
	.studioVehicleList > .vehicleThumb { width: 25%; }	
}

.vtws-modal-title {
	margin: 5px 0;
}
#vtws-vehicleSelect h3 {
	border-bottom: solid 1px #ccc;
	font-size: 1rem;
	text-transform: uppercase;
	margin: 15px 0 10px 0;
}
.vtws-tips-header { font-weight: bold; }
.userUpload i { font-size: 2em; }

/* WHEEL PAINTER ---------- */

#vtws-paintWheel { max-width: 90%; box-sizing: border-box; }
/*#vtws-mainWheel { width: 280px; height: 280px; box-sizing: border-box; }*/

@media screen /*and (min-width:640px)*/ {
	/*#vtws-paintWheel { width: 630px; } */
	#vtws-mainWheel { display: inline-block; vertical-align: middle; }
	.builder_buttons { width: 160px; display: inline-block; vertical-align: middle; }
}

.wbLayer {
	margin-bottom: 5px;
}

.wheel-name { margin: 0; }

/* Main Vehicle Studio */
#vtws-wrapper { margin: 0 15px; max-width: none; }
.canvas-container { margin: 0 auto; }
#mainVehicle { position: relative; }
.vehicle-actions { margin-top: 20px; }
.userUpload { margin-top: 30px; }
#vehicleImg { position: absolute; top: 0; left: 0; }
canvas#v { width: 100%; }
canvas#w { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: none; }

#vtws-mainVehicle { position: relative; width: 100%; }
  #vtws-mainVehicle #vtws-secondaryVehicle { width: 30%; float: right; margin-top: -9%; cursor: pointer; position: relative; }

/* Medium and up */
@media screen and (min-width: 40em) {
  #vtws-mainVehicle { box-sizing: border-box; }
    #vtws-mainVehicle .vtws-vehicleWrapper { }
}

.vtws-vehicleWrapper { background: url('../images/bg-studio.jpg') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

/* COLOR SWATCHES -------------*/
#vtws-swatches { padding: 5px; margin-bottom: 10px; float: left; width: 65%; }
  #vtws-swatches img.vtws-colorSwatch { width: 50px; height: 35px; }
  #vtws-swatches div.vtws-colorSwatch { width: 32px; height: 32px; border: solid 1px black; display: inline-block;  margin: 0 4px 4px 0;}
  
/* COLOR PICKER */
.sp-clear-display { background: url(../images/swatch_polished.jpg); background-size: 100% 100%; background-repeat: no-repeat; }
.sp-dd { float: right; line-height: 22px; margin-right: 4px; }
.sp-replacer { position: relative; padding: 0; height: 25px; }
  .sp-replacer.pickerBox { width: 100%; }
.sp-preview { position: absolute; top: 0; right: 16px; bottom: 0; left: 0; width: auto; height: 25px; border: none; }

/* BRIGHTNESS */
#vtws-brightnessSlider { display: block; position: absolute; z-index: 100; top:50px; left: 3px; right: 3px; background: rgba(255,255,255,0.5); border: solid 1px #ccc; padding: 5px 25px; margin-left: .9375rem; margin-right: .9375rem; }
.vtws-controlLabel { display: inline-block; vertical-align: middle; width: 10%; text-align: center; }
#vtws-brightnessSliderInput,
#vtws-contrastSliderInput { display: inline-block; vertical-align: middle; width: 80%; margin: 5px 0; }

/* Range Sliders */
.vtws-rangeSlider { -webkit-appearance: none; /* Hides the slider so that custom slider can be made */ width: 100%; /* Specific width is required for Firefox. */ background: transparent; /* Otherwise white in Chrome */ }
  .vtws-rangeSlider::-webkit-slider-thumb { -webkit-appearance: none; }
  .vtws-rangeSlider:focus { outline: none; }
  .vtws-rangeSlider::-ms-track { width: 100%; cursor: pointer; /* Hides the slider so custom styles can be added */ background: transparent; border-color: transparent; color: transparent; }

  /* RANGE SLIDER THUMB */
  /* Special styling for WebKit/Blink */
  .vtws-rangeSlider::-webkit-slider-thumb { height: 20px; width: 16px; position: relative; top: -10px; border-radius: 3px; background: #0785ff; cursor: pointer; }

  /* All the same stuff for Firefox */
  .vtws-rangeSlider::-moz-range-thumb { height: 20px; width: 16px; position: relative; top: -10px; border-radius: 3px; background: #0785ff; cursor: pointer; }

  /* All the same stuff for IE */
  .vtws-rangeSlider::-ms-thumb { height: 20px; width: 16px; position: relative; top: -10px; border-radius: 3px; background: #0785ff; cursor: pointer; }

  /* RANGE SLIDER TRACK */
  .vtws-rangeSlider::-webkit-slider-runnable-track { width: 100%; height: 3px; background: rgba(0,0,0,0.2); border-radius: 3px; }
  .vtws-rangeSlider::-moz-range-track { width: 100%; height: 3px; background: rgba(0,0,0,0.2); border-radius: 3px; }
  .vtws-rangeSlider::-ms-track { width: 100%; height: 3px; background: rgba(0,0,0,0.2); border-radius: 3px; }

  /* Vehicle Thumbnails */
#vtws-vehicleThumbTiles {
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-flex-flow: row wrap;
	 -ms-flex-flow: row wrap;
	 flex-flow: row wrap;
}

.vtws-vehicle-list-image-section {
	 float: none;
	 width: auto;
}

/* PRODUCT FILTERS */
ul#vtws-filter-list, ul#vtws-sort, ul.vtws-text-dd { margin: 0; padding: 0; }
ul#vtws-filter-list > li, ul.vtws-text-dd > li { list-style: none; }

/* Horizontal Product Filters */
.vtws-filters-horizontal {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	align-items: center;
}
@media print, screen and (min-width: 40em) {
	.vtws-filters-horizontal #vtws-filters {
		flex: 2 0 auto;
	}
	.vtws-filters-horizontal #vtws-sort {
		flex: 1 1 auto;
	}
}
.vtws-filters-horizontal li.vtws-filter {
	
}


/* Wheel Results */
#vtws-productGrid {
	 display: -webkit-box;
	 display: -webkit-flex;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-flex-flow: row wrap;
	 -ms-flex-flow: row wrap;
	 flex-flow: row wrap;
}
@media print, screen and (max-width: 40em) {
                .vtws-productTile { 
                                -webkit-box-flex: 0;
                                -webkit-flex: 0 0 50%;
                                -ms-flex: 0 0 50%;
                                flex: 0 0 50%;
                                max-width: 50%;
                }
}
@media print, screen and (min-width: 40em) and (max-width: 64em) {
                .vtws-productTile { 
                                -webkit-box-flex: 0;
                                -webkit-flex: 0 0 25%;
                                -ms-flex: 0 0 25%;
                                flex: 0 0 25%;
                                max-width: 25%;
                }
}
@media print, screen and (min-width: 64em)  {
                .vtws-productTile { 
                                -webkit-box-flex: 0;
                                -webkit-flex: 0 0 20%;
                                -ms-flex: 0 0 20%;
                                flex: 0 0 20%;
                                max-width: 20%;
                }
}

.vtws-productTile { float: none; width: auto; padding: 0 10px 1em; box-sizing: border-box; }
.vtws-productTile .vtws-actions,
.vtws-productTile .vtws-productImage {
                text-align: center;
}
.vtws-productTile .vtws-productBrand { font-size: 0.8em; text-transform: uppercase; }
.vtws-productTile .vtws-productName { font-size: 1.2em; font-weight: bold; }
.vtws-productTile .vtws-productOptions { margin-top: 0.25rem; border-top: solid 1px rgba(0,0,0,0.2); padding-top: 0.25em;}
.vtws-productTile .vtws-actions { margin-top: 0.5rem; border-top: solid 1px rgba(0,0,0,0.2); padding-top: 0.5em; padding-bottom: 2em; }
.vtws-label-small { font-size: 10px; text-transform: uppercase; opacity: 0.7; }
ul.vtws-sizeOptions { list-style: none; margin: 0; padding: 5px 0; }
ul.vtws-sizeOptions li { font-size: 0.9em; }

/* PRODUCT DETAILS */
#vtws-wheelSpecs {}
.vtws-specsTable tr > td, .vtws-specsTable tr > th { text-align: center; }
.vtws-specsTable tr > td:first-child, .vtws-specsTable tr > th:first-child { text-align: left; }
.vtws-specsTable tr > td:last-child, .vtws-specsTable tr > th:last-child { text-align: right; }
#wheelDetailsModal #vtws-wheelThumb { max-width: 60%; }
.vtws-specFits { font-weight: bold; }
.vtws-note { font-size: 0.85rem; font-style: italic; }
@media screen and (min-width: 64em) {
#wheelDetailsModal #vtws-wheelThumb { width: 40%; float: left; }
#wheelDetailsModal #vtws-wheelSpecs { width: 55%; float: right; }
}

/* PRODUCT DETAILS */
#wheelDetailsModal .brandName { text-transform: uppercase; font-size: 0.9rem; }
.vtws-details-style { margin: 0; }
.vtws-details-finish { margin: 0; }

#vtws-wheelSpecs {}
.vtws-specsTable { width: 100%; border-spacing: 0; }
.vtws-specsTable thead tr, .vtws-specsTable thead th { background: #e0e0e0; color: #333; font-size: 0.75rem; text-transform: uppercase; padding: 3px 6px; }
.vtws-specsTable td { padding: 3px 6px; }
.vtws-specsTable tr > td:last-child, .vtws-specsTable tr > th:last-child { text-align: right; }
#wheelDetailsModal #vtws-wheelThumb { max-width: 60%; }
.vtws-specFits { font-weight: bold; }
.vtws-note { font-size: 0.75rem; font-style: italic; }
@media screen and (min-width: 64em) {
#wheelDetailsModal #vtws-wheelThumb { width: 40%; float: left; }
#wheelDetailsModal #vtws-wheelSpecs { width: 55%; float: right; }
}
 
 
/* Widget wait spinner */

/* Widget wait spinner */
.spin-modal {
    display:    block;
    position:   fixed;
    z-index:    10000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
    opacity: 0.80;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .spin-modal {
    display: block;
}

/* PRODUCT FILTERS */
#vtws-product-filters { margin: 0.5em 0; border-bottom: solid 1px #ccc; padding-bottom: 0.5em; }
ul.vtws-text-dd { margin: 0; padding: 0; }
ul#vtws-filter-list, ul#vtws-sort-list{ margin: 0; padding: 5px; }
ul#vtws-filter-list > li, ul#vtws-sort-list > li, ul.vtws-text-dd > li { list-style: none; }

.filter-title, .sort-title { text-transform: uppercase; font-size: 0.85rem; padding: 5px; }

.vtws-filter { display: block; }
.vtws-filter:hover { cursor: pointer; }
.vtws-filter-link, .vtws-sort-link { 
	padding: 5px; display: block; 
	text-decoration: none;
	color: #000;
} 
.vtws-filter-link:hover, .vtws-sort-link:hover { 
	cursor: pointer;
	background: rgba(0,0,0,0.1);
}

/* Horizontal Product Filters */
#vtws-filters, #vtws-sort { position: relative; }

.vtws-filters-horizontal .vtws-filter { display: inline-block; }

.vtws-filters-horizontal .vtws-text-dd {
	position: absolute;
	top: 100%;
	background: #fff;
	border: solid 1px #ccc;
	display: none;
}
.vtws-filter.open .vtws-text-dd {
	display: block;
}
.vtws-filters-horizontal .vtws-filter {
	padding-right: 25px;
	position: relative;
	margin-right: 20px;
}
.vtws-filters-horizontal .vtws-filter:after {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;

	content: "\e956";
	font-family: 'VelocityFont' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@media print, screen and (max-width: 640px) {
	
}
@media print, screen and (min-width: 640px) {
	.vtws-filters-horizontal .filter-title, .vtws-filters-horizontal .sort-title  { display: none; }

	.vtws-filters-horizontal {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		align-items: flex-start;
	}
	.vtws-filters-horizontal #vtws-filters {
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 0px;
		-ms-flex: 1 1 0px;
		flex: 1 1 0px;
		padding-right: 0.625rem;
		padding-left: 0.625rem;
		min-width: initial;
	}
	.vtws-filters-horizontal #vtws-sort {
		 -webkit-box-flex: 0;
		 -webkit-flex: 0 0 auto;
		 -ms-flex: 0 0 auto;
		 flex: 0 0 auto;
		 max-width: 100%;
	}
	.vtws-text-dd {
		min-width: 200px;
	}
	#vtws-sort .vtws-text-dd {
		right:0;
		min-width: 200px;
	}

}

/* Horizontal Vertical Filters */
.vtws-filters-vertical .vtws-filter { margin: 0.5em 0 1em; }
.vtws-filters-vertical #vtws-sort { margin-top: 0.5em; }

/* Spectific Filters */
.vtws-list-sizes .vtws-filter.filter-wheelSize {
	padding: 0;
}
.vtws-list-sizes .vtws-filter.filter-wheelSize:after {
	display: none;
	content: '';
}
.vtws-list-sizes .vtws-filter.filter-wheelSize .vtws-text-dd {
	position: relative;
	display: block;
	border: none;
	min-width: 50px;
}
.vtws-list-sizes .vtws-filter.filter-wheelSize .vtws-text-dd li {
	display: inline-block;
}
.vtws-list-sizes .vtws-filter.filter-wheelSize .vtws-filter-option-title {
	display: none;
}
.vtws-list-sizes .vtws-filter.filter-wheelSize .vtws-filter-option-title {
	display: none;
}

.vtws-note-label {
    font-size: 8px; 
    vertical-align: middle; 
    display: inline-block; 
    opacity: 0.4;
    padding-left: 2px;
    padding-bottom: 2px;
 }

.vtws-note-vehicle {
    position: relative;
    top: -24px;    
}

div.vtws-note-vehicle div.vtws-caption {
    position: absolute;
    top: -16px;
    left: 18px;
    max-width: 225px;
    font-size: 11px;
    display: none;
    background: rgba(250,240,210,1);
    padding: 10px 15px;
    border-width: 1px;
    border-radius: 5px;
    border-color: #333333;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    pointer-events: none;       
}

div.vtws-note-vehicle:hover div.vtws-caption {
    display: block;
    top: -64px;    
}​

 .vtws-caption-header {
     font-size: 0.8rem; color: #666; 
 }

 .vtws-caption-text {
 }

 #vtws-secondaryVehicle img { vertical-align: top; }

