@font-face {
  font-family: 'VelocityFont';
  src:  url('/Content/studio/css/fonts/VelocityFont.eot?7zj9n6');
  src:  url('/Content/studio/css/fonts/VelocityFont.eot?7zj9n6#iefix') format('embedded-opentype'),
			url('/Content/studio/css/fonts/VelocityFont.woff2?7zj9n6') format('woff2'),
			url('/Content/studio/css/fonts/VelocityFont.ttf?7zj9n6') format('truetype'),
			url('/Content/studio/css/fonts/VelocityFont.woff?7zj9n6') format('woff'),
			url('/Content/studio/css/fonts/VelocityFont.svg?7zj9n6#VelocityFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

i[class^="vticon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'VelocityFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vticon-home::before {
  content: "\e900";
}
.vticon-caret-down::before {
  content: "\e956";
}
.vticon-caret-left::before {
  content: "\e95d";
}
.vticon-caret-right::before {
  content: "\e95e";
}
.vticon-caret-up::before {
  content: "\e95f";
}
.vticon-arrow-left::before {
  content: "\e901";
}
.vticon-arrow-left2::before {
  content: "\e902";
}
.vticon-arrow-right::before {
  content: "\e903";
}
.vticon-arrow-right2::before {
  content: "\e904";
}
.vticon-arrow-up::before {
  content: "\e905";
}
.vticon-arrow-up2::before {
  content: "\e906";
}
.vticon-arrow-down::before {
  content: "\e907";
}
.vticon-arrow-down2::before {
  content: "\e908";
}
.vticon-circle-down::before {
  content: "\e909";
}
.vticon-circle-left::before {
  content: "\e90a";
}
.vticon-circle-right::before {
  content: "\e90b";
}
.vticon-circle-up::before {
  content: "\e90c";
}
.vticon-cancel-circle::before {
  content: "\e90d";
}
.vticon-close-circle::before {
  content: "\e90e";
}
.vticon-cross::before {
  content: "\e90f";
}
.vticon-brightness-contrast::before {
  content: "\e910";
}
.vticon-brightness::before {
  content: "\e911";
}
.vticon-contrast::before {
  content: "\e912";
}
.vticon-camera::before {
  content: "\e913";
}
.vticon-droplet::before {
  content: "\e914";
}
.vticon-paint-brush::before {
  content: "\e915";
}
.vticon-car::before {
  content: "\e916";
}
.vticon-tire1::before {
  content: "\e917";
}
.vticon-tire2::before {
  content: "\e918";
}
.vticon-tire3::before {
  content: "\e919";
}
.vticon-wheel1::before {
  content: "\e91a";
}
.vticon-wheel2::before {
  content: "\e91b";
}
.vticon-cart::before {
  content: "\e91c";
}
.vticon-price-tags::before {
  content: "\e91d";
}
.vticon-price-tag::before {
  content: "\e91e";
}
.vticon-checkmark::before {
  content: "\e91f";
}
.vticon-check-square-o::before {
  content: "\e920";
}
.vticon-wrench::before {
  content: "\e921";
}
.vticon-cog::before {
  content: "\e922";
}
.vticon-download2::before {
  content: "\e923";
}
.vticon-upload2::before {
  content: "\e924";
}
.vticon-exit::before {
  content: "\e925";
}
.vticon-enter::before {
  content: "\e926";
}
.vticon-equalizer::before {
  content: "\e927";
}
.vticon-eye::before {
  content: "\e928";
}
.vticon-eye-blocked::before {
  content: "\e929";
}
.vticon-profile::before {
  content: "\e92a";
}
.vticon-file-text::before {
  content: "\e92b";
}
.vticon-flip::before {
  content: "\e92c";
}
.vticon-loop::before {
  content: "\e92d";
}
.vticon-spinner11::before {
  content: "\e92e";
}
.vticon-reply::before {
  content: "\e92f";
}
.vticon-forward::before {
  content: "\e930";
}
.vticon-share::before {
  content: "\e931";
}
.vticon-shrink2::before {
  content: "\e932";
}
.vticon-enlarge2::before {
  content: "\e933";
}
.vticon-image::before {
  content: "\e934";
}
.vticon-images::before {
  content: "\e935";
}
.vticon-location2::before {
  content: "\e936";
}
.vticon-flag::before {
  content: "\e937";
}
.vticon-lock::before {
  content: "\e938";
}
.vticon-lock-open::before {
  content: "\e939";
}
.vticon-meter::before {
  content: "\e93a";
}
.vticon-warning::before {
  content: "\e93b";
}
.vticon-info::before {
  content: "\e93c";
}
.vticon-phone::before {
  content: "\e93d";
}
.vticon-smile2::before {
  content: "\e93e";
}
.vticon-spinner::before {
  content: "\e93f";
}
.vticon-spinner5::before {
  content: "\e940";
}
.vticon-spinner9::before {
  content: "\e941";
}
.vticon-stats-dots::before {
  content: "\e942";
}
.vticon-envelope-o .path1::before {
  content: "\e943";
  color: rgb(255, 255, 255);
}
.vticon-envelope-o .path2::before {
  content: "\e944";
  margin-left: -1.25em;
  color: rgb(0, 0, 0);
}
.vticon-pencil::before {
  content: "\e945";
}
.vticon-star-exclamation::before {
  content: "\e946";
}
.vticon-trash-alt::before {
  content: "\e947";
}
.vticon-trophy::before {
  content: "\e948";
}
.vticon-trophy-star::before {
  content: "\e949";
}
.vticon-camera2::before {
  content: "\e94a";
}
.vticon-code::before {
  content: "\e94b";
}
.vticon-edit::before {
  content: "\e94c";
}
.vticon-envelope::before {
  content: "\e94d";
}
.vticon-file::before {
  content: "\e94e";
}
.vticon-lock2::before {
  content: "\e94f";
}
.vticon-magic::before {
  content: "\e950";
}
.vticon-paper-plane::before {
  content: "\e951";
}
.vticon-rocket::before {
  content: "\e952";
}
.vticon-star::before {
  content: "\e953";
}
.vticon-thumbs-up::before {
  content: "\e954";
}
.vticon-thumbs-down::before {
  content: "\e955";
}
.vticon-print::before {
  content: "\e957";
}
.vticon-book::before {
  content: "\e958";
}
.vticon-facebook2::before {
  content: "\e959";
}
.vticon-twitter::before {
  content: "\e95a";
}
.vticon-youtube::before {
  content: "\e95b";
}
.vticon-flickr3::before {
  content: "\e95c";
}
