﻿@{
    ViewBag.Title = "Vehicle Images";
}

<div class="row">
  <div class="large-12 columns">
    <div class="breadcrumb">
      <a href="#">Home</a>
      <span class="divider"><i class="fa fa-angle-right"></i></span>
      Vehicle Images
    </div>

    <div class="row">
      <div class="column"><h1>Vehicle Images</h1></div>
      <div class="column">
        <div class="row" style="padding-top:14px;">
          <div class="shrink columns">
            <div class="inputPadding">Load a Library</div>
          </div>
          <div class="columns">
            <select name="" id="">
              <option value="0">Customer Uploaded Vehicles</option>
              <option value="1">FuelAPI</option>
              <option value="2">Icon Media</option>
            </select>
            <input id="checkbox1" type="checkbox"><label for="checkbox1">Load only vehicles with no wheel positioning</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vehicleImage-list">
  <div class="row small-up-2 medium-up-4">
    <div class="column tile-padBtm">

      <img src="~/Content/images/ferrari488.jpg" alt="">

      <div class="vehicle-meta">

        <div><small>Uploaded: 12/13/2016</small></div>

        <div class="row">
          <div class="column">
            <div class="inputPadding tiny">Public?</div>
          </div>
          <div class="column text-right">
            <div class="switch small">
              <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch" checked="">
              <label class="switch-paddle" for="yes-no">
                <span class="show-for-sr">Public?</span>
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
            </div>
          </div>

        </div>
        <div class="vehicleImage-actions">
          <a href="~/Vehicle/PositionWheels" class="small button"><i class="fa fa-pencil"></i></a>
          &nbsp;&nbsp;
          <a href="#" class="secondary small button"><i class="fa fa-trash"></i></a>
        </div>
      </div>
    </div>
    <div class="column tile-padBtm">

      <img src="~/Content/images/ferrari488.jpg" alt="">

      <div class="vehicle-meta">

        <div><small>Uploaded: 12/13/2016</small></div>

        <div class="row">
          <div class="column">
            <div class="inputPadding tiny">Public?</div>
          </div>
          <div class="column text-right">
            <div class="switch small">
              <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch" checked="">
              <label class="switch-paddle" for="yes-no">
                <span class="show-for-sr">Public?</span>
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
            </div>
          </div>

        </div>
        <div class="vehicleImage-actions">
          <a href="~/Vehicle/PositionWheels" class="small button"><i class="fa fa-pencil"></i></a>
          &nbsp;&nbsp;
          <a href="#" class="secondary small button"><i class="fa fa-trash"></i></a>
        </div>
      </div>
    </div>
    <div class="column tile-padBtm">

      <img src="~/Content/images/ferrari488.jpg" alt="">

      <div class="vehicle-meta">

        <div><small>Uploaded: 12/13/2016</small></div>

        <div class="row">
          <div class="column">
            <div class="inputPadding tiny">Public?</div>
          </div>
          <div class="column text-right">
            <div class="switch small">
              <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch" checked="">
              <label class="switch-paddle" for="yes-no">
                <span class="show-for-sr">Public?</span>
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
            </div>
          </div>

        </div>
        <div class="vehicleImage-actions">
          <a href="~/Vehicle/PositionWheels" class="small button"><i class="fa fa-pencil"></i></a>
          &nbsp;&nbsp;
          <a href="#" class="secondary small button"><i class="fa fa-trash"></i></a>
        </div>
      </div>
    </div>
    <div class="column tile-padBtm">

      <img src="~/Content/images/ferrari488.jpg" alt="">

      <div class="vehicle-meta">

        <div><small>Uploaded: 12/13/2016</small></div>

        <div class="row">
          <div class="column">
            <div class="inputPadding tiny">Public?</div>
          </div>
          <div class="column text-right">
            <div class="switch small">
              <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch" checked="">
              <label class="switch-paddle" for="yes-no">
                <span class="show-for-sr">Public?</span>
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
            </div>
          </div>

        </div>
        <div class="vehicleImage-actions">
          <a href="~/Vehicle/PositionWheels" class="small button"><i class="fa fa-pencil"></i></a>
          &nbsp;&nbsp;
          <a href="#" class="secondary small button"><i class="fa fa-trash"></i></a>
        </div>
      </div>
    </div>
    <div class="column tile-padBtm">

      <img src="~/Content/images/ferrari488.jpg" alt="">

      <div class="vehicle-meta">

        <div><small>Uploaded: 12/13/2016</small></div>

        <div class="row">
          <div class="column">
            <div class="inputPadding tiny">Public?</div>
          </div>
          <div class="column text-right">
            <div class="switch small">
              <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch" checked="">
              <label class="switch-paddle" for="yes-no">
                <span class="show-for-sr">Public?</span>
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
            </div>
          </div>

        </div>
        <div class="vehicleImage-actions">
          <a href="~/Vehicle/PositionWheels" class="small button"><i class="fa fa-pencil"></i></a>
          &nbsp;&nbsp;
          <a href="#" class="secondary small button"><i class="fa fa-trash"></i></a>
        </div>
      </div>
    </div>
    <div class="column tile-padBtm">

      <img src="~/Content/images/ferrari488.jpg" alt="">

      <div class="vehicle-meta">

        <div><small>Uploaded: 12/13/2016</small></div>

        <div class="row">
          <div class="column">
            <div class="inputPadding tiny">Public?</div>
          </div>
          <div class="column text-right">
            <div class="switch small">
              <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch" checked="">
              <label class="switch-paddle" for="yes-no">
                <span class="show-for-sr">Public?</span>
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
            </div>
          </div>

        </div>
        <div class="vehicleImage-actions">
          <a href="~/Vehicle/PositionWheels" class="small button"><i class="fa fa-pencil"></i></a>
          &nbsp;&nbsp;
          <a href="#" class="secondary small button"><i class="fa fa-trash"></i></a>
        </div>
      </div>
    </div>
    <div class="column tile-padBtm">

      <img src="~/Content/images/ferrari488.jpg" alt="">

      <div class="vehicle-meta">

        <div><small>Uploaded: 12/13/2016</small></div>

        <div class="row">
          <div class="column">
            <div class="inputPadding tiny">Public?</div>
          </div>
          <div class="column text-right">
            <div class="switch small">
              <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch" checked="">
              <label class="switch-paddle" for="yes-no">
                <span class="show-for-sr">Public?</span>
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
            </div>
          </div>

        </div>
        <div class="vehicleImage-actions">
          <a href="~/Vehicle/PositionWheels" class="small button"><i class="fa fa-pencil"></i></a>
          &nbsp;&nbsp;
          <a href="#" class="secondary small button"><i class="fa fa-trash"></i></a>
        </div>
      </div>
    </div>
    <div class="column tile-padBtm">

      <img src="~/Content/images/ferrari488.jpg" alt="">

      <div class="vehicle-meta">

        <div><small>Uploaded: 12/13/2016</small></div>

        <div class="row">
          <div class="column">
            <div class="inputPadding tiny">Public?</div>
          </div>
          <div class="column text-right">
            <div class="switch small">
              <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch" checked="">
              <label class="switch-paddle" for="yes-no">
                <span class="show-for-sr">Public?</span>
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
            </div>
          </div>

        </div>
        <div class="vehicleImage-actions">
          <a href="~/Vehicle/PositionWheels" class="small button"><i class="fa fa-pencil"></i></a>
          &nbsp;&nbsp;
          <a href="#" class="secondary small button"><i class="fa fa-trash"></i></a>
        </div>
      </div>
    </div>
    <div class="column tile-padBtm">

      <img src="~/Content/images/ferrari488.jpg" alt="">

      <div class="vehicle-meta">

        <div><small>Uploaded: 12/13/2016</small></div>

        <div class="row">
          <div class="column">
            <div class="inputPadding tiny">Public?</div>
          </div>
          <div class="column text-right">
            <div class="switch small">
              <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch" checked="">
              <label class="switch-paddle" for="yes-no">
                <span class="show-for-sr">Public?</span>
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
            </div>
          </div>

        </div>
        <div class="vehicleImage-actions">
          <a href="~/Vehicle/PositionWheels" class="small button"><i class="fa fa-pencil"></i></a>
          &nbsp;&nbsp;
          <a href="#" class="secondary small button"><i class="fa fa-trash"></i></a>
        </div>
      </div>
    </div>
    <div class="column tile-padBtm">

      <img src="~/Content/images/ferrari488.jpg" alt="">

      <div class="vehicle-meta">

        <div><small>Uploaded: 12/13/2016</small></div>

        <div class="row">
          <div class="column">
            <div class="inputPadding tiny">Public?</div>
          </div>
          <div class="column text-right">
            <div class="switch small">
              <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch" checked="">
              <label class="switch-paddle" for="yes-no">
                <span class="show-for-sr">Public?</span>
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
            </div>
          </div>

        </div>
        <div class="vehicleImage-actions">
          <a href="~/Vehicle/PositionWheels" class="small button"><i class="fa fa-pencil"></i></a>
          &nbsp;&nbsp;
          <a href="#" class="secondary small button"><i class="fa fa-trash"></i></a>
        </div>
      </div>
    </div>
    <div class="column tile-padBtm">

      <img src="~/Content/images/ferrari488.jpg" alt="">

      <div class="vehicle-meta">

        <div><small>Uploaded: 12/13/2016</small></div>

        <div class="row">
          <div class="column">
            <div class="inputPadding tiny">Public?</div>
          </div>
          <div class="column text-right">
            <div class="switch small">
              <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch" checked="">
              <label class="switch-paddle" for="yes-no">
                <span class="show-for-sr">Public?</span>
                <span class="switch-active" aria-hidden="true">Yes</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
              </label>
            </div>
          </div>

        </div>
        <div class="vehicleImage-actions">
          <a href="~/Vehicle/PositionWheels" class="small button"><i class="fa fa-pencil"></i></a>
          &nbsp;&nbsp;
          <a href="#" class="secondary small button"><i class="fa fa-trash"></i></a>
        </div>
      </div>
    </div>

  </div>

</div>
