﻿@model VelocityWheels.Services.Models.VehicleMatchModel
@{
    ViewBag.Title = "Position Wheels on Vehicle";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/studio.css" />

@{
    string title = "Fuel API Vehicle Image";
    if (Model != null)
    {
        <input type="hidden" id="vehicleIdField" value="@Model.VehicleImageId"/>
        if (Model.VehicleImageId.HasValue)
        {
            title = "Custom Image";
        }
    }
}

<div class="row">
  <div class="large-12 columns">
    <div class="breadcrumb">
      <a href="#">Home</a>
      <span class="divider"><i class="fa fa-angle-right"></i></span>
      Vehicle Images
    </div>

    <h1>Position Wheels (@title)</h1>

    <div id="vtws-vehicle-selector"><small>Select Vehicle: <select id="vtws-vehicle-year"></select><select id="vtws-vehicle-make"></select><select id="vtws-vehicle-model"></select><select id="vtws-vehicle-sub-model"></select></small></div>

    <p class="hide"><small>Uploaded: 12/13/2016</small></p>

    <div class="row hide">
      <div class="shrink column">
        <div class="inputPadding tiny">Public?</div>
      </div>

      <div class="column">
        <div class="switch small">
          <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch" checked="">
          <label class="switch-paddle" for="yes-no">
            <span class="show-for-sr">Public?</span>
            <span class="switch-active" aria-hidden="true">Yes</span>
            <span class="switch-inactive" aria-hidden="true">No</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="vtws-mainImage">
  <!-- Action Buttons -->
  <div id="vtws-mainActions" class="row">
    <div class="columns text-left">
      <button id="vtws-orientation" class="button" data-orientation="Front"><i class="fa fa-car"></i><span>Save and Change View</span></button>
    </div>  
    <div class="columns text-right">
      <button id="vtws-flipx" class="button"><i class="fa fa-exchange"></i><span>Flip Wheels</span></button>
    </div>
  </div>

  <!-- Main Vehicle -->
  <div id="vtws-mainVehicle">
    <div class="vtws-vehicleWrapper">
      <canvas id="v" crossOrigin="anonymous"></canvas>
    </div>
    <div id="vtws-swatches"></div>
  </div><!--mainVehicle-->
</div>

<div id="bottomToolbar2">
  <div class="row">
    <div class="column text-center">
      <a id="btn-save-close" href="#" class="button"><i class="fa fa-check-square"></i> Save &amp; Close <i class="fa fa-times"></i></a>
      <a id="btn-save-next" href="#" class="button"><i class="fa fa-check-square"></i> Save &amp; Next <i class="fa fa-arrow-right"></i></a>
      <a id="btn-next" href="#" class="button">Next <i class="fa fa-arrow-right"></i></a>
    </div>
  </div>
</div>

@section Scripts {
    <script src="~/Content/js/fabric1.6.6.js"></script>
    <script src="~/Content/js/studio_v2d.js"></script>

    <script type="text/javascript">
        function getYears() {
            var y = $("#vtws-vehicle-year");
            y.html("");

            $.get("@Url.Action("GetYears", "Vehicle")",
                function(data) {
                    $.each(data,
                        function(index, value) {
                            y.append($('<option></option>').html(value));
                        });
                    getMakes();
                });


        }

        function getMakes() {
            var y = $("#vtws-vehicle-year").val();

            $("#vtws-vehicle-make").html("");
            $.get("@Url.Action("GetMakes", "Vehicle")/?y=" + y,
                function(data) {
                    var s = $("#vtws-vehicle-make");
                    $.each(data,
                        function(index, value) {
                            s.append($('<option></option>').html(value));
                        });
                    getModels();
                });
        }

        function getModels() {
            var y = $("#vtws-vehicle-year").val();
            var m = $("#vtws-vehicle-make").val();

            $("#vtws-vehicle-model").html("");
            $.get("@Url.Action("GetModels", "Vehicle")/?y=" + y + "&m=" + m,
                function(data) {
                    var s = $("#vtws-vehicle-model");
                    $.each(data,
                        function(index, value) {
                            s.append($('<option></option>').html(value));
                        });
                    getSubModels();
                });
        }

        function getSubModels() {
            var y = $("#vtws-vehicle-year").val();
            var m = $("#vtws-vehicle-make").val();
            var mdl = $("#vtws-vehicle-model").val();

            $("#vtws-vehicle-sub-model").html("");
            $.get("@Url.Action("GetSubModels", "Vehicle")/?y=" + y + "&m=" + m + "&mdl=" + mdl,
                function(data) {
                    var s = $("#vtws-vehicle-sub-model");
                    $.each(data,
                        function(index, value) {
                            s.append($('<option></option>').html(value));
                        });
                    getVehicleImages();
                });
        };

        function flipOrientation() {
            saveWheelPosition(flipOrientation_sub);
        };

        function flipOrientation_sub() {
            var o = $("#vtws-orientation").data("orientation");
            $("#vtws-orientation").data("orientation", (o == "Front" ? "Rear" : "Front"));
            getVehicleImages();
        };

        function getVehicleImages() {
            var y = $("#vtws-vehicle-year").val();
            var m = $("#vtws-vehicle-make").val();
            var mdl = $("#vtws-vehicle-model").val();
            var sm = $("#vtws-vehicle-sub-model").val();
            var o = $("#vtws-orientation").data("orientation");

            setVehicleBackground(c_mainVehicle, '');
            console.log("@Url.Action("GetVehicleImages", "Vehicle")/?y=" +
                y +
                "&m=" +
                m +
                "&mdl=" +
                mdl +
                "&sm=" +
                sm +
                "&o=" +
                o);
            $.get("@Url.Action("GetVehicleImages", "Vehicle")/?y=" +
                y +
                "&m=" +
                m +
                "&mdl=" +
                mdl +
                "&sm=" +
                sm +
                "&o=" +
                o,
                function(data) {
                    var vr = JSON.parse(data);
                    if (vr.products[0].productFormats[0].assets.length > 0) {
                        var v = vr.products[0].productFormats[0].assets[0];
                        chooseVehicle(vr.id, v, vr.products[0].productFormats[0].id);

                        $("#btn-save-close").prop("disabled", false);
                        $("#btn-save-next").prop("disabled", false);
                        $("#btn-next").prop("disabled", false);
                    } else {
                        $("#btn-save-close").prop("disabled", true);
                        $("#btn-save-next").prop("disabled", true);
                        $("#btn-next").prop("disabled", true);
                    }
                });
        };


        function getVehicleImagesById(imageId) {
            setVehicleBackground(c_mainVehicle, '');
            $("#btn-save-next").hide();
            $("#btn-next").hide();

            console.log("@Url.Action("GetVehicleImage", "Vehicle")?id=" + imageId);
            $.get("@Url.Action("GetVehicleImage", "Vehicle")?id=" + imageId,
                function(data) {
                    if (data.Error) {
                        console.log(data.Error);
                        $("#btn-save-close").prop("disabled", true);
                    } else {                        
                        chooseVehicleFromImageName(data.FullImage, data.VehicleImageId);
                        $("#btn-save-close").prop("disabled", false);
                    }
                });
        };

        function chooseVehicle(vid, v, fid) {           
            console.log("@Url.Action("GetCroppedImage", "Vehicle")?url=" +
                v.url +
                "&vid=" +
                vid +
                "&code=" +
                v.shotCode.code +
                "&fid=" +
                fid);

            setVehicleBackground(c_mainVehicle, "@Url.Action("GetCroppedImage", "Vehicle")?url=" +
                v.url + "&vid=" + vid + "&code=" + v.shotCode.code + "&fid=" + fid);
            loadWheelPosition(vid);
            return;
        };

        function setVehicleBackgroundComplete(imageId) {
            loadWheelPosition(null, imageId);
        }

        function chooseVehicleFromImageName(imageFileName, imageId) {
            setVehicleBackground(c_mainVehicle, "@Url.Action("GetVehicleImageFromFile", "Vehicle")?imageName=" + imageFileName, setVehicleBackgroundComplete, imageId);    
            //loadWheelPosition(null, imageId);
            return;
        };

        function loadWheelPosition(vid, imageId) {
            var y = $("#vtws-vehicle-year").val();
            var m = $("#vtws-vehicle-make").val();
            var mdl = $("#vtws-vehicle-model").val();
            var sm = $("#vtws-vehicle-sub-model").val();
            var o = $("#vtws-orientation").data("orientation");

            var url = "@Url.Action("GetWheelPosition", "Vehicle")";
            if (imageId !== null && imageId !== undefined) {
                url += "/?imageId=" + imageId;
            } else {
                url += "/?vid=" + vid + "&y=" + y + "&m=" + m + "&mdl=" + mdl + "&sm=" + sm + "&o=" + o;
            }

            $.get(url,
                function(data) {

                    var w = data;
                    var wheel = o_wheel1;
                    console.log(w);

                    if (w.VehicleID == null && w.VehicleImageId == null) { //No data was found
                        if (o == "Front") {
                            wheel.wvF_left = 1001;
                            wheel.wvF_top = 694;
                            wheel.wvF_width = 184;
                            wheel.wvF_height = 268;
                            wheel.wvF_angle = 0;

                            wheel.wvR_left = 1831;
                            wheel.wvR_top = 652;
                            wheel.wvR_width = 120;
                            wheel.wvR_height = 217;
                            wheel.wvR_angle = 0;
                        } else {
                            wheel.wvF_left = 1847;
                            wheel.wvF_top = 664;
                            wheel.wvF_width = 125;
                            wheel.wvF_height = 221;
                            wheel.wvF_angle = 2.431;                            

                            wheel.wvR_left = 1008;
                            wheel.wvR_top = 690;
                            wheel.wvR_width = 188;
                            wheel.wvR_height = 279;
                            wheel.wvR_angle = 1.838;                            
                        }
                    } else { //Data was found or loaded from following year
                        wheel.wvF_left = w.FrontLeft;
                        wheel.wvF_top = w.FrontTop;
                        wheel.wvF_width = w.FrontWidth;
                        wheel.wvF_height = w.FrontHeight;
                        wheel.wvF_angle = w.FrontAngle;
                        wheel.wvF_flipX = w.FlipX;

                        wheel.wvR_left = w.RearLeft;
                        wheel.wvR_top = w.RearTop;
                        wheel.wvR_width = w.RearWidth;
                        wheel.wvR_height = w.RearHeight;
                        wheel.wvR_angle = w.RearAngle;
                        wheel.wvR_flipX = w.FlipX;
                    }

                    if (w.VehicleID == null || w.VehicleID == 0)
                        $("#btn-next").hide();
                    else
                        $("#btn-next").show();

                    loadWheels(wheel);
                });
        };

        function saveWheelPosition(callback) {
            var wheel = o_wheel1;
            updatePositions(wheel);

           /* console.log(wheel);*/

            /*console.log(c_mainVehicle.width);
            console.log(c_mainVehicle.height);
            console.log(wheelStageScale);

            console.log(wheel.wvF_left / wheelStageScale);
            console.log(wheel.wvF_top / wheelStageScale);
            console.log(wheel.wvF_width / wheelStageScale);
            console.log(wheel.wvF_height / wheelStageScale);

            console.log(wheel.wvR_left / wheelStageScale);
            console.log(wheel.wvR_top / wheelStageScale);
            console.log(wheel.wvR_width / wheelStageScale);
            console.log(wheel.wvR_height / wheelStageScale);
            console.log(wheel.wvR_angle * wheelStageScale);*/

            var y = $("#vtws-vehicle-year").val();
            var m = $("#vtws-vehicle-make").val();
            var mdl = $("#vtws-vehicle-model").val();
            var sm = $("#vtws-vehicle-sub-model").val();
            var o = $("#vtws-orientation").data("orientation");
            var imageId = null;

            var vehicleIdField = $("#vehicleIdField");
            if (vehicleIdField.length) {
                imageId = vehicleIdField.val();
            }

            $.get("@Url.Action("SaveWheelPosition", "Vehicle")",
                {
                    y: y,
                    m: m,
                    mdl: mdl,
                    sm: sm,
                    fl: wheel.wvF_left / wheelStageScale,
                    ft: wheel.wvF_top / wheelStageScale,
                    fw: wheel.wvF_width / wheelStageScale,
                    fh: wheel.wvF_height / wheelStageScale,
                    fa: wheel.wvF_angle,
                    rl: wheel.wvR_left / wheelStageScale,
                    rt: wheel.wvR_top / wheelStageScale,
                    rw: wheel.wvR_width / wheelStageScale,
                    rh: wheel.wvR_height / wheelStageScale,
                    ra: wheel.wvR_angle,
                    o: o,
                    flipX: wheel.wvF_flipX,
                    imageId: imageId                    
                },
                function(result) {
                    if (result.indexOf("Error") >= 0) {
                        alert(result);
                    } else {
                        callback();
                    }
                });
        };

        function chooseNextVehicle() {
            var sm = $("#vtws-vehicle-sub-model");
            var index = 0, items = 0;
            index = sm.prop('selectedIndex');
            items = sm.children("option").length;
            if (index == items - 1) {
                var sm = $("#vtws-vehicle-model");
                index = sm.prop('selectedIndex');
                items = sm.children("option").length;
                if (index == items - 1) {
                    var sm = $("#vtws-vehicle-make");
                    index = sm.prop('selectedIndex');
                    items = sm.children("option").length;
                    if (index == items - 1) {
                        //Stop
                    } else {
                        sm.prop('selectedIndex', index + 1);
                        getModels();
                    }
                } else {
                    sm.prop('selectedIndex', index + 1);
                    getSubModels();
                }
            } else {
                sm.prop('selectedIndex', index + 1);
                getVehicleImages();
            }
        }

        function close() {
            var vehicleIdField = $("#vehicleIdField");
            if (!vehicleIdField.length) {
                parent.location = "@Url.Action("Index", "Home")";
            } else {
                parent.location = "/#/vehicleimages";
            }
        }

        $(function() {

            $("#btn-save-close")
                .click(function(e) {
                    e.preventDefault();
                    saveWheelPosition(close);
                });
            $("#btn-save-next")
                .click(function(e) {
                    e.preventDefault();
                    saveWheelPosition(chooseNextVehicle);
                });
            $("#btn-next")
                .click(function(e) {
                    e.preventDefault();
                    chooseNextVehicle();
                });

            var vehicleIdField = $("#vehicleIdField");
            if (!vehicleIdField.length) {
                $("#vtws-vehicle-year").change(getMakes);
                $("#vtws-vehicle-make").change(getModels);
                $("#vtws-vehicle-model").change(getSubModels);
                $("#vtws-vehicle-sub-model").change(getVehicleImages);
                $("#vtws-orientation").click(flipOrientation);
                getYears();
            } else {
                $("#vtws-vehicle-year").hide();
                $("#vtws-vehicle-make").hide();
                $("#vtws-vehicle-model").hide();
                $("#vtws-vehicle-sub-model").hide();
                $("#vtws-orientation").hide();
                getVehicleImagesById(vehicleIdField.val());
            }
        });
    </script>
}