﻿<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="robots" content="no index, no follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Resource-type" content="Document" />
  <link rel="icon" type="image/png" sizes="32x32" href="~/Content/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="~/Content/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon/favicon-16x16.png">

  <title>Retail Site Demo | @ViewBag.Title</title>
  <meta name="keywords" content="@ViewBag.MetaKeywords" />
  <meta name="description" content="@ViewBag.MetaDescription" />

  <link rel="stylesheet" type="text/css" href="~/Content/css/foundation.min.css" />
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="~/Content/css/slick.css" />

  <!-- Joyride -->
  <link rel="stylesheet" href="~/Content/css/joyride.css" />

  <!-- Photo Studio CSS -->
  <link rel="stylesheet" href="~/Content/studio/css/colorpicker.css" />
  <link rel="stylesheet" href="~/Content/studio/css/studio.css" />

  <!-- Site CSS -->
  <link rel="stylesheet" type="text/css" href="~/Content/css/vt-retailer.css" />
  <link rel="stylesheet" type="text/css" href="~/Content/css/demoRetailer.css" />
  <!--[if IE]>
    <script type="text/javascript">
       var console = { log: function() {} };
    </script>
  <![endif]-->

  <script src="~/Content/js_retailer/vendor/jquery.min.js"></script>
</head>

<body>
  <header>
    <div class="row">
      <div class="columns">
        <div class="top-bar">
          <div class="top-bar-title">

            <a href="/"><img id="mainLogo" src="~/Content/images/logo.png" alt="" /></a>

            <span id="menuToggle" data-responsive-toggle="responsive-menu" data-hide-for="medium">
              <button class="menuToggle-button" type="button" data-toggle>Menu</button>
            </span>
          </div>
          <div id="responsive-menu">
            <div class="top-bar-left">
            </div>
            <div class="top-bar-right">
              <ul id="minorNav" class="menu align-right">
                <li><span class="fauxButton strong">888-555-1234</span></li>
                <li class="divider"></li>
                <li><a href="/">Home</a></li>
                <li class="divider"></li>
                <li><a href="#">Contact</a></li>
                <li class="divider"></li>
                <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
              </ul>
              <ul id="mainNav" class="dropdown menu align-right" data-dropdown-menu>
                <li>
                  <a href="/wheels.php">Wheels <i class="fa fa-angle-down"></i></a>
                  <ul class="menu vertical">
                    <li><a href="#">Wheels</a></li>
                    <li><a href="#">Wheel Brands We Carry</a></li>
                    <li><a href="#">Know Your Wheels</a></li>
                  </ul>
                </li>
                <li class="hide">
                  <a href="#">Tires <i class="fa fa-angle-down"></i></a>
                  <ul class="menu vertical">
                    <li><a href="#">Browse Tires</a></li>
                    <li><a href="#">Tire Brands We Carry</a></li>
                    <li><a href="#">Know Your Tires</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Company <i class="fa fa-angle-down"></i></a>
                  <ul class="menu vertical">
                    <li><a href="#">What Makes Us Different</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="headerPlaceholder"></div>
  <div id="page">
    <div class="headerSpacer"></div>

    @RenderBody()
  </div><!-- /#page -->

  <footer>
    <div class="row">
      <div class="columns text-center">
        <span class="siteName">Demo Retail Site</span>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="columns">
        <div style="font-weight:bold;">Products</div>
        <ul class="no-bullet">
          <li><a href="#">Browse Wheels</a></li>
          <li class="hide"><a href="#">Browse Tires</a></li>
        </ul>
      </div>

      <div class="columns">
        <div style="font-weight:bold;">Info</div>
        <ul class="no-bullet">
          <li><a href="#">Wheels 101</a></li>
          <li class="hide"><a href="#">Tires 101</a></li>
        </ul>
      </div>

      <div class="columns">
        <div style="font-weight:bold;">Contact Us</div>
        <ul class="no-bullet">
          <li><a href="#">Map & Contact</a></li>
          <li><a href="#">Set Appointment</a></li>
        </ul>
      </div>
    </div>
  </footer>

  <script src="~/Content/js_retailer/vendor/what-input.min.js"></script>
  <script src="~/Content/js_retailer/slick.min.js"></script>
  <script src="~/Content/js_retailer/foundation.min.js"></script>
  <!-- script src="~/Content/js_retailer/vehicleSelect.js"></script -->
  <script src="~/Content/js_retailer/demoRetailer.js"></script>


  <!-- Tips Slider -->
  <script>
    $(document).ready(function () {
      // Wheel Listings
      function slickWheels() {
        $('#productGrid').slick({
          dots: true,
          arrows: true,
          infinite: true,
          speed: 500,
          slidesToShow: 4,
          slidesToScroll: 4,
          autoplay: false,
          fade: false,
          autoplaySpeed: 6000,
          adaptiveHeight: false,
          responsive: [
            {
              breakpoint: 560,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
          ],
          dotsClass: 'slick-dots-numbers',
          lazyLoad: 'ondemand'
        });
      }
      slickWheels();
    });
  </script>
</body>
</html>
