﻿<!DOCTYPE html>
<html>
<head>
  <title></title>

  @*<link rel="stylesheet" type="text/css" href="~/Content/css/foundation.min.css" />*@
  @*<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">*@
  @*<link rel="stylesheet" type="text/css" href="~/Content/css/slick.css" />*@

  <!-- Joyride -->
  @*<link rel="stylesheet" href="~/Content/css/joyride.css" />*@

  <!-- Photo Studio CSS -->
  <link rel="stylesheet" href="~/Content/studio/css/colorpicker.css" />
  <link rel="stylesheet" href="~/Content/studio/css/studio.css" />

  <!-- Site CSS -->
  @*<link rel="stylesheet" type="text/css" href="~/Content/css/vt-retailer.css" />*@

  @*<link rel="stylesheet" type="text/css" href="~/Content/css/demoRetailer.css" />*@
  <!--[if IE]>
    <script type="text/javascript">
       var console = { log: function() {} };
    </script>
  <![endif]-->

  @*<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>*@
</head>

<body>
  @RenderBody()

  @*<script src="~/Content/js/vendor/what-input.min.js"></script>*@
  
  @*<script src="~/Content/js/foundation.min.js"></script>*@
  @*<script src="~/Content/js/slick.min.js"></script>*@
  
  @*<script src="~/Content/js/demoRetailer.js"></script>*@

  <!-- Photo Studio -->
  <script src="~/Content/studio/js/colorpicker.js"></script>
  <!-- script src="~/Content/studio/js/colorizer1.5.js"></script -->
  <script src="~/Content/studio/js/fabric1.6.6.js"></script>
  
  @*<script src="~/Content/studio/js/studio_v2d.js"></script>*@
  <script type="text/javascript" src="~/Content/js/vt-vehicle-selector.js"></script>
  
  <!-- Joyride -->
  @*<script type="text/javascript" src="~/Content/js/joyride.js"></script>*@
</body>
</html>
