﻿@model HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<div id="error" class="main-content">

  <div style="width: 80%; margin: 0 auto;">

    <h1 class="page-title">Sorry, but there seems to be a problem.</h1>

    <p>An error has been logged on our server and the support team notified.</p>

    <p><a href="javascript:history.back()">Click here to go back to the previous page and retry your operation.</a></p>

  </div>

</div>
