﻿
<div class="bodyWrapper">

   <div class="breadcrumb">
       <div class="row">
       	<div class="small-12 columns">
				 <nav aria-label="You are here:" role="navigation">
					  <ul class="breadcrumbs">
							<li><a href="#home">Home</a></li>
							<li><a href="#brand/{{Product.BrandId}}">{{Product.Brand}}</a></li>
							<li><a href="#wheel/{{Product.BrandId}}/{{Product.StyleId}}/{{Product.FinishId}}">{{Product.Style}}, {{Product.Finish}}</a></li>
							<li>{{Product.PartNumber}}</li>
					  </ul>
				 </nav>
			 </div>
		</div>
	</div>


<div style="height: 1.5rem;"></div>

<div class="row">
    <div class="column">
        <div class="manufacturer">{{Product.Brand}} </div>
        <h1 class="noPad">{{Product.Style}}, {{Product.Finish}}</h1>
    </div>
</div>

<div style="height: 1rem;"></div>

<div class="row">

    <div class="small-12 columns">
        <h2 class="h-underline">Product Details</h2>
    </div>

    <div class="small-6 medium-2 columns">
        <img src="{{Product.Thumbnail}}" width="500" height="500" alt=""/>
    </div>

    <div class="small-12 medium-5 columns wheelSpecs">
        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Part Number</span></div>
            <div class="columns">{{Product.PartNumber}}</div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Style</span></div>
            <div class="columns">{{Product.Style}}</div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Finish (Abbr.)</span></div>
            <div class="columns">
                <select name="" id="">
                    <option>Silver</option>
                    <option>Gunmetal</option>
                    <option selected>{{Product.ShortFinish}}</option>
                    <option>Machined</option>
                    <option>Chrome / PVD</option>
                    <option>Polished</option>
                    <option>Brushed</option>
                    <option>Gold / Bronze</option>
                    <option>Carbon</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Finish (Full)</span></div>
            <div class="columns">
                <span class="middle-label">{{Product.Finish}}</span>
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Description</span></div>
            <div class="columns">
                <textarea name="" rows="3">{{Product.Description}}</textarea>
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Diameter</span></div>
            <div class="columns">
                <span class="middle-label">{{Product.Diameter}}</span>
            </div>
        </div>
        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Width</span></div>
            <div class="columns">
                <span class="middle-label">{{Product.Width}}</span>
            </div>
        </div>
        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Bolt Pattern</span></div>
            <div class="columns">
                <span class="middle-label">{{Product.BoltPattern}}</span>
                <!----
                <div>
                    <a href="#" class="action"><i class="fa fa-plus"></i> Add Bolt Pattern</a>
                </div>
                ---->
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Offset</span></div>
            <div class="columns">
                <span class="middle-label">{{Product.Offset}}</span>
            </div>
        </div>


        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">B/S</span></div>
            <div class="columns">
                <span class="middle-label">{{Product.Bsm}}</span>
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Bore</span></div>
            <div class="columns">
                <span class="middle-label">{{Product.Bore}}</span>
            </div>
        </div>

    </div>
    <div class="small-12 medium-5 columns wheelSpecs">

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Load Rating</span></div>
            <div class="columns">
                <span class="middle-label">{{Product.LoadRating}}</span>
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Weight</span></div>
            <div class="columns">
                <span class="middle-label">{{Product.Weight}}#</span>
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Construction</span></div>
            <div class="columns">
                <select name="" id="">
                    <option value="ca" selected>Cast</option>
                    <option value="ff">Rotary Forged</option>
                    <option value="1p">1-piece Monoblock</option>
                    <option value="2p">2-piece Forged</option>
                    <option value="3p">3-piece Forged</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Cost</span></div>
            <div class="columns">
                ${{Product.Cost}}
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">MAP Pricing</span></div>
            <div class="columns">
                ${{Product.MapPricing}}
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">MSRP</span></div>
            <div class="columns">
                ${{Product.Msrp}}
            </div>
        </div>

        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Big Brakes?</span></div>
            <div class="columns">
                <div class="switch">
                    <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch">
                    <label class="switch-paddle" for="yes-no">
                        <span class="show-for-sr">Clears Big Brakes</span>
                        <span class="switch-active" aria-hidden="true">Yes</span>
                        <span class="switch-inactive" aria-hidden="true">No</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-4 medium-5 large-4 columns text-right">
                <span class="middle-label">Off-Road?</span></div>
            <div class="columns">
                <div class="switch">
                    <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch">
                    <label class="switch-paddle" for="yes-no">
                        <span class="show-for-sr">Off-Road</span>
                        <span class="switch-active" aria-hidden="true">Yes</span>
                        <span class="switch-inactive" aria-hidden="true">No</span>
                    </label>
                </div>
            </div>
        </div>

    </div>

</div>

<div id="fitmentLink" style="height: 1em;"></div>
<div style="height: 2em;"></div>

<div class="row">
    <div class="columns">

        <div class="row">
            <div class="small-12 medium-expand column">
                <h2>Vehicle Fitments</h2>
            </div>
            <div class="small-12 shrink column">
                Regions
                <select name="filter-region" id="filter-region" class="input-group-field shrink">
                    <option value="">ALL</option>
                    <option value="">US</option>
                    <option value="">CAN</option>
                    <option value="">AUS</option>
                </select>
            </div>
        </div>
        <hr/>

        <uib-accordion close-others="{{true}}">

            <div uib-accordion-group class="panel-default" ng-repeat="fitment in Product.Fitments">
                <uib-accordion-heading>
                    <a class="">Chassis: {{fitment[0].Year}} {{fitment[0].Make}} {{fitment[0].Model}} ({{fitment.length}} Total Fitments)</a>

                    <a href="" class="pull-right fitment-delete">
                        <i class="fa fa-plus"></i>
                    </a>

                    <a class="pull-right fitment-delete" ng-click="restrictFitment(fitment,Product.PartNumber,$event)">
                        <i class="fa fa-trash"></i>
                    </a>
                </uib-accordion-heading>

                <div>
                    <div ng-repeat="item in fitment">
                        {{item.Year}} {{item.Make}} {{item.Model}} {{item.BodyType}} {{item.SubModel}} (Region {{item.RegionId}})
                    </div>
                </div>
            </div>
        </uib-accordion>


    </div>
</div>

<div style="height: 3em;"></div>

<div class="row">
    <div class="columns">

        <div class="row">
            <div class="small-12 medium-expand column">
                <h2>Restricted Fitments</h2>
            </div>
            <div class="small-12 shrink column">
                Regions
                <select name="filter-region" id="filter-region" class="input-group-field shrink">
                    <option value="">ALL</option>
                    <option value="">US</option>
                    <option value="">CAN</option>
                    <option value="">AUS</option>
                </select>
            </div>
        </div>
        <hr/>

        <uib-accordion close-others="{{true}}">
            <div uib-accordion-group class="panel-default" ng-repeat="fitment in Product.RestrictedFitments">
                <uib-accordion-heading>
                    <a class="">Chassis: {{fitment[0].Year}} {{fitment[0].Make}} {{fitment[0].Model}} ({{fitment.length}} Total Fitments)</a>

                    <a href="" class="pull-right fitment-delete">
                        <i class="fa fa-plus"></i>
                    </a>

                    <a class="pull-right fitment-delete" ng-click="enableFitment(fitment,Product.PartNumber)">
                        <i class="fa fa-trash"></i>
                    </a>
                    <!--Custom template with custom header template <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>-->
                </uib-accordion-heading>

                <div>
                    <div ng-repeat="item in fitment">
                        {{item.Year}} {{item.Make}} {{item.Model}} {{item.BodyType}} {{item.SubModel}} ({{item.RegionId}})
                    </div>
                </div>

            </div>
        </uib-accordion>


    </div>

</div>


<div id="bottomToolbar">
	<!-- Future Feature
	<a href="wheel.php" type="submit" class="button"><i class="fa fa-check"></i> Save Changes</a>
	-->
	<a href="javascript:void(0)" onClick="alert('Coming Soon');" class="button"><i class="fa fa-car"></i> Add Vehicle Fitment (108)</a>
</div>

</div>
</div>


</div>

<!--@section Scripts {
    <script type="text/javascript">

        function cancelEvent(ev) {

            if (ev.stopPropagation){
                ev.stopPropagation();
            }
            else if(window.event){
                window.event.cancelBubble=true;
            }
        };

        function restrictFitment(ev, chassisId, partNumber) {
            cancelEvent(ev);

            $.post("/Products/RemoveFitment", {chassisId: chassisId, partNumber : partNumber})
                .done(function(data) {
                    if (data.Error == null) {
                        location.reload();
                    } else {
                        console.log(data.Error);
                    }
                })
                .fail(function() {
                    console.log("failed to remove fitments");
                });
        };

        function enableFitment(ev, chassisId, partNumber) {
            console.log(chassisId + " " + partNumber);
            cancelEvent(ev);

            $.post("/Products/EnableFitment", { chassisId: chassisId, partNumber: partNumber })
                .done(function(data) {
                    if (data.Error == null) {
                        location.reload();
                    } else {
                        console.log(data.Error);
                    }
                })
                .fail(function() {
                    console.log("failed to enable fitments");
                });
        };

        $(document)
            .ready(function() {
                $(function() {

                });
            });
    </script>
}-->