﻿<div ncy-breadcrumb></div>

<div class="bodyWrapper">
    <div class="breadcrumb">
       <div class="row">
       	<div class="small-12 columns">
				<nav aria-label="You are here:" role="navigation">
					<ul class="breadcrumbs">
						 <li><a href="#home">Home</a></li>
						 <li><a href="#brand/{{Wheel.BrandId}}">{{Wheel.Brand}}</a></li>
						 <li>{{Wheel.Style}}, {{Wheel.Finish}}</li>
					</ul>
				</nav>
			 </div>
		 </div>
    </div>

    <div style="height: 1rem;"></div>

    <div class="row">
        <div class="shrink column">
            <label>Finish: </label>
            <input type="text" value="{{Wheel.Finish}}"/>
        </div>
        <div class="shrink column">
            <label>Finish (Abbr.): </label>
            <select class="shrink" name="" id="">
                <option>Silver</option>
                <option>Gunmetal</option>
                <option selected>{{Wheel.ShortFinish}}</option>
                <option>Machined</option>
                <option>Chrome / PVD</option>
                <option>Polished</option>
                <option>Brushed</option>
                <option>Gold / Bronze</option>
                <option>Carbon</option>
            </select>
        </div>
        <div class="shrink column">
            <label>Live: </label>
            <div class="switch">
                <input class="switch-input" id="yes-no-active" type="checkbox" ng-model="Wheel.Active">
                <label class="switch-paddle" for="yes-no-active">
                    <span class="switch-active" aria-hidden="true">Yes</span>
                    <span class="switch-inactive" aria-hidden="true">No</span>
                </label>
            </div>
        </div>
        <div class="shrink column">
            <label>Customizable: </label>
            <div class="switch">
                <input class="switch-input" id="yes-no" type="checkbox" ng-model="Wheel.Customizable">
                <label class="switch-paddle" for="yes-no">                    
                    <span class="switch-active" aria-hidden="true">Yes</span>
                    <span class="switch-inactive" aria-hidden="true">No</span>
                </label>
            </div>
        </div>
    </div>

    <div class="wheel-list" style="margin-top: 2em;">

        <div class="row">
            <div class="small-6 medium-3 columns">
                <img src="{{Wheel.Image}}" width="500" height="500" alt=""/>
                <div class="text-center">
                    <a href="#media/{{Wheel.WheelId}}" class="wheel-action">
                        <span class="text">Media</span>
                    </a>
                    <a href="#imagebuilder/{{Wheel.WheelId}}" class="wheel-action">
                        <span class="text">Builder</span>
                    </a>
                </div>
            </div>
            <div class="small-12 medium-9 columns">
                <table>
                    <thead>
                    <tr>
                        <th>Part Number</th>
                        <th class="text-center">Size</th>
                        <th class="text-center">Bolt Pattern</th>
                        <th class="text-center">Offset</th>
                        <th class="text-center">Fitments</th>
                        <th class="text-center">Status</th>
                        <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in Wheel.Products">
                        <td>
                            <a href="#product/{{product.WheelSpecId}}">{{product.PartNumber}}</a>
                        </td>
                        <td class="text-center">{{product.Size}}</td>
                        <td class="text-center">{{product.BoltPattern}}</td>
                        <td class="text-center">{{product.Offset}}</td>
                        <td class="text-center">
                            <a href="#product/{{product.WheelSpecId}}#fitmentLink">{{product.TotalFitments}}</a>
                        </td>
                        <td class="text-center">
                            <!--- Future Feature ---> 	
                            <span class="statusBox status-active">Active</span>
                        </td>
                        <td class="text-right">
                            <a href="#product/{{product.WheelSpecId}}" class="action">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    
    <div id="bottomToolbar">
        <a href="" ng-click="save()" class="button"><i class="fa fa-save"></i> Save</a>
        <a href="#header" class="toTop"><span class="typcn typcn-arrow-up typcn-2x"></span></a>
    </div>
</div>
