﻿
    <div class="bodyWrapper">


        <div class="row">
            <div class="small-12 columns">
                <div class="breadcrumb">
                    <nav aria-label="You are here:" role="navigation">
                        <ul class="breadcrumbs">
                            <li><a href="#home">Home</a></li>
                            <li><a href="#brand/{{Wheel.BrandId}}">{{Wheel.Brand}}</a></li>
                            <li><a href="#wheel/{{Wheel.BrandId}}/{{Wheel.StyleId}}/{{Wheel.FinishId}}">{{Wheel.Style}}, {{Wheel.Finish}}</a></li>
                        </ul>
                    </nav>
                </div>

                <h1>Image Matrix for {{Wheel.Style}} {{Wheel.Finish}}</h1>
                
                <label>{{uploadMessage}}</label>

            </div>
        </div>

        <div class="image-matrix">


            <div class="row headerSection">
                <div class="columns">
                    <h3>Base Layer</h3>
                </div>
                <div class="shrink columns text-right pad-headerSection">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div class="row imageMatrix-layer">
                <div class="columns"><h4>Base</h4></div>
                <div class="columns"><h4>Photo Studio - Front</h4></div>
                <div class="columns"><h4>Photo Studio - Rear</h4></div>
            </div>
            <div class="row imageMatrix-layer">
                <div class="columns">
                    <img class="builderThumb" src="{{Wheel.BaseLayerImage}}" alt="" />
                    <hr>
                    <label for="baseFile" class="secondary button">Upload File</label>
                    <input id="baseFile" type="file" class="show-for-sr" nv-file-select options="{name: 'base'}" uploader="uploader" accept=".png" single />
                </div>

                <div class="columns">
                    <img class="builderFrontThumb" src="{{Wheel.BaseFrontImage}}" alt="" />
                    <hr>
                    <label for="frontFile" class="secondary button">Upload File</label>
                    <input id="frontFile" type="file" class="show-for-sr" nv-file-select options="{name: 'front'}" uploader="uploader" accept=".png" single />
                </div>

                <div class="columns">
                    <img class="builderRearThumb" src="{{Wheel.BaseRearImage}}" alt="" />
                    <hr>
                    <label for="rearFile" class="secondary button">Upload File</label>
                    <input id="rearFile" type="file" class="show-for-sr" nv-file-select options="{name: 'rear'}" uploader="uploader" accept=".png" single />
                </div>

            </div>
            
            <div ng-repeat="l in Wheel.WheelLayers">
                <div class="row headerSection">
                    <div class="columns">
                        <h3>Layer <input ng-model="l.LevelName" ng-change="onNameChange()"/></h3>
                    </div>
                    <div class="shrink columns text-right pad-headerSection">
                        <i class="fa fa-arrows"></i>
                    </div>
                </div>

                <div class="row imageMatrix-layer">
                    <div class="columns"><h4>Base</h4></div>
                    <div class="columns"><h4>Photo Studio - Front</h4></div>
                    <div class="columns"><h4>Photo Studio - Rear</h4></div>
                </div>  
                
                <div class="row imageMatrix-layer">
                    <div class="columns">
                        <img src="{{l.BaseLayerImage}}" alt="" />
                        <hr>
                        <label for="baseFile{{l.Id}}" class="secondary button">Upload File</label>
                        <input id="baseFile{{l.Id}}" type="file" class="show-for-sr" nv-file-select options="{{l.boptions}}" uploader="uploader" accept=".png" single />
                    </div>

                    <div class="columns">
                        <img src="{{l.FrontLayerImage}}" alt="" />
                        <hr>
                        <label for="frontFile{{l.Id}}" class="secondary button">Upload File</label>
                        <input id="frontFile{{l.Id}}" type="file" class="show-for-sr" nv-file-select options="{{l.foptions}}" uploader="uploader" accept=".png" single />
                    </div>

                    <div class="columns">
                        <img src="{{l.RearLayerImage}}" alt="" />
                        <hr>
                        <label for="rearFile{{l.Id}}" class="secondary button">Upload File</label>
                        <input id="rearFile{{l.Id}}" type="file" class="show-for-sr" nv-file-select options="{{l.roptions}}" uploader="uploader" accept=".png" single />
                    </div>                    

                </div>  
            </div>

            <div id="bottomToolbar">
                <div class="row">
                    <div class="small-12 columns text-center">
                        <button type="button" class="button" ng-click="saveChanges()" ng-disabled="!uploader.getNotUploadedItems().length && !isDirty">
                            <i class="fa fa-check-square"></i> Save
                        </button>

                        <a href="" ng-click="addNewLayer()" class="button"><i class="fa fa-plus"></i> Add New layer</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
