﻿
    <div class="bodyWrapper">


        <div class="row">
            <div class="small-12 columns">
                <div class="breadcrumb">
                    <nav aria-label="You are here:" role="navigation">
                        <ul class="breadcrumbs">
                            <li><a href="#home">Home</a></li>
                            <li><a href="#brand/{{Wheel.BrandId}}">{{Wheel.Brand}}</a></li>
                            <li><a href="#wheel/{{Wheel.BrandId}}/{{Wheel.StyleId}}/{{Wheel.FinishId}}">{{Wheel.Style}}, {{Wheel.Finish}}</a></li>
                        </ul>
                    </nav>
                </div>

                <h1>MEDIA FOR {{Wheel.Style}} {{Wheel.Finish}}</h1>
                
                <label>{{uploadMessage}}</label>

            </div>
        </div>

        <div class="image-matrix">
            <div class="row headerSection">
                <div class="columns">
                    <h3>Images</h3>
                </div>
            </div>
            <div class="row align-middle media-images">
                <div class="small-6 medium-4 large-3 columns">
                    <img src="{{Wheel.Image}}" alt="" />                    
                </div>
                <div class="small-6 medium-4 large-3 columns">
                    <div class="tile-add">
                        <i class="fa fa-plus"></i>
                        <label for="thumbFile" class="button small">Upload File</label>
                        <input id="thumbFile" type="file" class="show-for-sr" nv-file-select options="{name: 'thumb'}" uploader="uploader" accept=".png" single />
                    </div>
                </div>
            </div>

           <!-- <div class="row headerSection">
                <div class="columns">
                    <h3>Videos</h3>
                </div>
                <div class="shrink columns text-right pad-headerSection">
                    <i class="fa fa-arrows"></i>
                </div>
            </div>

            <div class="row align-middle media-video">

                <div class="small-12 columns">
                    <div class="row">
                        <div class="columns">
                            <a href="https://www.youtube.com/watch?v=WqmilFoObgE" target="_blank">BMW M4 | Wheels Performance | Vossen Forged VPS-301</a>
                        </div>
                        <div class="shrink columns">
                            <a href="#" class="action"><i class="fa fa-close"></i></a>
                        </div>
                    </div>
                </div>

                <div class="small-12 columns">

                    <hr />
                    <h5>Add a New YouTube or Vimeo Video</h5>
                    <div class="row align-center">
                        <div class="small-12 medium-5 columns">
                            <div class="input-group">
                                <span class="input-group-label">Title</span>
                                <input type="text" placeholder="Video Title" />
                            </div>
                        </div>
                        <div class="small-12 medium-5 columns">
                            <div class="input-group">
                                <span class="input-group-label">URL</span>
                                <input type="text" class="input-group-field" placeholder="https://www.youtube.com/watch?v=WqmilFoObgE">
                            </div>
                        </div>
                        <div class="columns">
                            <a href="#" class="button small">Save</a>
                        </div>
                    </div>

                </div>
            </div>-->
            
            <div id="bottomToolbar">
                <div class="row">
                    <div class="small-12 columns text-center">
                        <button type="button" class="button" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <i class="fa fa-check-square"></i> Save
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>