﻿
<div id="vtws-customize-wheel-section">
    <div class="wheel-info">
        <h2 class="vtws-modal-title">Add Custom Paint</h2>

        <div class="wheel-brand"></div>
        <h2 class="wheel-name"></h2>
    </div>


    <div id="wheel">
        <div id="vtws-mainWheel">
            <canvas id="w" crossOrigin="anonymous"></canvas>
        </div>

        <div class="builder_buttons">
            <div class="wbLayer" data-layer="face">
                <label class="small">Face:</label>
                <input type='text' class="colorpicker" />
            </div>
            <div class="wbLayer" data-layer="window">
                <label class="small">Window:</label>
                <input type='text' class="colorpicker" />
            </div>
        </div>

    </div>    
</div>
 
