﻿@using System.Configuration
@{
    var baseURL = Url.Content("~/Content");
    //baseURL = "http://apps.velocity-tech.com/Content";
    baseURL = ConfigurationManager.AppSettings["WheelsApiBaseUrl"] + "Content";
}

<div id="vtws-select-menus">
    <div class="vtws-select-wrapper">
        <select name="vtws-vehicle-year" id="vtws-vehicle-year"></select>
    </div>
    <div class="vtws-select-wrapper">
        <select name="vtws-vehicle-make" id="vtws-vehicle-make"></select>
    </div>
    <div class="vtws-select-wrapper">
        <select name="vtws-vehicle-model" id="vtws-vehicle-model"></select>
    </div>
    <div class="vtws-select-wrapper">
        <select name="vtws-vehicle-body-type" id="vtws-vehicle-body-type"></select>
    </div>
    <div class="vtws-select-wrapper">
        <select name="vtws-vehicle-sub-model" id="vtws-vehicle-sub-model"></select>
    </div>
</div>
<div id="vtws-selected-vehicle">
  <span class="vtws-vehicleTitle"></span>
  <button id="vtws-change-vehicle">Change Vehicle</button>
</div>

@*<script type="text/javascript" src="@baseURL/js/vt-vehicle-selector.js"></script>*@
