﻿<h2 class="vtws-modal-title">Set Vehicle Image</h2>

<div>
    <div id="vtws-vi-yes">
        <div id="vtws-vehicle-select-pick-an-image">
            <div id="vtws-studio-photos">
                <h3>
                    <strong>Studio Photos</strong>
                </h3>
                <div style="height: 0.5em;"></div>
                <div class="studioVehicleList"></div>
            </div>
            <div id="vtws-location-shoots">
                <h3>
                    <strong>Location Shoots</strong>
                </h3>
                <div style="height: 0.5em;"></div>
                <div class="customStudioVehicleList"></div>
            </div>
        </div>
        
        <div id="vtws-use-own-image">
            <h3>Upload Your Own Image</h3>
            Click the button below to upload an image from your device.

            <div class="box-light box-padded" style="min-height: 80%;">
                <div class="userUpload">
                    <div class="mainText">
                        <i class="vticon-upload2"></i><br />
                    </div>
                    <input type="file" id="imgLoader">
                </div>

                <div style="height: 3em;"></div>

                <div id="vtws-use-own-image-tips">
                    <div class="vtws-tips-header">Tips For Selecting a Good Image</div>
                    <ul class="vtws-tips">
                        <li>Angled images that show the entire wheel work best (no straight side shots)</li>
                        <li>Both wheels should be visible</li>
                        <li>Front 3/4 or rear 3/4 images are no problem</li>
                        <li>Images should be at least 900px wide for best quality</li>
                        <li>Images should be horizontal (landscape) mode</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    
    <div id="vtws-vi-no">
        <div id="vtws-vehicle-tips-section">
            <h3>
                <strong>Tips For Selecting a Good Image</strong>
            </h3>
            <div style="height: 0.5em;"></div>
            <ul class="vtws-tips">
                <li>Angled images that show the entire wheel work best (no straight side shots)</li>
                <li>Both wheels should be visible</li>
                <li>Front 3/4 or rear 3/4 images are no problem</li>
                <li>Images should be at least 900px wide for best quality</li>
                <li>Images should be horizontal (landscape) mode</li>
            </ul>
        </div>
    </div>

    <div id="vtws-vehicle-select-first-image">
    </div>

</div>

<div style="height: 1em;"></div>

<div id="vtws-vehicle-list-template" class="vtws-hide">
    <div id="vtws-vehicleThumbTiles" class="vtws-vehicle-list-tiles">
        <div class="vtws-vehicle-list-image-section">
            <a href="#" class="vtws-vehicle-list-selector" data-vtws-vehicle-year="" data-vtws-vehicle-make=""
               data-vtws-vehicle-model="" data-vtws-vehicle-body-style="" data-vtws-vehicle-sub-model="">
                <img class="vtws-vehicle-list-image" width="155" height="75" src="" alt=""/>
            </a>
        </div>
    </div>
</div>