﻿@using System.Configuration
@{
  var baseURL = ConfigurationManager.AppSettings["WheelsApiBaseUrl"] + "Content/studio/bundles";
    
  //baseURL = "http://apps.velocity-tech.com/Content/studio/bundles";
}

<link href="@baseURL/WheelStudioStyles?v=erZ0P6rOnURMsPk-9FiyHx-1LEkBqrBT_oQgBl7W8Gs1" rel="stylesheet">
@*@Styles.Render("~/Content/studio/bundles/WheelStudioStyles")*@


<!--- Select Image --->
<div id="vtws-vehicleSelect" class="vtws-selectvehicle-form">
    <button class="vtws-close-button" type="button">
        <span>&times;</span>
    </button>
    @Html.Partial("_VTWSImageSelect")
</div>

<div id="vtws-mainImage" style="visibility: hidden">
    <!-- Action Buttons -->
    <div id="vtws-mainActions">
        <div class="vtws-actionsRight">
            Wheel Dia.
            <button id="sizeUp">Up</button>
            <button id="sizeDown">Down</button>
            @*<button id="vtws-customize-wheel" class="vtws-hide" rel="leanModal" href="#vtws-paintWheel">Customize Wheel</button>*@
            <button id="vtws-brightness">Edit Wheels</button>
            <button id="vtws-flipx">Flip Wheels</button>

        </div>
        <div class="vtws-actionsLeft">
            <button id="vtws-changeOrientation" class="vtws-hide" data-orientation-primary="Front" data-orientation-secondary="Rear">Change View</button>
            <button id="vtws-changeVehicle">Change / Upload Image</button>
        </div>
        
    </div>
    <div id="vtws-brightnessSlider" style="display:none;">
        <div class="vtws-editControls">
            <span class="vtws-controlLabel">
        <i class="fa fa-sun-o"></i>
        Brightness
      </span>
            <input id="vtws-brightnessSliderInput" type="range" class="vtws-rangeSlider" min="-255" max="500" value="0" />
        </div>
        <div class="vtws-editControls">
            <span class="vtws-controlLabel">
        <i class="fa fa-circle"></i>
        Contrast
      </span>
            <input id="vtws-contrastSliderInput" type="range" class="vtws-rangeSlider" min="-255" max="500" value="0" />
        </div>
    </div>

    <!-- Main Vehicle -->
    <div id="vtws-mainVehicle">
        <div class="vtws-vehicleWrapper">
            <canvas id="v"></canvas>                     
        </div>
      
        <div class="vtws-note-vehicle" style="margin: 0 0 0 12px; padding-bottom: 8px;">
            <i class="vticon-info"></i><span class="vtws-note-label">NOTE ON VEHICLE IMAGE</span>
            <div class="vtws-caption">
                <div class="vtws-caption-header">NOTE ON VEHICLE IMAGE</div>
                <div class="vtws-caption-text">The images are for preview purposes only and actual vehicle and product images may vary in real life. The vehicle images depicted may differ from the specific model and trim level selected, but the wheel results listed are specific to the model and trim selected, and are not influenced by the vehicle image itself.</div>

            </div>
        </div>
        <div id="vtws-swatches" data-color=""></div>
        <div id="vtws-secondaryVehicle"></div>
        <div style="clear: both"></div>      
    </div><!--mainVehicle-->  
</div>



<input id="vtws-productBrand" type="hidden" value=""/>

<!-- Customize Wheel Modal -->
<div id="vtws-paintWheel" class="vtws-modal">
    <button class="vtws-close-button" type="button">
        <span>&times;</span>
    </button>
    @Html.Partial("_PaintWheel")
</div>

<div id="vtws-product-grid-template" class="vtws-hide">
    <div id="vtws-product-filters" class="vtws-filters-horizontal">
        <div id="vtws-filters">
            <div class="filter-title">Filters</div>
            <ul id="vtws-filter-list">

                <!--- Please note the types of filters get a unique class -->
                <li class="vtws-filter filter-wheelSize">
                    <span class="vtws-filter-option-title">All Sizes</span>
                    <ul class="vtws-text-dd vtws-filter-list">
                        <li class="vtws-filter-option"><a href="" class="vtws-filter-link" data-vtws-filter="">All Sizes</a></li>                        
                    </ul>
                </li>

                <li class="vtws-filter filter-brands">
                    <span class="vtws-filter-option-title">All Brands</span>
                    <ul class="vtws-text-dd vtws-filter-list">
                        <li class="vtws-filter-option"><a href="" class="vtws-filter-link" data-vtws-filter="">All Brands</a></li>                        
                    </ul>
                </li>

            </ul>
        </div>

        <div id="vtws-sort">
            <div class="sort-title">Sort</div>

            <ul id="vtws-sort-list">
                <li class="vtws-filter">
                    <span class="vtws-sort-option-title">Sort</span>

                    <ul class="vtws-text-dd">

                        <li class="vtws-sort-option">
                            <a href="" class="vtws-sort-link" data-vtws-sort="ProductName" data-vtws-sort-direction="0">Product Name (A&#10142;Z)</a>
                        </li>
                        <li class="vtws-sort-option">
                            <a href="" class="vtws-sort-link" data-vtws-sort="ProductName" data-vtws-sort-direction="1">Product Name (Z&#10142;A)</a>
                        </li>
                        <li class="vtws-sort-option">
                            <a href="" class="vtws-sort-link" data-vtws-sort="Brand" data-vtws-sort-direction="0">Brand Name (A&#10142;Z)</a>
                        </li>
                        <li class="vtws-sort-option">
                            <a href="" class="vtws-sort-link" data-vtws-sort="Brand" data-vtws-sort-direction="1">Brand Name (Z&#10142;A)</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    
    <div id="vtws-productGrid" class="vtws-productGrid">
        <div class="vtws-productTile wheel">
            <div class="vtws-tileContent">
                <div class="vtws-productImage">
                    <a href="#" class="vtws-wheel-selector" data-vtws-wheel-part-number="{{partNumner}}">
                        <img width="150" height="150" src="" alt="{{brand}} {{PartName}}"/>
                    </a>
                </div>
                <div class="vtws-productBrand">{{brand}}</div>
                <div class="vtws-productName">{{partName}}</div>
                <div class="vtws-productFinish">{{longFinish}}</div>
                <div class="vtws-productOptions">
                    <div class="vtws-label-small">Available Sizes:</div>
                    <ul class="vtws-sizeOptions">
                        <li class="vtws-size-list-item">
                            <div class="vtws-size-item">
                                <span class="vtws-size-text">{{diameters}}</span>
                                <span class="vtws-size-btn vtws-hide">
                                    <a href="" class="vtws-get-quote">Get Quote</a>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="vtws-productInfo">
                    <small>Starting At:</small>
                    <span class="vtws-price">${{MSRP}}</span> <small>ea.</small>
                </div>
                <div class="vtws-actions">
                    <a href="#" class="vtws-previewWheelBtn button button-preview" data-vtws-wheel-part-number="{{partNumber}}">Preview</a>
                    <div class="vtws-view-specs">
                        <a class="view-specs-btn button button-gray" rel="leanModal" href="#wheelDetailsModal">Specs</a>
                    </div>
                    <div class="vtws-view-customize vtws-hide">
                        <a href="#" class="customize-btn button button-gray" data-vtws-wheel-part-number="{{partNumber}}">Customize</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    // Need to check if account has Wheel Products enabled ...
    if (true)
    {        
        @Html.Partial("ProductSpecsPartial")
    }

}



<div id="lean_overlay"></div>

<script src="@baseURL/WheelStudioScripts?v=THViHN1Q6ZQK7oiVDTZRn9eJYXWBDKbU3ClfSK6t54Q1"></script>