﻿@using System.Configuration
@{
    Layout = null;
    var baseUrl = ConfigurationManager.AppSettings["WheelsApiBaseUrl"];
}


<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="robots" content="noindex, nofollow">

    <title>Testing</title>
    <script src="/Content/js/vendor/jquery.min.js"></script>

    
    <link rel="stylesheet" href="/Content/css/foundation.min.css" />
</head>

<body>

    <script type="text/javascript" src="/vtws-wheel-studio.js?vtwstoken=5585b38b-2287-4931-af72-16c867d305c9&s=@baseUrl"></script> 

<div class="page_wrapper">

    <div class="row">
        <div class="small-12 columns">
            <h2>Test Wheel Studio</h2>
        </div>
    </div>
    <hr size="1"/>

    <div class="row">


        <div id="customize-wheel" class="small-12 medium-4 columns">
            <div id="vtws-wheelBuilder"></div>
        </div><!--mainWheel-->

        <div id="vehicle-section" class="small-12 medium-8 columns">
            
            
            <div id="vtws-wheel-studio"></div>
        </div><!--mainVehicle-->
    </div>


</div><!--page_wrapper-->
    
    <script type="text/javascript">

    $(document)
        .ready(function() {
            $(function () {
                //v=2014|Aston%20Martin|Vanquish|Coupe|Base
                vtwsTestExists("2015", "Alfa Romeo", "4C", "Coupe", "Base", "", vehicleExists);

                function vehicleExists(exists) {
                    if (exists) {
                        vtwsInit(loadData);

                        function loadData() {
                            vtwsSelectVehicle("2015", "Alfa Romeo", "4C", "Coupe", "Base", "");
                            vtwsLoadBuilder("MOD-B1-20");
                            //vtwsLoadBuilder("MOD-C7-20");
                        };
                    } else {
                        alert("No Vehicle Found");
                    }
                };
            });
        });


    </script>


</body>
</html>




