﻿

<div class="reveal large vtws-modal"  id="wheelDetailsModal" style="top: 33px; width:90%; max-width:1000px;">
    <button class="vtws-close-button" type="button">
        <span>&times;</span>
    </button>

    <div class="brandName">{{BRAND}}</div>
    <h1 class="vtws-details-style">{{style}}</h1>
    <h4 class="font-normal allCaps vtws-details-finish">{{finish}}</h4>

    <div id="vtws-wheelDetails">

        <div id="vtws-wheelThumb">
            <img id="vtws-wheelThumb-img" width="450" height="450" alt="" src="">
        </div>

        <div id="vtws-wheelSpecs">
            <table class="vtws-specsTable">
                <thead>
                    <tr>
                        <th>Part #</th>
                        <th>Size</th>
                        <th>Bolt</th>
                        <th>Offset</th>
                        <th>MSRP</th>
                    </tr>
                </thead>
                <tbody id="vtws-wheelspecs-body">
                    <tr>
                        <td>
                            <span class="vtws-sku">{{sku}}</span>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span class="vtws-price">${{price}}</span>
                            <span class="vtws-ea">/ea.</span>
                            @*<a class="button">Add to List</a>*@
                        </td>
                    </tr>
                    <tr class="vtws-specFits">
                        <td>
                            <span class="vtws-sku">{{sku}}</span>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span class="vtws-price">${{price}}</span>
                            <span class="vtws-ea">/ea.</span>
                            @*<a class="button">Add to List</a>*@
                        </td>
                    </tr>                    
                </tbody>
            </table>

            <p class="vtws-note">* Please note, the highlighted part numbers will fit your selected vehicle.</p>
        </div>
    </div>


</div>
