﻿

<div class="bodyWrapper">
    <div class="breadcrumb">
       <div class="row">
       	<div class="small-12 columns">
				<nav aria-label="You are here:" role="navigation">
					<ul class="breadcrumbs">
						 <li>
							  <a href="#home">Home</a>
						 </li>
						 <li>{{Brand}}</li>
					</ul>
			 	</nav>
			 </div>
		 </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h1>{{Brand}}</h1>
            <hr>
        </div>
    </div>

    <div class="wheel-list">

        <div class="row small-up-2 medium-up-4 large-up-6 text-center">

            <div ng-repeat="wheel in Wheels" class="column tile-padBtm">
                <a href="#wheel/{{wheel.BrandId}}/{{wheel.StyleId}}/{{wheel.FinishId}}">
                    <img src="{{wheel.Image}}" width="300" height="300" alt="" />
                </a>

                <h3>{{wheel.ProductName}}</h3>
                <span class="uppercase">{{wheel.Finish}}</span>
                <!--- Will Save onChange
                <select>
                    <option value="">Active</option>
                    <option value="">Discontinued</option>
                    <option value="">Coming Soon</option>
                </select>
					 --->
               <hr class="small-hr">
                <div class="text-center">
                    <a href="#wheel/{{wheel.BrandId}}/{{wheel.StyleId}}/{{wheel.FinishId}}" class="wheel-action">
                        <span class="text">Edit</span>
                    </a>
                    <a href="#media/{{wheel.WheelId}}" class="wheel-action">
                        <span class="text">Media</span>
                    </a>
                    <a href="#imagebuilder/{{wheel.WheelId}}" class="wheel-action">
                        <span class="text">Builder</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div id="bottomToolbar">
        <a href="#uploadData" type="submit" class="button"><i class="fa fa-check"></i> Upload Product Data</a>
        <a href="#header" class="toTop">
            <span class="typcn typcn-arrow-up typcn-2x"></span>
        </a>
    </div>

</div>