
/* WRAPPER */
#vtws {
	position:  relative;
	box-sizing: border-box;
}

/* MAIN ACTIONS */
#vtws-mainActions {
	position: relative;
	padding: 6px;
}

/* STUDIO IMAGE SELECT */
#vtws-imageSelect {

}
.userUpload {
	text-align: center;
}
.userUpload .mainText {
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 1em;
}
input#imgLoader {
	border: solid 1px #aaa;	
	background: #eee;
	padding: 4px;
}
.studioVehicleList {
	max-height: 60vh;
	overflow:auto;
}
.studioVehicleList > .column {
	margin: 0 0 10px 0;
}

/* STUDIO WHEEL LIST */
.studioWheelGrid .tileContent {
    background: transparent;
    border: none;
    padding: 10px;
    margin: 0 0 0.5em 0;
}
.studioWheelGrid .actions {
	text-align: center;
}
.studioWheelGrid > .column {
	padding: 1px;
	background: #fff;
}

/* TIPS */
#uploadTips p {
	line-height: 1.1;
}
.tips-header {
	margin-bottom: 1.5em;
	border-bottom: solid 1px #aaa;
	padding-bottom: 0.5em;
	text-align: center;
	text-transform:  uppercase;
	font-weight: bold;
	font-size: 0.9em;
}
.tip-good { color: #31B517; }
.tip-bad { color: #a00; }


/* WHEEL PAINT ---------- */
#vtws-mainWheel {
	width: 250px;
	height: 250px;
}
@media screen and (min-width:400px) {
	#vtws-mainWheel {
		width: 370px;
		height: 370px;
	}
}

/* Main Vehicle Studio */
#vtws-wrapper {
	margin: 0 15px;
	max-width: none;
}

.canvas-container {
	margin: 0 auto;
}
#mainVehicle {
	position: relative;	
}
.vehicle-actions {
	margin-top: 20px;	
}
.userUpload {
	margin-top: 30px;
}
#vehicleImg {
	position: absolute;	
	position: absolute;
	top: 0;
	left: 0;
}
canvas#v {
	width: 100%;
}

canvas#w {
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  outline: none;
 } 
 
#vtws-mainVehicle { 
	position: relative;
	width: 100%;
}
 /* Medium and up */
@media screen and (min-width: 40em) {
	#vtws-mainVehicle {
		box-sizing: border-box;
	}
	#vtws-mainVehicle .vtws-vehicleWrapper {
	}
}
 
/* UI BUTTONS */

.ui-button,
.buttonGroup {
	background: #eee;
	border: solid 1px #ccc;
	border-radius: 3px;
	font-size: 9px; 
	text-transform: uppercase;
	vertical-align: middle;
}
.ui-button {
	padding: 8px;
}
.ui-button i {
	font-size: 18px;
	margin-right: 4px;
	vertical-align: middle;
}
.input-group {
	border: solid 1px #ccc;
}
.input-group-label:first-child {
	border-radius:none;
}
.input-group-label {
	border: none;
}
.input-group input[type='file'] {
	 padding: 10px;
    margin: 0;
}
.buttonGroup {
	display: inline-block;
}
.buttonGroup label {
	font-weight: normal;
	padding: 8px 0 8px 8px;
	display: inline-block;
	font-size: 9px; 
}
.buttonGroup .ui-button {
	border: none;
	outline: none;
}
.ui-button.disabled {
	opacity: 0.5;
}


 /* COLOR PICKER */
 .sp-clear-display {
	background: url(../images/swatch_polished.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
 }
 .sp-dd {
	 float: right;
	 line-height: 22px;
	 margin-right: 4px;
 }
.sp-replacer {
	position: relative;
	padding: 0;
	height: 25px;
}
.sp-replacer.pickerBox {
	width:100%;
}
.sp-preview {
	position: absolute;
	top: 0;
	right: 16px;
	bottom: 0;
	left: 0;
	width: auto;
	height: 25px;
	border: none;
}

/* TOUR */
.vtwsTour-mainWindow {
	margin-top: -8%;
}
/* Left Tour Stops */
@media screen and (max-width: 40em) {
	.joyride-tip-guide {
		margin-top: 18px;
	}
	.vtwsTour-left span.joyride-nub.top {
		right: 20px;
    	left: auto;
	}
}
@media screen and (min-width: 40em) {
	.vtwsTour-left {
		margin-top: -15px;
		margin-left: -12px;
	}
}

