﻿@model VelocityWheels.Models.AdminModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bodyWrapper">
    <div class="breadcrumb">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li>
                    <a href="/Home">Home</a>
                </li>
                <li>Admin</li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h1>Admin</h1>
            <hr>
        </div>
    </div>

    <div class="small-12 column">
        <div class="row">
            
            
            <div>
                <h5>@Html.Label("Upload Brand: ")</h5>
                <p>@Html.ValidationMessage("brandUploadFile", new { style = "color: red;" })</p>
            </div>
            
            @using (Html.BeginForm("UploadBrand", "Admin", FormMethod.Post, new {enctype = "multipart/form-data", id = "frm_brand"}))
            {               
                <div class="column">
                    @Html.Label("Select Brand/Style/Finish File")
                    @Html.TextBox("brandUploadFile", "upload.csv", new {type = "file", accept = ".csv"})
                </div>

                <div class="column">
                    <label>Select Uniques File</label>
                    @Html.TextBox("uniquesUploadFile", "upload.csv", new {type = "file", accept = ".csv"})
                </div>

                <div class="column" style="margin-top: 8px">
                    @Html.TextBox("pploadBrandBtn", "Upload", new {type = "submit"})
                </div>
            }

        </div>

    </div>

</div>
