﻿@using System.Configuration
@{
    ViewBag.Title = "Home";
    var baseURL = ConfigurationManager.AppSettings["WheelsApiBaseUrl"];
}

<div id="homeMain">
  <div>
    <div class="homeSlider">

      <div class="homeSlide">
        <div class="slideImage">
          <img src="~/Content/images/slider/wheel-close2.jpg" alt="" />
        </div>
        <div class="slideHead v-bottom w-left mediumUp-text-white" style="padding-bottom:2em;">
          <div class="slideHeadContent">
            <h1>This is a Demo Site</h1>
            <p>This site was built for click-through testing and to demonstrate functionality. It is not a fully functioning site and should not be used as such.</p>
          </div>
        </div>
      </div>

      <div class="homeSlide">
        <div class="slideImage">
          <img src="~/Content/images/slider/tire-close.jpg" alt="" />
        </div>
        <div class="slideHead v-middle w-right">
          <div class="slideHeadContent">
            <h1>We Can Do Tires and Wheels</h1>
            <p>Finally, we are bringing tires and wheels together like never before.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div id="content" class="home">
  <div class="segment">
    <div class="row">
      <div class="columns">
        <div class="box-dark text-center">
          <div class="vehicleSelection-h">
            @* @Html.Partial("_VehicleSelection") *@
            
			Select Your Vehicle to Get Started:
			<!--- Vehicle Selector Dropdown Menus --->
			<div id="vtws-vehicle-selector" data-callback="onSelectVehicle"></div>
			<!--- Go To Wheels Button --->
			<button id="vtws-vehicle-selector-button" data-vehicle-selection="" disabled>Wheels</button>

			<!--- Widget Script --->
			<script type="text/javascript" src="//apps.velocity-tech.com/vtws-wheel-studio.js?t=22a0dd63-4ac3-486f-9aee-05831e36908c"></script>

			<!--- Widget Integration --->
			<script type="text/javascript">
				// Callback from Vehicle Selector
				function onSelectVehicle(vehicleSelection, chassisID) {
					$("#vtws-vehicle-selector-button").data("vehicleSelection", vehicleSelection);
					$("#vtws-vehicle-selector-button").prop("disabled", false);
				}
				// Got to Wheels Page Button
				$(function () {
					$("#vtws-vehicle-selector-button").click(function () {
						window.location = "/Wheel/Studio/?v=" + $(this).data("vehicleSelection");
					});
				});
			</script>

          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div style="height:2em;"></div>
  
  <div class="row">
    <div class="columns">
      <h3>Popular Vehicles</h3>
      <p>Bypass the dropdowns and go straight to some of our more popular vehicles.</p>
      
      <div id="vehicleGrid" class="row small-up-2 medium-up-4 large-up-6">
       	<div class="column text-center">
      		<a href="/Wheel/Studio/?v=2016|Dodge|Challenger|Coupe|R/T">
      			<div class="vehicleThumb">
      				<img src="~/Content/images/vehicles/2016_challenger.png" alt="">
      			</div>
      			<div class="vehicleName">2016 Dodge Challenger</div>
      		</a>
      	</div>
     	<div class="column text-center">
      		<a href="/Wheel/Studio/?v=2017|Cadillac|Escalade|U/K|Luxury">
      			<div class="vehicleThumb">
      				<img src="~/Content/images/vehicles/2017_escalade.png" alt="">
      			</div>
      			<div class="vehicleName">2017 Cadillac Escalade</div>
      		</a>
      	</div>
      	<div class="column text-center">
      		<a href="/Wheel/Studio/?v=2016|Ram|1500|Crew%20Cab%20Pickup|Laramie">
      			<div class="vehicleThumb">
      				<img src="~/Content/images/vehicles/2016_ram1500.png" alt="">
      			</div>
      			<div class="vehicleName">2016 Ram 1500</div>
      		</a>
      	</div>
      	<div class="column text-center">
      		<a href="/Wheel/Studio/?v=2016|Audi|S5|Coupe|Premium%20Plus">
      			<div class="vehicleThumb">
      				<img src="~/Content/images/vehicles/2016_s5.png" alt="">
      			</div>
      			<div class="vehicleName">2016 Audi S5</div>
      		</a>
      	</div>
      	<div class="column text-center">
      		<a href="/Wheel/Studio/?v=2016|Acura|MDX|Sport%20Utility|Base">
      			<div class="vehicleThumb">
      				<img src="~/Content/images/vehicles/2016_mdx.png" alt="">
      			</div>
      			<div class="vehicleName">2016 Acura MDX</div>
      		</a>
      	</div>
      	<div class="column text-center">
      		<a href="/Wheel/Studio/?v=2017|Ford|Fusion|Sedan|Sport">
      			<div class="vehicleThumb">
      				<img src="~/Content/images/vehicles/2017_fusion.png" alt="">
      			</div>
      			<div class="vehicleName">2017 Ford Fusion</div>
      		</a>
      	</div>
      </div>
      
    </div>
  </div>  
  
  <div style="height:2em;"></div>
  
  <div class="row">
    <div class="columns">
      <h1>Coming Soon</h1>
      <p>We promise.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque commodo, dolor vitae egestas rutrum, ex eros convallis nisl, quis suscipit justo tellus at tortor. Aliquam molestie iaculis ligula, sed tincidunt mauris venenatis in. Donec justo arcu, condimentum ac consequat molestie, mattis non mi. Aenean lorem purus, laoreet sed odio id, dictum porttitor metus. Ut a feugiat ex. Praesent sem nulla, pretium ac aliquet sit amet, pellentesque in urna. Fusce risus arcu, tristique sed nibh ut, efficitur pellentesque erat. Morbi mauris metus, rhoncus sed neque et, feugiat ultrices urna. Fusce at maximus dui, sed ultrices eros. Phasellus porttitor ex vitae arcu mattis porta. Aenean ac est in orci condimentum volutpat in ultrices enim.</p>
    </div>
  </div>
  
  
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('.homeSlider').slick({
	  dots: true,
	  arrows: false,
	  infinite: true,
	  speed: 500,
	  slidesToShow: 1,
	  autoplay: true,
	  fade: true,
	  autoplaySpeed: 4000,
	  adaptiveHeight: true,
	  lazyLoad: 'ondemand'
	});
	
	// Initialize Wheel Studio
	vtwsInit();
});
</script>
