﻿@model string
@{
  var wheels = Model.Split(',');
}

<style>
  .wheelTile { width: 223px; float: left; }
</style>

@if(wheels.Contains("KM694")) { 
  <div class="wheelTile">
    <div class="tileContent">
      <div class="productImage">
        <a class="previewWheelBtn" data-wheelid="o_wheel2"><img crossOrigin="anonymous" src="~/Content/images/wheels/km694/km694_black.png" width="500" height="500" alt="KMC KM694" /></a>
      </div>
      <div class="productBrand">KMC</div>
      <div class="productName">KM694 Wishbone</div>
      <div class="productFinish">Satin Black</div>
      <div class="productOptions">
        <ul class="wheelSizeOptions">
          <li>19"</li>
          <li>20"</li>
        </ul>
      </div>
      <div class="productInfo">
        <small>Starting At:</small>
        <span class="price">$176</span> <small>ea.</small>
      </div>
      <div class="actions">
        <a href="wheel-details.php" class="button button-small button-gray">Details</a>
        <a class="previewWheelBtn button button-small button-gray" data-wheelid="o_wheel2">Preview</a>
        <a class="button button-small" data-open="addOptions">Add to Build</a>
      </div>
    </div>
  </div>
}
@if(wheels.Contains("VPS306")) {
  <div class="wheelTile">
    <div class="tileContent">
      <div class="productImage colorable">
        <a class="previewWheelBtn" data-wheelid="o_wheel1"><img crossOrigin="anonymous" src="~/Content/images/wheels/VPS-306/VPS-306.png" width="476" height="480" alt="KMC KM694" /></a>
      </div>
      <div class="productBrand">Vossen</div>
      <div class="productName">VPS-306</div>
      <div class="productFinish">Customizable Finish</div>
      <div class="productOptions">
        <ul class="wheelSizeOptions">
          <li>19"</li>
          <li>20"</li>
          <li>21"</li>
          <li>22"</li>
        </ul>
      </div>
      <div class="productInfo">
        <small>Starting At:</small>
        <span class="price">$1,350</span> <small>ea.</small>
      </div>
      <div class="actions">
        <a class="button button-small button-gray" href="wheel-details-custom.php">Details</a>
        <a class="previewWheelBtn button button-small button-gray" data-wheelid="o_wheel1">Preview</a>
        <a class="previewWheelBtn button button-small" data-open="paintWheel" data-wheelid="o_wheel1">Customize</a>
        <a class="button button-small" data-open="addOptions">Add to List</a>
      </div>
    </div>
  </div>
}
@if(wheels.Contains("ANZA")) {
  <div class="wheelTile">
    <div class="tileContent">
      <div class="productImage">
        <a class="previewWheelBtn" data-wheelid="o_wheel3"><img crossOrigin="anonymous" src="~/Content/images/wheels/Anza/Anza_bronze.png" width="500" height="500" alt="KMC KM694" /></a>
      </div>
      <div class="productBrand">Fuel Off Road</div>
      <div class="productName">ANZA</div>
      <div class="productFinish">Matte Bronze w/ Black Ring</div>
      <div class="productOptions">
        <ul class="wheelSizeOptions">
          <li>17"</li>
          <li>18"</li>
        </ul>
      </div>
      <div class="productInfo">
        <small>Starting At:</small>
        <span class="price">$232</span> <small>ea.</small>
      </div>
      <div class="actions">
        <a href="wheel-details.php" class="button button-small button-gray">Details</a>
        <a class="previewWheelBtn button button-small button-gray" data-wheelid="o_wheel3">Preview</a>
        <a class="button button-small" data-open="addOptions">Add to List</a>
      </div>
    </div>
  </div>
}
@if(wheels.Contains("MR305")) {
  <div class="wheelTile">
    <div class="tileContent">
      <div class="productImage">
        <a class="previewWheelBtn" data-wheelid="o_wheel4"><img crossOrigin="anonymous" src="~/Content/images/wheels/MR_305/machined.png" width="500" height="500" alt="Method MR 305" /></a>
      </div>
      <div class="productBrand">Method Race Wheels</div>
      <div class="productName">MR305</div>
      <div class="productFinish">Matte Black Machined Face</div>
      <div class="productOptions">
        <ul class="wheelSizeOptions">
          <li>16"</li>
          <li>17"</li>
          <li>18"</li>
          <li>20"</li>
        </ul>
      </div>
      <div class="productInfo">
        <small>Starting At:</small>
        <span class="price">$183.50</span> <small>ea.</small>
      </div>
      <div class="actions">
        <a href="wheel-details.php" class="button button-small button-gray">Details</a>
        <a class="previewWheelBtn button button-small button-gray" data-wheelid="o_wheel4">Preview</a>
        <a class="button button-small" data-open="addOptions">Add to List</a>
      </div>
    </div>
  </div>
}