﻿@model IList<VelocityWheels.Services.Models.WheelResultsModel>

@{
    ViewBag.Title = "Brand";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var wheel = Model.FirstOrDefault();
    string brand = wheel != null ? wheel.Brand : "";
}

<div class="bodyWrapper">
    <div class="breadcrumb">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li>
                    <a href="/Home">Home</a>
                </li>
                <li>@brand</li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h1>@brand</h1>
            <hr>
        </div>
    </div>

    <div class="wheel-list">

        <div class="row small-up-2 medium-up-4 large-up-6">

            @{
                foreach (var wheelResultsModel in Model)
                {
                    @Html.Partial("BrandPartial", wheelResultsModel);
                }
            }
        </div>

    </div>

    <div id="bottomToolbar">
        <a href="uploadData.php" type="submit" class="button"><i class="fa fa-check"></i> Upload Product Data</a>
        <a href="#header" class="toTop">
            <span class="typcn typcn-arrow-up typcn-2x"></span></a>
    </div>

</div>

@section Scripts {

}