﻿@model VelocityWheels.Services.Models.WheelResultsModel

<div class="column tile-padBtm">
    <h3>@Model.ProductName</h3>
    <h5>@Model.Finish</h5>
    <!--- Will Save onChange --->
    <select>
        <option value="">Active</option>
        <option value="">Discontinued</option>
        <option value="">Coming Soon</option>
    </select>

    <a href="/Wheels/Edit?brand=@Model.BrandId&style=@Model.StyleId&finish=@Model.FinishId">
        <img src="@Model.Image" width="300" height="300" alt="" />
    </a>
    <div class="text-center">
        <a href="/Wheels/Edit?brand=@Model.BrandId&style=@Model.StyleId&finish=@Model.FinishId" class="wheel-action">
            <span class="typcn typcn-camera typcn-pen"></span>
            <span class="text">Edit</span>
        </a>
        @*<a href="/Wheels/Media/@Model.Id" class="wheel-action">
            <span class="typcn typcn-camera typcn-sizeUp"></span>
            <span class="text">Media</span>
        </a>
        <a href="/Wheels/Builder/@Model.Id" class="wheel-action">
            <span class="typcn typcn-plus typcn-sizeUp"></span>
            <span class="text">Builder</span>
        </a>*@
    </div>
</div>