﻿@using VelocityWheels.Services.Models
@model List<VelocityWheels.Services.Models.BrandPartialModel>

@{
    ViewBag.Title = "BrandsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="columns">

        @Html.Partial("BreadCrumbPartial", new BreadCrumb()
        {
            CurrentCrumb = "BRANDS",
            CrumbUrlList = new List<Tuple<string, string>>() {}
        })

        <h1>Wheel Brands</h1>
    </div>
</div>


<div class="row align-center">
    <div class="small-12 column">
        <div id="brands-list" class="row small-up-1 medium-up-3 large-up-5 brands">
            @foreach (var brand in Model)
            {
                <div class="column">
                    <a href="/Brand/Index/@brand.BrandName">@brand.BrandName (@brand.Count)</a>
                </div>
            }
        </div>
    </div>
</div>