﻿@model VelocityWheels.Models.DashboardModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bodyWrapper">

    <div class="row bigGutters">
        <div class="small-12 medium-8 columns">

            <h2>Snapshot</h2>

            <div class="row smallGutters">
                <div class="small-6 medium-expand column">
                    <div class="statBox">
                        <span class="figure">@Model.Wheels</span>
                        Wheels
                    </div>
                </div>
                <div class="small-6 medium-expand column">
                    <div class="statBox">
                        <span class="figure">@Model.Vehicles</span>
                        Vehicles
                    </div>
                </div>
                <div class="small-6 medium-expand column vtws-hide">
                    <div class="statBox">
                        <span class="figure">@Model.Fitments</span>
                        Fitments
                    </div>
                </div>
                <div class="small-6 medium-expand column">
                    <div class="statBox">
                        <span class="figure">@Model.CustomerCars</span>
                        Customer Cars
                    </div>
                </div>
            </div>

            <div style="height: 2em"></div>

            <h2>My Brands</h2>
            <div style="height: 10px"></div>

            <ul id="brands-list-old" class="brand-list no-bullet">

            </ul>

            <div class="row align-center">
                <div class="small-12 column">
                    <div id="brands-list" class="row small-up-1 medium-up-3 large-up-5 brands">
                        
                    </div>
                </div>
            </div>

        </div>
        
    </div>


</div>

@section Scripts {
    <script src="//nvd3.org/assets/lib/d3.v3.js"></script>
    
    <script id="brandTmpl" type="text/x-jsrender">
        <div class="column">
            <a href="/Brand/Index/{{:BrandName}}">{{:BrandName}} ({{:Count}})</a>
        </div>

    
    </script>
    


    <script type="text/javascript">

        $(document)
            .ready(function() {
                $(function() {
                    var list = $("#brands-list").html("");
                    $.get("/Brand/GetBrands",
                            function(data) {
                                //console.log(data);
                                var myTemplate = $.templates("#brandTmpl");
                                if (data.Error == null) {
                                    var html = myTemplate.render(data);
                                    list.html(html);
                                } else {
                                    console.log(data.Error);
                                }

                            })
                        .fail(function() {
                            console.log("failed to get brand results");
                        });
                });
            });
    </script>
}