﻿@using System.Web.Optimization
<!DOCTYPE html>

@{
    ViewBag.Title = "Velocity Tech Admin";
    Layout = null;
}

<html ng-app="vtAdminApp">
<head>
    <title>@ViewBag.Title</title>


    @Styles.Render("~/bundles/admin/style")
    @Scripts.Render("~/bundles/admin/script")
    
    


</head>
<body>
    <div>
        <div>
            <div ui-view="topmenu"></div>
        </div>
        <div>
            <div ui-view="content"></div>
        </div>
    </div>
</body>
</html>