﻿@model VelocityWheels.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="bodyWrapper">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row align-center align-middle" style="min-height:80vh;">
            <div class="small-12 column login-box">

                <h2>Login</h2>

                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>

                <div style="height:0.5rem;"></div>

                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "help-text", style = "color: red;" })
                </div>

                <div style="height:0.5rem;"></div>


                <input type="submit" value="Login" class="button w100" />
            </div>
        </div>

    }
</div>




